[2020-04-30 12:58] xjasonlyu opened #1 "Long line issue"
Hi,

when I have a long line code inside my page, it would 'overflow'...

Like this:

<img width="1048" alt="Screen Shot 2020-04-30 at 8 57 23 PM" src="https://user-images.githubusercontent.com/28824352/80712924-3eb01780-8b25-11ea-80ea-00ed516112cd.png">

[2020-04-30 16:27] lxndrblz commented on #1
Hi there,

Thanks for bringing this issue to my attention.

I've tweaked the css for the code blocks. Please see my commit 27289efeb428d8a8ba527ffe78b2ecf1d2002f60. Instead of the ugly overflows, it's now adding a horizontal scrollbar. This behaviour is very similiar to how github gists is handling too wide code blocks.

![image](https://user-images.githubusercontent.com/12200062/80734362-57153780

[2020-05-04 21:02] adamj-codethink opened #2 "Home page issue"
Hi there,

loving this theme, thanks for the work!

I'm having an issue where i have a home defined:

[[menu.main]]
  name = "Home"
  identifier = "home"
  weight = 100
  url = "/"

I also have an empty index.md file

However the index.html layout is not loading?

I'd like a home page that shows the most recent blog posts.

Any help on how to fix this would be appreciated

[2020-05-04 21:42] adamj-codethink commented on #2
Hi just an update my website is hosted here: https://adamjones.website/

I would like my "About" page to appear automatically when the websites starts, but if i create a index.md and add the markdown from my about page, the site navigation fails?

[2020-05-04 21:57] adamj-codethink opened #3 "Disqus comments not working"
hi,

I have also enabled comments in my posts and set my disqusShortname, but none of the posts contain any disqus links?

Any idea what this could be?

thanks

[2020-05-05 05:37] lxndrblz commented on #3
Hi Adam,

Thanks for helping to make this theme better.

I've just verified your issue on my personal site. Unfortunately, I couldn't reproduce the issue there, but never the less I want to help you in addressing the issue on your site too.

Did you make sure to uncomment the disqus section in the `config.toml`?

Before:

[code]

After:
[code]

Something else that should be noted is that Disqus do

[2020-05-05 07:46] adamj-codethink commented on #3
Hey Alex,

No problem, i really like this theme so would love to get everything working :)

This is also my first Hugo blog, so i could be making silly mistakes (sorry).

So my Disqus config is set exactly like that.

However as you stated i did not realise Hugo had a "type" setting for "posts" as i assumed if it was unders the posts directory that it would be parsed as such.

Adding `type: posts`

[2020-05-05 07:47] adamj-codethink commented on #2
Hey,

A quick update.

Setting `type: post` on my posts fixed this issue.

The index page now appears correctly listing  my latest blog posts.

I'd still be interested to know if i could remove that and just have a satic text page as the default root page though.

Thanks

[2020-05-05 07:48] #3 closed

[2020-05-05 13:02] lxndrblz commented on #2
Hi Adam,

anatole comes with a custom archtype called `post`. If you create a new post by issuing the following command 'hugo new post\foo.md' it will be of type post.

Do I understand you correctly, that you want to use another site other than the `index.html` as your homepage? (Like your about site)

[2020-05-05 13:18] #2 closed

[2020-05-16 11:26] msfjarvis opened #4 "Dark theme support"
This should be rather straightforward to implement with CSS3 variables and the `prefers-color-scheme` media query. I'd personally also love for there to be a user-facing toggle since some platforms don't support the `preferes-color-scheme` query. For that purpose I have put together a bit of [JS](https://github.com/msfjarvis/msfjarvis.dev/blob/730e1e7a0f0c6374f475b8dfd34f13bcf878969d/assets/js/the

[2020-05-16 13:24] lxndrblz commented on #4
Hello Harsh, thanks for your suggestion; it's highly appreciated. I've added this to the theme's [roadmap](https://github.com/lxndrblz/anatole/projects/1).

A while back, I also thought about it and did some initial research and it doesn't look too hard. Please feel free to contribute to the theme, if you got it working on your personal site.

[2020-05-16 13:57] msfjarvis opened #5 "Better CSP compatibility"
I employ a rather focused CSP on my website which forbids a lot of common XSS vectors like inline styling. This creates problems with multiple features in the theme, notably the Medium-like zoom effect. `medium-zoom.min.js` creates a `style` tag in code but does not set a nonce which means I cannot whitelist it without relying on a potentially flaky sha256 sum that will require changing everytime

[2020-05-16 15:32] lxndrblz commented on #5
Thanks for pointing this out. I am totally with you, that his has to be fixed, in the light of the possible attach vectors and also the increasingly difficult maintenance the current approach causes.

I will try to change the processing of all the locally hosted js content to Hugo pipes and make the necessary changes, like you stated. Your approach looks correct to me and it shouldn't be too much

[2020-05-16 16:32] msfjarvis commented on #5
If it's any help I'm more than happy to split the subtasks here to make this go faster.

[2020-05-17 12:15] lxndrblz commented on #5
Hi there, Thanks for your offer.

I'd started working on this and created a new branch for addressing this issue.

The only thing that is still really giving me headaches, is how to securely and dynamically generate the nonce. Just setting a static nonce, which would then be added to the CSP, would lead to a safety almost insecure as allowing `unsafe-inline`.

Do you have any idea on how this coul

[2020-05-17 12:49] msfjarvis commented on #5
That's true. If a secure nonce is not easy to generate then simply keeping track of the sha256 sum the browser generates upon CSP violations is a good compromise but certainly a manual effort.

If the CSS is already included then yes there's no need to dynamically inject it. I'm pretty sure that'll also resolve the CSP problem. I'll pull your branch and confirm that in just a second.

[2020-05-17 13:04] msfjarvis commented on #5
The new branch is _almost_ perfect! The final CSP violation is [here](https://github.com/lxndrblz/anatole/blob/8ecb2e1c1dbfa5b4619267333b7a26af776c7cbb/layouts/partials/medium-zoom.html#L4)

[2020-05-17 13:11] lxndrblz commented on #5
Thanks for confirming this so quickly. We are definitely getting there! Let me check if this script tag really has to be inline.

[2020-05-17 13:22] msfjarvis commented on #5
w.r.t. https://github.com/lxndrblz/anatole/commit/8ecb2e1c1dbfa5b4619267333b7a26af776c7cbb#diff-929a8a6e57dacfcbc3ef2392954dc249R11, it's probably worthwhile to use [resources.Concat](https://gohugo.io/hugo-pipes/bundling/) for `js/jquery-appear.js` and `js/jquery-migrate.js` to avoid an extra network request. Putting all three together will make the request too large and prone to delaying the TTI

[2020-05-17 13:30] lxndrblz commented on #5
Nicely spotted. That should be easy to  [fix](https://gohugo.io/hugo-pipes/bundling/).

[2020-05-17 13:53] lxndrblz commented on #5
I've just moved this remaining code block also to the corresponding js file and also concatenated the `s/jquery-appear.js and js/jquery-migrate.js`. I can't think of any other CSP issues. Would you mind verifying?

[2020-05-17 13:57] msfjarvis commented on #5
I can now fully pass CSP with this policy!

[code]

[2020-05-17 13:59] lxndrblz commented on #5
That's awesome. 🥇 Thanks for your contribution. I'll merge the branch to the master.

[2020-05-17 14:03] #5 closed

[2020-05-17 21:56] jd4900 opened #9 "Example Site Code does not match Sample Pictures"
Hi! Thanks for this template.

I am setting up my website and am noticing some deviations between the base code and the pictures. For example, the menu in the sample picture has an About page but in the `config.toml` there is no about page listed.

Is it possible to update the example site so it is easier to follow along with the template?

[2020-05-17 21:58] jd4900 commented on #9
Nevermind! I see what I am doing wrong. 🙃

[2020-05-17 21:58] #9 closed

[2020-05-18 12:06] lxndrblz opened #10 "Replace screenshots in documentation"
The screenshots in the images folder are showing a dated version of the theme. Those should be replaced with the most current one.

[2020-05-18 12:34] #10 closed

[2020-05-18 19:04] lxndrblz opened #12 "About menu not appearing"
The  About menu is not appearing on the Hugo Demo site.

[2020-05-18 19:13] #12 closed

[2020-05-19 06:58] lxndrblz commented on #9
Hi there. Sorry for the late reply.

I've tweaked the toml file in a way that it's now displaying the about page, without having to define a custom frontmatter. :)

[2020-05-21 14:41] #4 closed

[2020-05-21 15:08] msfjarvis opened #14 "Dark theme switching is buggy"
On mobile, switching themes results in a rather ugly transition as can be seen in [this](https://dl.msfjarvis.dev/temp/screen-20200521-203120.mp4) screenrecord. This behaviour is similar on desktop, where the sidebar with profile animates differently than the content causing weird transitions on first load in addition to theme switching.

I'd also suggest moving the theme switching JS to the `head

[2020-05-21 15:15] lxndrblz commented on #14
Thanks. I didn't notice that before, but in your screencast, it looks quite ugly.
Simply moving the script, doesn't help. I suspect, the problem might be related to the animation itself.

[2020-05-21 15:20] msfjarvis commented on #14
Yeah moving the script isn't the fix but avoids a separate class of problems where the theme switch doesn't happen early enough resulting in the site loading in light mode first.

[2020-05-21 19:46] msfjarvis commented on #14
Can confirm this is fixed, though the background color has changed and is not consistent anymore between the rest of the page and the <code> tags

![](http://imgur.com/a/hM0WOWp)

[2020-05-21 19:51] lxndrblz commented on #14
Thanks for your feedback. I've reopened the issue so it doesn't get forgotten. I'll investigate that tomorrow. Should be a minor issue in the grand scheme of things and can probably be fixed by adjusting the css variables.

[2020-05-21 19:55] msfjarvis commented on #14
Would probably be worth bundling a syntax highlighting stylesheet (from `hugo gen chromastyles`) and adapting it with the CSS variables to ensure a consistent experience between dark and light theme.

[2020-05-22 04:41] pythrick opened #15 "Social icons not showing"
https://themes.gohugo.io/theme/anatole/

[2020-05-22 06:32] lxndrblz commented on #15
Hi there,

Would you mind sharing a screenshot of what it looks like on your device?

The social icons appear perfectly fine on all of my devices. Please also include the information about the Browser/platform. This could help me to track down the issue.

Alex

[2020-05-22 11:13] msfjarvis commented on #14
#16 should resolve the color discrepancy

[2020-05-22 11:48] msfjarvis opened #17 "Lighthouse report: Accessibility concerns"
Running Lighthouse on the site points out a few problems, which I'm splitting across separate issues based on category to make them easier to triage.

For accessibility, the following issues were reported:

- List items are not contained within `<ul>` or `<ol>` parent elements.

This seems to be violated by this line https://github.com/lxndrblz/anatole/blob/292a8afde384c8ce887f41cc80b94d77b3514879

[2020-05-22 11:52] msfjarvis opened #18 "Lighthouse report: Performance concerns"
Running Lighthouse on the site points out a few problems, which I'm splitting across separate issues based on category to make them easier to triage.

For performs, the following issues were reported:

- Eliminate render-blocking resources

Flagged due to https://github.com/lxndrblz/anatole/blob/master/layouts/partials/head.html#L13

- Ensure text remains visible during webfont load

Flagged again

[2020-05-22 12:16] msfjarvis commented on #17
Looking closely at a fresh Lighthouse report after enabling social icons, I noticed an additional set of errors that are fixed by #19

[2020-05-22 13:39] lxndrblz commented on #17
Thanks Harsh, I just also ran the lighthouse test on my personal site. While all other categories were 100, accessibility lacked far behind. I'll review your pull request and go ahead and merge it. Thanks for your continuous efforts!

[2020-05-22 14:42] msfjarvis commented on #17
Accessibility on my personal site is now at 100!

[2020-05-22 14:42] #17 closed

[2020-05-22 14:56] msfjarvis opened #20 "Current item highlighting in navbar is error-prone"
In the example site, when you select the `About` tab it will not be underlined in the manner `Home` and `Posts` is. I checked the generated HTML and can confirm the Hugo trick used to set `class="current"` seems to not work on standalone pages, as can be reproduced on my staging site at [https://staging.msfjarvis.dev](https://staging.msfjarvis.dev) where all nav items except `Posts` are standalone

[2020-05-22 15:12] geoffreywwang commented on #14
While it isn't the same bug, I've been having issues with the dark theme switching on Safari (everything works fine in Chrome). Here is a [https://youtu.be/nsXQHegdErI](video) of it. It also seems to happen on the example site on mobile Safari as well.

I can submit another issue if you would like.

[2020-05-22 15:17] lxndrblz commented on #14
@geoffreywwang Would you mind submitting a separate issue as this discussion seems to mainly focus on the the code stylesheets? Thanks for the video. I'll try to get a hold of a Safari browser in order to be able resolve this.

[2020-05-22 15:22] geoffreywwang opened #21 "Dark theme switching Safari bug"
I've been having issues with the dark theme switching on Safari (everything works fine in Chrome). Here is a [video](https://youtu.be/nsXQHegdErI) of it. It also seems to happen on the example site on mobile Safari as well.

[2020-05-22 15:29] lxndrblz commented on #20
Hello Harsh, I was able to reproduce the issue and added my changes to a separate branch.
Would you mind verifying if this branch also resolves your issues on your staging site?

[2020-05-22 15:34] lxndrblz commented on #18
I got a perfect score, despite those two recommendations. I'll check if we can resolve this, but I doubt there is an easy solution (especially not for the later issue).

[2020-05-22 15:36] msfjarvis commented on #20
On it!

[2020-05-22 15:38] msfjarvis commented on #20
I don't see any changes in https://github.com/lxndrblz/anatole/commits/buggy-menu, is the branch not fully pushed?

[2020-05-22 15:51] lxndrblz commented on #20
My bad. Try again. :)

[2020-05-22 16:12] msfjarvis commented on #20
Still doesn't seem to work for the `About` menu item, other two are working. Maybe this is a configuration issue on my site? The source is here if you wanna investigate: https://github.com/msfjarvis/msfjarvis.dev/tree/staging

[2020-05-22 16:35] geoffreywwang commented on #21
Commit 292a8af seems to be what broke this actually. Specifically, adding `background-color: var(--bg-color);` to each of the keyframes. While there isn't any more flickering on Chrome, there is also no more animation and the theme instantly changes.

[2020-05-22 17:59] lxndrblz commented on #20
I'll check it out.

[2020-05-22 18:00] lxndrblz commented on #21
That's good news. Would you mind submitting a PR with the proposed changes?

[2020-05-22 18:05] geoffreywwang commented on #21
I'm sorry, I wasn't very clear in that previous comment. The change in 292a8af didn't actually fix Chrome's issue, it just removed animations (and made it seem like it was fixed). Removing those lines in the CSS fixes Safari but brings back the flickering. I'm looking into fixing animation timings and will submit a PR when I find a solution.

[2020-05-22 18:48] geoffreywwang commented on #21
I created a PR for the fix. The borders do seem to fade weirdly with this new change though. I can't tell if it is the theme itself or a new problem with border animations.

[2020-05-22 20:04] pythrick commented on #15
I've just found the issue, it was in my browser extension: Adblock Plus. I can't figure out why it happens, but when I deactivate the extension the social links shows up again. I'm using Google Chrome btw. Maybe it should not treated as a bug, so, I'm sorry about creating this issue.

[2020-05-22 20:09] lxndrblz commented on #15
Thanks for the clarification. I will go ahead and close the issue, as this doesn't seem to be an issue realized to the theme itself. Other adblocker such ublock dont seem to have any issues.

[2020-05-22 20:09] #15 closed

[2020-05-23 16:30] lxndrblz commented on #20
Please notice that your menu items in the `config.toml` should have a trailing slash. Such as:
[code]

Check the ReadMe as a reference.

Would you mind trying the newest update in the branch on your staging server? Your site executed locally just fine.

[2020-05-23 16:32] msfjarvis commented on #20
That fixed it!

[2020-05-23 16:34] msfjarvis commented on #20
[code]

Does spew out this warning though

[2020-05-23 16:37] lxndrblz commented on #20
Yeah, I am aware of this. Before commiting this to the master I'll change it to .Permalink. Just wanted to make sure we are on the right track.

[2020-05-23 16:45] lxndrblz commented on #20
RefPermalink seemed to do the trick. 👍

[2020-05-24 09:27] #20 closed

[2020-05-24 12:27] lxndrblz commented on #21
Thanks Geoffrey. I will have a look at your PR and check if there isn't a universal fix (Make it run on Safari without any weird distortions in another browser).

[2020-05-25 08:09] lxndrblz commented on #21
Hey @geoffreywwang , I've reviewed your PR and it looks good to me. I couldn't find any major issue in my testing environment. What did you mean with "fade weirdly"? The only thing I noticed is that they turn black when switching from light to dark mode. Is that what you meant?

[2020-05-25 18:08] geoffreywwang commented on #21
Yeah, for some reason they fade to black before fading to the right color and I can't tell why. Don't know if this is in the scope of this issue, so I just wanted to point it out.

[2020-05-25 18:11] lxndrblz commented on #21
Thanks. I've noticed that too. It looked quite ugly to be honest. Would you mind checking my latest commit to your branch if the weird transition is gone and if site displays properly?

[2020-05-25 18:34] #21 closed

[2020-05-27 14:45] ehamiter commented on #14
I also noticed an issue if you have dark mode enabled, then click on a picture, the background turns white. I remedied this with the following, but didn't make a PR because it feels kinda hacky and there might be a more sensible way of fixing it:

[code]

[2020-05-27 14:54] lxndrblz opened #24 "Medium Zoom appears white in darkmode"
I also noticed an issue if you have dark mode enabled, then click on a picture, the background turns white. I remedied this with the following, but didn't make a PR because it feels kinda hacky and there might be a more sensible way of fixing it:

[code]

_Originally posted by @ehamiter in https://github.com/lxndrblz/anatole/issues/14#issuecomment-634710567_

[2020-05-27 15:43] #24 closed

[2020-05-28 08:11] lxndrblz opened #26 "Footnote pointing to homepage"
The link of the footnote in the markdown example is pointing to the homepage rather than to the corresponding site.

https://themes.gohugo.io//theme/anatole/post/markdown-syntax/

[2020-05-28 22:00] geoffreywwang commented on #26
I had this issue as well. This is because of the backref tag in the header. I removed it and footnotes work fine now, but it also broke relative pathing (which I haven't fixed).

Fixing this bug will lead to a new one that makes footnote backrefs scroll to the footnotes but hide them behind the nav bar. The fix required some CSS hacks.

I'm sorry that I don't have the time to submit a PR but you c

[2020-05-28 22:12] ehamiter opened #27 "Subsource Integrity errors"
I'm getting 6 `Subsource Integrity` errors-- it's stating that I have `css` and `js` links that have an `integrity` attribute but missing a `crossorigin=anonymous` attribute. Do I need to set up something that allows this to work? I'm hosting this on render.com if that helps.

Everything works fine locally.
[code]

[2020-05-29 21:14] #27 closed

[2020-05-30 12:43] #26 closed

[2020-05-30 12:45] lxndrblz opened #30 "Create chromastyles sheets for consistent experience"
Would probably be worth bundling a syntax highlighting stylesheet (from `hugo gen chromastyles`) and adapting it with the CSS variables to ensure a consistent experience between dark and light theme.

_Originally posted by @msfjarvis in https://github.com/lxndrblz/anatole/issues/14#issuecomment-632311088_

[2020-05-30 13:11] lxndrblz commented on #14
Actually I like the fact that the code blocks can be distinguished from the content itself in dark and light mode. In order to follow through on your idea of using chromastyles for correctly styling the code blocks I've opened up a separate issue. I go ahead and close this one, as there is nothing more directly related to the problem initially discussed.

[2020-05-30 13:11] #14 closed

[2020-05-30 14:05] Sptandi opened #31 "Social icon not show"
![image](https://user-images.githubusercontent.com/4879509/83330452-29134680-a2b9-11ea-9ac6-b78f9763f451.PNG)

I already turned off adblock, but still not working.

[2020-05-30 15:08] lxndrblz commented on #31
Would you mind providing me two pieces of information?

Is there a way I can access your site to try it myself? If yes, please provide the URL.

Could you please also post the content of your config.toml?

[2020-05-30 15:20] Sptandi commented on #31
Sorry but currently it's still in localhost

**config.toml**
[code]

[2020-05-30 15:36] lxndrblz commented on #31
Thanks for sharing the configuration!  Can you try to set the icon to just the corresponding fontawesome class?

 In case of GitHub that would be the following:

`[[params.socialIcons]]
icon = "fa-github"
title = "GitHub"
url = "https://github.com/lxndrblz/anatole/"`

You might want to check the config.toml in the exampleSite folder.

[2020-05-30 15:56] Sptandi commented on #31
Wow thanks, it's work

I didn't notice that the setting in the params

[2020-05-30 16:13] #31 closed

[2020-05-30 20:46] geoffreywwang commented on #26
For anyone looking, the scroll padding css tag used here doesn't work on Safari. You might need to the snippet below to your `style.css` file as a hack. (Unfortunately, it isn't super consistent either, but the best workaround I was able to find.)

[code]

[2020-06-18 20:00] SamEdwardes opened #32 "favicon not showing"
Thank you very much for creating this theme. I think it looks great and was easy to set up. I think I am experiencing a bug with the favicon.

My static folder is set up as follows:

[code]

config.toml looks like:

[code]

The favourite icon does not show up on my site [samedwardes.com](samedwardes.com):

![Screen Shot 2020-06-18 at 12 58 48 PM](https://user-images.githubusercontent.com/18248949/

[2020-06-18 20:19] lxndrblz commented on #32
Hi Sam. Thanks for submitting your issue. I've just checked your site and the favicon shows up perfectly fine. Did you try to view the page in private mode or on another device?

[2020-06-20 02:17] SamEdwardes commented on #32
Thank you for the quick response! Maybe it is something to do with my browser cache or other issues. I will try and clear everything and test again. But if it is working on your end I trust it is working for other visitors.

May I suggest a PR to clarify in the documentation how to use the favicon? I would be happy to draft this.

P.s. I am a blog/web rookie. This is only the second site I have ma

[2020-06-20 05:25] lxndrblz commented on #32
Give it a try and let me know if it works.

A PR is always welcome! Actually, incomplete/difficult documentation is something that frustrates me about most Hugo themes. I, therefore, try not make the same mistake and explain the configuration in a way it can be understood by beginners too.

[2020-06-21 19:20] SamEdwardes commented on #32
Thanks for the feedback Alexander. I confirm that it is now working on my browser using Google Chrome. For some reason still no luck with Firefox. Anyways not a big issue for me at this point.

![chrome](https://user-images.githubusercontent.com/18248949/85233213-7a46bf80-b3b9-11ea-89b5-b0adb225f7be.png)

![firefox](https://user-images.githubusercontent.com/18248949/85233215-7d41b000-b3b9-11ea-86c

[2020-06-21 19:41] lxndrblz commented on #32
Anatole also allows png based favicons:

[code]

You might want to try generating those too by using [faviconit](http://faviconit.com/. ). Your favicon.ico is also quite big dimensions wise. I will add a note about this to the readme too.

[2020-06-21 20:13] SamEdwardes commented on #32
I think you solved it. The problem was my favicon was too big, and I also did not realize you should generate different icons for different scenarios.

I ended up resizing my icon to 260x260, and then fed it through [realfavicongenerator.net/](https://realfavicongenerator.net/). I stored the resulting download in `static/favicons/`

It now works on Firefox.

![Screen Shot 2020-06-21 at 1 12 55 PM]

[2020-06-22 21:07] #32 closed

[2020-06-24 23:53] kevindstevens1010 opened #34 "Hide Post"
Hi - I'm totally new to Hugo, is there a way to hide posts? I've added a tags section in the header, and the index page comes up.  It's not in my post folder, but it is in the content section.

Thank you for any help and putting together this theme.

![image](https://user-images.githubusercontent.com/67278603/85638582-dfb1df00-b64b-11ea-8a0f-dac8e99b0f33.png)

[2020-06-25 18:09] lxndrblz commented on #34
Hi thanks for reaching out.

Let me recap. You are trying to list only posts with a tag assigned but not sites?

The template that got applied on your tags page is the `list.html`. By default this template loops through all pages by using the range function.
[code]
If you wan to display only posts with a tag than that's also possible. You could simply set your menu item to link to the 'tags' page,

[2020-06-25 19:08] kevindstevens1010 commented on #34
That appears to have worked.  I had the full URL in listed in config. and making that change fixed it.

Thank you!

I also have some questions around social buttons in each post for sharing.  But, I'm trying to figure these things so I don't flood the issues page.

[2020-06-25 19:08] #34 closed

[2020-06-26 01:13] kevindstevens1010 opened #35 "Link Preview"
Is there a way to set a link preview for social sharing? I’d like it to show up even if there’s not an image in the post.

I shared a post to Twitter tonight, and just the link shows up.

Thank you!

[2020-06-26 04:24] lxndrblz commented on #35
Hi - Unfortunately, That's something that is still on my roadmap.

https://github.com/lxndrblz/anatole/projects/1#card-38274469

However, It shouldn't be too hard to implement, as Hugo comes with a default template. See the [documentation](https://gohugo.io/templates/internal/) if you want to know how it could be implemented.

I hope to get it done within the next couple of days. 😊

[2020-06-28 05:09] codyleyhan opened #36 "Navbar on mobile overflows with no scroll"
When I add too many links to the navbar, the content overflows but does not allow for horizontal scroll/ a way to see the overflowed content.  Below is an example of what I am seeing on an iPhone X.
![image](https://user-images.githubusercontent.com/11651981/85938463-83a4c000-b8c2-11ea-9b0b-189545a8b90a.png)

Additionally, it seems like the color change icon is on it's own line in this case.

I th

[2020-06-29 16:54] lxndrblz commented on #36
Thanks for reporting this issue! This looks indeed super ugly. 🙈
I am currently working on a Flexbox approach that will allow the menu items to overflow.

[2020-06-30 18:34] lxndrblz commented on #35
Hi there, Thanks for waiting.

Twitter Cards support is now available for all Anatole users. 🎉
Either a default image for the site or a per page image can be defined.

![image](https://user-images.githubusercontent.com/12200062/86163580-be039c80-bb10-11ea-8570-d6e4e749f91f.png)

[2020-06-30 18:34] #35 closed

[2020-07-16 17:14] PiotrWachulec opened #38 "Can I set dark mode in theme as default in config?"
Link above.

[2020-07-16 17:30] lxndrblz commented on #38
Hello Piotr, thanks for your inquiry.

Right now there is no simple way of setting the dark theme as the standard in the the config. However, it can still be accomplished with some manual tweaking.

You would need to patch this condition in the `anatole-header.js`.

[code]

To something more like this:
[code]
What is different here is that the original function takes in account if a user has darkm

[2020-07-16 17:39] PiotrWachulec commented on #38
Hello @lxndrblz ! Thanks a lot for really quick and expanded answer! :) I'm not planning to hack it manually :) Thanks again!

[2020-07-16 18:49] PiotrWachulec opened #39 "Can I add custom js?"
Like above. Reason? For example for adding cookie consent.

[2020-07-17 21:01] PiotrWachulec commented on #39
Hi @lxndrblz ! Thank you so much for your work and engagement! I tested new changes and it seems to work with scripts which are stored in `assets/js/` folder, but when I try to add external scripts, it doesn't work:
`customJs = [
        "https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?always=1"
    ]`
I checked it on Chrome and Firefox. There are no errors in the console.

[2020-07-18 01:25] lszczygielek opened #40 "Support for multiple languages"
Theme looks great. Is there a chance to support multiple languages?

[2020-07-18 02:29] lalabg opened #41 "lang="{{- site.Language.Lang -}}""
I seem to have missed something
hugo v7.0+
`lang="{{- site.Language.Lang -}}"`
languageCode = "sg","de","ly"
forever
`<html lang="en" data-theme="light">`

[2020-07-18 08:36] lxndrblz commented on #41
Hi there,

in order to set the language code to `de` globally, you would need to configure the `DefaultContentLanguage` as it defaults to `en`. 🚩

The `languageCode` only affects the RSS generation and multi language setups.

https://gohugo.io/getting-started/configuration/

[2020-07-18 08:36] #41 closed

[2020-07-18 08:49] lxndrblz commented on #40
Hello @lszczygielek ,

Thanks for your inquiry and praise.

Right now there is no support for multiple languages, but I can see there is a need for many users. That's why I have added into the project's roadmap. However, it's also a bit laborious in terms of implementation and testing.  If you want to help, then feel free to open a PR. Contributions are always welcome!

[2020-07-18 08:57] lxndrblz commented on #39
@PiotrWachulec  That's correct. Hugo's `resources.Get` function can only load local resources and process (fingerprint, minify) them. I've chosen it to be this way as it allows me to keep everything in one repo and have a better control over the security.

You won't be able to see an error in your browser's console as these scripts won't be included by Hugo while building your site. Indeed, Hugo s

[2020-07-18 17:02] PiotrWachulec opened #42 "Disappearing posts from home page"
Hi @lxndrblz ,

I'm trying to add Disqus comments on my website with your theme. I have a website configured like in an example site. When I added Disqus shortname in the config and in my posts I added `type: "post"` (like [here](https://github.com/lxndrblz/anatole/issues/3)), the comments section in posts was visible, but all posts with this markup disappeared from the home page. You can observe

[2020-07-18 17:14] PiotrWachulec commented on #39
@lxndrblz thanks for your response. What is interesting, when I add a line from the issue description, I don't get any errors in Hugo, all compile successfully.

So, could you give me any advice, how can I add external scripts to Hugo? Thanks in advance!

[2020-07-19 08:44] PiotrWachulec commented on #42
I fixed it - folder with posts have to name **post**, not **posts**. Then even adding `type: post` is unnecessary.

[2020-07-19 08:44] #42 closed

[2020-07-19 10:38] lxndrblz commented on #42
I want to add some additional information to the linked issue #3 as some things have changed over time. The disqus comments are displayed if the type is "Post".  A new post can be created by:
[code]
The content displayed on the frontpage can be controlled through:

[code]
Like you noted, in the `exampleSite` this is also set to `post` (no plural).

Hope that makes sense.

[2020-07-19 11:13] lxndrblz commented on #39
@PiotrWachulec  I can't quite believe that you are not getting any errors, but let's come back to your original question.

The way the cookie script works is a bit unique, as it can't just be downloaded and included locally because it's heavily depending on the parametrization. If you want to include that `cookiebar` into your site and can only be done by manually adding it to the `head` or `foote

[2020-07-19 11:13] PiotrWachulec commented on #42
Thanks for additional explanation. I tested it on my own and now I know how it works and how it should be configured :)

[2020-07-19 13:38] PiotrWachulec commented on #39
You're right, I got an error - but not locally, I got below error in my CI&CD pipeline:
[code]
Thanks for your response! I'm using your theme as a submodule, so probably this way is not good. I think it's worthy to consider, because things like cookie consent is required by EU law.

In the [other theme](https://github.com/luizdepra/hugo-coder) which I'm using on a different website, it is solved b

[2020-07-21 11:24] lalabg commented on #41
thanks, You\'re absolutely right.

[2020-07-21 12:03] lalabg commented on #36
Mobile example: 三 ico , click , drop-down menu . . .Is it feasible?
add submenu
[code]
 `menu{display: none;}`
`@media only screen and (max-width: 768px) menu{  display: block; cursor: pointer;}`

[2020-07-21 17:35] #39 closed

[2020-07-21 17:38] lxndrblz commented on #36
@lalabg Yes, I am fully aware that the current situation might not be fully satisfying for sites with lots of menu items.
Actually, This is something I am currently working on along with other GUI improvements (such as being able to turn off the sidebar). Bare with me just a bit longer, and I am sure I'll be able to present something slick and scalable.

[2020-07-22 07:01] PiotrWachulec commented on #39
@lxndrblz you are amazing! I really, really appreciate your engagement in solving my problem! Thanks a lot for your time and great work!

[2020-07-22 13:35] lalabg commented on #36
@lxndrblz thanks, looking forward to.

[2020-07-23 11:30] okimurak opened #43 "Hugo Build does not finish properly"
# Content

When I try to build command , I get the following error and the build will not finish properly.

[code]

[2020-07-23 11:35] okimurak commented on #43
If you set a single space at the end, you can execute the build command correctly.

[code]

https://github.com/lxndrblz/anatole/blob/master/layouts/partials/head.html#L31

[2020-07-23 12:03] #43 closed

[2020-07-23 13:35] jwalsh2me opened #45 "Dark Mode?"
Is Dark Mode an option in the `config.toml` or something I need to customize?  I noticed it on your site @lxndrblz.

[2020-07-23 13:36] #45 closed

[2020-07-23 13:36] jwalsh2me commented on #45
Never mind... I see it...

[2020-07-23 13:54] 7-qiliu opened #46 "can the page be divided into two columns?"

[2020-07-23 15:02] lxndrblz commented on #46
Hi there,

Thanks for your issue. Would you mind specifying your exact need? A screenshot would be helpful too.

Alex

[2020-07-23 15:03] #18 closed

[2020-07-23 16:43] 7-qiliu commented on #46
Hi @lxndrblz

thanks for your kind reply. The exact need for two-column layout is that left side contains the image, and right side contains the text.The example screenshot is shown below:
<img width="1066" alt="screenshot_two_column" src="https://user-images.githubusercontent.com/51437250/88313112-9b4a5980-cd45-11ea-9087-1bc04c7b3882.png">

When viewing in the phone, it would become two-row layou

[2020-07-24 23:26] amosino opened #47 "Description in Yaml. Rmd Files."
Hello. I'm adding some description in the yaml metadata of my posts. However, the default summary is still being shown in my site instead of my description. **I'm writing .Rmd files**. Why I'm doing wrong?

This is the metadata I'm using:

---
title: Some Title
author: Me
date: '2020-07-24'
description: 'This is a description.'

slug: Some slug
categories:
  - C1
  - C2
tags:
  - T1
  - T2
weight:

[2020-07-25 05:27] lxndrblz commented on #47
Hello Alejandro,

I have a very little with rmd, but let's have a look. 😊

Did you try to use the summary option in the frontmatter rather than description?

Alex

[2020-07-25 05:31] lxndrblz commented on #46
Gotcha. Are you looking for this kind of style for only image descriptions or other content as well?

I really like how Casper handles the image descriptions. It looks really good. Might be worth adding such an approach to the project map.

[2020-07-25 07:37] 7-qiliu commented on #46
@lxndrblz yeah, I'm looking for this kind of style for image descriptions. The adaptive window looks comfortable :D

[2020-07-25 17:06] amosino commented on #47
Hello Alex,

It's kind of weird. I use the summary option as suggested, and everything seems to be rendering just OK on R Studio Viewer. However, when I serve the site to GitHub and viewing it on the web (using Netlify), no description (but the first lines of the post) is shown.

Alejandro

[2020-07-25 21:11] lxndrblz commented on #47
Alejandro,

Thanks for the clarification. I am currently away from my PC, but I'll try to reproduce it. I don't see any reason why it should ignore your summary from the frontmatter.

Mind checking one last thing: Does the site look correct if you create it locally? Or is the error already there?

Aldx

[2020-07-25 22:20] amosino commented on #47
When I used description I had an error both locally and on the web. Now, with summary, everything seems to be ok locally but not on the web.

Thanks again!

[2020-07-28 01:32] jwalsh2me opened #48 "Theme not rendering properly"
Did something change in the last build or two?  I did the following:

[code]

I do not get a functioning site, instead I get this:

<img width="423" alt="Screen Shot 2020-07-27 at 8 22 22 PM" src="https://user-images.githubusercontent.com/22819585/88608660-e4e9bb80-d047-11ea-8606-250b4775807d.png">

Did something break in the last few merges?  I was able to do this a few weeks ago, but when I newl

[2020-07-28 05:45] lxndrblz commented on #48
Hi John,

Indeed, That looks uggly. It looks like we are having either a simple caching issue or the css might not be linked correctly. Inorder to narrow down the problem, would you mind checking the following:

- Try using a different browser or private mode and check if it looks like it's right now.
- Can you check with the inspector if your css is linked correctly in the header (also try to fol

[2020-07-28 13:05] jwalsh2me commented on #48
Hi Alex,

I will try a new site local and load the theme.  Brew also jus update my Hugo version to 0.74.3.

John

[2020-07-28 13:27] jwalsh2me commented on #48
OK did the following:

[code]

Same rendering error, seeing CORS issues blocking localhost to the CSS.

<img width="1233" alt="Screen Shot 2020-07-28 at 8 18 02 AM" src="https://user-images.githubusercontent.com/22819585/88670734-0cbe3b00-d0ab-11ea-8e6e-fc1974b36ecb.png">

However clicking the links, the posts render and look fine:  http://localhost:1313/post/rich-content/

Thank clicking the link

[2020-07-28 18:56] lxndrblz commented on #47
@amosino  Thanks for your patient and your feed back. Something that is important with Netlify and RStudio is that you specify the correct Hugo version. Can you try executing a `blogdown::hugo_version()` and setting this as a new variable for your Netlify site (Key = HUGO_VERSION and Value = 0.XX.X)?

[2020-07-28 19:08] lxndrblz commented on #48
@jwalsh2me  I am having a hard time reproducing this issue, due to access to a Mac with Safari, but we are getting there. What I did notice is that the same error occurs when trying to access the localhost IP "127.0.0.1". Once you click on something it goes to "localhost" and then CORS works correctly. Can you please try to use `http://localhost:1313` rather than the IP version?

[2020-07-28 19:12] jwalsh2me commented on #48
Ah!  Yes, will give that a try.  That would explain it.

[2020-07-28 19:15] jwalsh2me commented on #48
@lxndrblz That did it... So it is a CORS issue with `127.0.0.1` versus `localhost`. Good catch, missed that redirect to localhost.  Guess it is not really a bug, as looking at Hugo they do say to connect to `http://localhost:1313/`

[2020-07-28 19:35] #48 closed

[2020-07-29 16:58] amosino commented on #47
Hello Alex,

As suggested, I set the hugo version on Netlify. But everything seems to be the same. No correct summary on the web :(.

[2020-07-29 21:33] amosino commented on #47
Oh no, wait! I think that was a matter of time. It finally worked after those changes!!!!

Thank you very much!

[2020-07-30 04:01] #47 closed

[2020-07-30 14:31] tangxuemei1995 opened #49 "I can't change my profile picture."
I have put my picture in [images] dictionary, I changed the path of profile picture in [config.toml].
 but when I open the web http://localhost:1313/, I can't see the picture.why?

[2020-07-30 17:13] lxndrblz commented on #49
@tangxuemei1995  I'm sorry you are having trouble getting the image to show up.

In understood that you put the image into the 'static/images' folder.
To help you narrow down the problem, I need a little bit more information:

- Could you please provide me a snippet of your 'config.toml' that shows the relevant section?
- Dou you get any errors in your browser/hugo console?
- May I also know, whic

[2020-07-31 05:56] tangxuemei1995 commented on #49
thanks for your reply.
when I use the original picture, it can't display normally, is this the problem of my browser.i use chrome.

I put my picture in 'static/images'. it's  'jpeg'.
<img width="289" alt="WechatIMG736" src="https://user-images.githubusercontent.com/40517398/89004607-22469580-d335-11ea-9ab0-18c39f54d8a8.png">

and I change the path:
<img width="253" alt="WechatIMG737" src="https://

[2020-07-31 16:15] lxndrblz commented on #49
@tangxuemei1995 Thanks for the screenshots.  I think I've found your problem. :)

You have to put the the `my.jpeg` inside the `static/images` of your "main" hugo folder. The exampleSite is only include as a quickstart to copy some default data. Also make sure you make the configuration changes to your `config.toml` in the main folder and not the `exampleSite`.

Your whole project structure should

[2020-08-01 08:01] tangxuemei1995 commented on #49
thanks, with your advice, I solved my problem. :)

[2020-08-01 08:53] #40 closed

[2020-08-01 08:59] #49 closed

[2020-08-01 11:10] #36 closed

[2020-08-02 12:21] dingdl opened #50 "Can we change the display content of the right column on the home page?"
When I change "post" to "about" of the "mainSections" parameter, the right column of the home page will show nothing. What should I do to make the "About" show on the home page?

[2020-08-02 14:04] lxndrblz commented on #50
@dingdl If I understood you correctly then you are trying to display your about page on the frontpage, where usually the posts are displayed. Unfortunately, such a scenario is not possible, as the index page is set up to display content of type posts and not single pages. Therefore, it's best to link your about page in the menu and put any content in the post folder.

In case you want to use the a

[2020-08-05 20:58] Rindrics opened #51 "Theme is not rendered on Netlify"
Thank you for providing excellent theme!!

The theme works on localhost, but not on Netlify.
I investigated the page source and found that css is not loaded on my website.

I was following #48, but my case seems different from that.

Would you please how to fix my problem?

## on localhost
<img width="932" alt="image" src="https://user-images.githubusercontent.com/14845847/89463330-ba1b0800-d7a9-1

[2020-08-06 04:44] lxndrblz commented on #51
@Rindrics  Thanks for your praise and for providing some valuable screenshots.

The problem here seems related to a CORS issue on your particular setup:

![image](https://user-images.githubusercontent.com/12200062/89489594-277b6880-d7ab-11ea-923a-8f770e0b8062.png)

Basically, the response to the CORS request is missing the required Access-Control-Allow-Origin header.

Could you please check if you

[2020-08-06 14:54] Sohn123 opened #52 "Mutlitlingual mode"
I tried to acitvate the multilingual mode with the description in the readme, but it didn't work. In addition to the changes to config.toml suggested there, I had to specify a base directory to get the multilingual mode working. If this is in general so, the readme should be adapted accordingly.

[2020-08-06 15:19] lxndrblz commented on #52
@Sohn123  Good catch. There are two ways of translating your content either by a suffix in the filename eg. `mypost.de.md` or by setting a `contentDir` for each language. I assume you used the latter option.

Nevertheless, I will add a few pieces of additional information to the readme to make this more clearly.

[2020-08-06 15:30] Sohn123 commented on #52
Now it works like a charm. Thanks for the great theme!

[2020-08-06 17:00] #52 closed

[2020-08-06 17:02] lxndrblz commented on #38
@PiotrWachulec  I will reopen this issue and it to the project roadmap. I think a lot of users could benefit from this.

[2020-08-06 17:04] PiotrWachulec commented on #38
Really great! ;) Thanks @lxndrblz ;)

[2020-08-06 17:38] #38 closed

[2020-08-08 01:39] isa-chavarria opened #53 "problems creating posts and making them show up correctly"
I am starting with hugo proyects.
I was trying to use this template.
I create my own md and i am trying to be able to see it on the posts section.
But its still showing me the default .md on the example project.

![image](https://user-images.githubusercontent.com/17171295/89702366-e5167080-d8fd-11ea-8b12-18ee2e26255a.png)

I am able to show them on the home page. Since i am using the mainsections,

[2020-08-08 04:57] isa-chavarria commented on #53
I tried to remove all the md and start again.
I create my md "Coronavirus"
But now i am not able to load it on the posts page.

![image](https://user-images.githubusercontent.com/17171295/89702690-0e84cb80-d901-11ea-8685-6fb563518f68.png)

when i try to access the posts i am not able to get the list on it.

![image](https://user-images.githubusercontent.com/17171295/89702710-4724a500-d901-11ea-940

[2020-08-08 05:42] lxndrblz commented on #53
@isa-chavarria Thanks for explaining your problem in detail and for providing some screenshots. This really makes it easier for me to assists you. However, I will need three more pieces of information.

- Could you please tell me in which folder you placed the `coronavirus.md`. A full path would be ideal!
- Did you use the hugo new command (like `hugo new post/test.md`) for creating the latest pos

[2020-08-08 12:40] Rindrics commented on #51
@lxndrblz I realized that you visited my website to investigate the problem.
Finally I managed to make my website be rendered.
Not the theme, but my domain setting caused the problem. I'm sorry.

Thank you for your support!

[2020-08-08 12:40] #51 closed

[2020-08-08 13:55] isa-chavarria commented on #53
@lxndrblz Hello Thank you for your time answering my question.

I change the name of folder post -->articles and on the mainSections = ["articles"]. Like this:
![image](https://user-images.githubusercontent.com/17171295/89712088-cccd4280-d94b-11ea-9303-4b933ff0366c.png)

When you asked me for that, i decided to change it back, honestly idk why i didnt yesterday.
Now I changed the name to post and

[2020-08-08 14:09] lxndrblz commented on #53
@isa-chavarria Whatever content type is displayed on the front page (layouts/index.html) is controlled through, what is set in the `config.toml`. In my example this was `post`. If you want to use `articules` as a content type, then that's also possible.

The archive (layouts/list.html) doesn't have the same kind of filtering, it's controlled based on the elements it's listing. Therefore, you would

[2020-08-08 14:09] #53 closed

[2020-08-08 14:14] isa-chavarria commented on #53
Oh thanks for the detailed explanation and i just tried again. Change it the name. But yes on the config toml on the main i was still using post instead of articles.

Thanks so much for the help i will continue studying,learning and playing with it.

Best Regards.

[2020-08-12 22:28] dewan-ahmed opened #55 "Clicking on tags shows duplicate post entries"
![Screen Shot 2020-08-12 at 6 23 15 PM](https://user-images.githubusercontent.com/30604461/90074450-46a55900-dcc9-11ea-9865-d22c7e65e74e.png)

Steps:
1. git submodule add https://github.com/lxndrblz/anatole.git themes/anatole.
2. Replaced config.toml from exampleSite, made some basic changes and created an MD file under content/post
3. hugo serve
4. Clicked on my post and clicked on the tag
5. I c

[2020-08-13 06:50] dewan-ahmed commented on #55
I recreated the site and the issue is no longer present. Closing this issue.

[2020-08-13 06:50] #55 closed

[2020-08-14 09:15] longpham28 opened #57 "Posts which have date in 2020 year are not displayed"

[2020-08-14 09:16] #57 closed

[2020-08-19 10:34] Gregory-Gelfond opened #58 "Previewing website from local directory fails to load CSS"
When viewing my site using `hugo server -D` and loading `http://localhost:1313`, everything appears to work correctly. However, if I generate static webpages using `hugo -D`, and the attempt to open `public/index.html` in my browser, it appears that none of the CSS is loaded.

I have to admit that I'm new to using Hugo, the theme, and also web dev, so I'm assuming this is the best place to ask the

[2020-08-19 10:47] lxndrblz commented on #58
Thanks for your question, and for providing some valuable hints.

The reason why you are not able to see the css by simply opening the `index.thml` is because, it basically links to http://localhost:1313/css/style.min.... However, at the point of opening the file your webserver (Hugo) was not running anymore and therefore couldn't server the css to your browser.

For local development, you'll, the

[2020-08-19 14:36] Gregory-Gelfond commented on #58
Thank you very much for the clarification.
On Aug 19, 2020, 5:47 AM -0500, Alexander Bilz <notifications@github.com>, wrote:

Thanks for your question, and for providing some valuable hints.

The reason why you are not able to see the css by simply opening the index.thml is because, it basically links to http://localhost:1313/css/style.min<https://urldefense.proofpoint.com/v2/url?u=http-3A__localh

[2020-08-19 14:42] #58 closed

[2020-08-20 11:10] Gregory-Gelfond opened #59 "Floating Images and Shortcodes"
This isn't an "issue" per-se but more of a question. I understand that if I use shortcodes for figures within a post, like in the following example:

[code]

the image will be positioned centered and above the paragraph text.

I'm curious if it's possible to position the image to the right of the paragraph (and possibly have the paragraph text wrap/flow around the image?

Also, I was unable to fig

[2020-08-20 15:25] lxndrblz commented on #59
@Gregory-Gelfond Thanks for your question.

It depends a bit what you want to achieve. If you want image to be always placed to the left/right than that could be achieved via some custom css.

If you want to have a fine control, of how individual images are placed than you might want to use short codes. See the [documentation](https://gohugo.io/content-management/shortcodes/#example-figure-input)

[2020-08-20 15:29] Gregory-Gelfond commented on #59
Thanks for the response - I have to admit I’m new to html/css, and some googling didn’t particularly help.

Is this along the lines of what you seem to be suggesting?

https://jpescador.com/blog/leverage-shortcodes-in-hugo/
On Aug 20, 2020, 10:25 AM -0500, Alexander Bilz <notifications@github.com>, wrote:

@Gregory-Gelfond<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_Gregory-2DG

[2020-08-20 16:56] lxndrblz commented on #59
@Gregory-Gelfond yes, that's how the short codes would look like. However, you'll still need a bit of CSS to make everything pretty and functional.

[2020-08-24 08:39] #30 closed

[2020-08-24 10:08] #50 closed

[2020-08-26 16:21] lxndrblz commented on #59
@Gregory-Gelfond Sorry for the wait. Is that what you were trying to achieve?

![image](https://user-images.githubusercontent.com/12200062/91329852-f51cc400-e7c8-11ea-9a15-e8d5e590b489.png)

[2020-08-26 17:55] Gregory-Gelfond commented on #59
That's exactly what I'm hoping to have at some point. This is fantastic.

[2020-09-05 12:11] karasun0 opened #61 "Trouble with handeling home tab in navbar"
Hi to everyone and thanks for this theme.
I was using your theme and I checked.
even without ```content/_index.md``` and ```content/posts/_index.md```, The Home navbar works just fine.

But when I want to use it, with or without the two _index.md files mentioned , It doesn't work.

**Hugo:**
[code]
**config.toml:**

[code]
Those درباره ما and etc are in Persian language.

and in ```contents/course

[2020-09-05 17:21] lxndrblz commented on #61
@karasun0  Thanks for your in-depth explanation and for providing some code snippets. Let's try to get it resolved together.

What's the exact error you are having? Is it not showing your courses when linking to 'courses' ?

[2020-09-05 18:37] karasun0 commented on #61
That helped!
`/post/` works but `/courses/` doesn't.

Why is this happening and can you fix it? (Doesn't needd to be soon or to be at all)

Thanks, Karasun0.

[2020-09-05 19:05] lxndrblz commented on #61
I'll try to reproduce it tomorrow. But I strongly believe that this is just a configuration issue. Either way I'll report back.

[2020-09-06 17:38] lxndrblz commented on #61
Anatole offers the flexibility to also allow custom types such as a `course`. Simply add a custom `course` folder to the content directory and place your `test.md` in there. In your menu you will have to link the corresponding folder:

[code]

![image](https://user-images.githubusercontent.com/12200062/92331517-77ce3a80-f077-11ea-9c13-4d6aed5d5dfc.png)

If you want to show the courses on the front

[2020-09-07 01:33] stel-dare opened #63 "Cannot GroupByParam"
Hi,
I have been using your theme for a while now and I love it.  In the post section of the main menu, you have grouped all the post by year. I tried to group by params instead and I ran into an error. It works fine when the hugo server is already started but it fails to build when the server is restarted.

This is my list.html
[code]
The front matter of one my post
[code]
The error message when t

[2020-09-07 10:25] lxndrblz commented on #63
I assume something you were trying to achieve is something like this:

![image](https://user-images.githubusercontent.com/12200062/92377742-e907ff00-f104-11ea-9d09-c366233f2ae5.png)

Your GroupByParam syntax doesn't look fully right. Try it like this in your `list.html`:

[code]

[2020-09-07 10:25] #63 closed

[2020-09-07 10:25] #61 closed

[2020-09-07 10:35] lxndrblz commented on #46
@7-qiliu Sorry for the wait, I'd a closer link at the theme you provided as a reference.

They are using the images as a blog post image and not just nicely styled figures within blog posts (like I thought initially). As Anatole, unlike Casper3 focuses on a text first experience, I don't really see a need for integrating the ability to have thumbnails on the front page. I'll therefore go ahead and

[2020-09-07 10:35] #46 closed

[2020-09-07 11:36] PiotrWachulec opened #64 "Page after deployment to GitHub Pages didn't load custom css"
After updating to v0.2 I'm getting the message when I deploy my page to GitHub Pages, I'm getting an error related to custom css:
[code]
Used Hugo version: v0.74.3/extended. All necessary files are added in config file.

[2020-09-07 11:52] lxndrblz commented on #64
@PiotrWachulec  Thanks for reporting this issue. I had a look at your website and was able to see it in the dev console.

It looks like the Hash values for the integrity checks are not computed correctly. Can you check if you get the same error locally too? Do you see any error?

[2020-09-07 12:03] PiotrWachulec commented on #64
@lxndrblz Yeah, I checked and locally all looks good. Styles are loaded. But when I push my page to GH Pages, there is an error.

[2020-09-07 12:20] lxndrblz commented on #64
Do you see any error in the GitHub pages log? Unfortunately, I couldn't reproduce your error, so I assume it's not a general problem. Maybe a rebuild of your site could fix it?

[2020-09-07 13:08] PiotrWachulec commented on #64
Where can I find such logs?

I deployed page before the theme upgrade to v0.2 and exactly with the update and then styles are broken.

See what was upgraded:
![Zrzut ekranu z 2020-09-07 15-07-05](https://user-images.githubusercontent.com/11841233/92390848-f1b7ff80-f11b-11ea-93bf-0e5fc2718d85.png)

[2020-09-07 18:55] lxndrblz commented on #64
That looks highly suspicious. It might have to do with the changes in head.html.  However, I can wrap my head around why this change should have such an effect.

With logs I meat the ones of GitHub pages. If everything has been successful during the page built. Would you mind trying a rebuild?

In case that doesn't help I'll have to investigate this issue using shotgun Pages myself.

[2020-09-08 07:19] PiotrWachulec commented on #64
Yup, I built the page again many times, when I added new articles. I'm building it with Azure DevOps, but logs looks as always.

[code]

[2020-09-08 07:28] lxndrblz commented on #64
Thanks. I'll try to reproduce issue myself on GitHub Pages then.

[2020-09-08 07:29] PiotrWachulec commented on #64
Thank you @lxndrblz ! I really appreciate your engagement! :)

[2020-09-08 17:49] rahulgadre opened #65 "website is showing the contents of readme file after publishing"
Thank you for this template. I forked this repo and published it using Github pages. However, I am only seeing the contents of the readme file and not the actual blog site. What am I doing wrong? I plan to edit all the relevant files with my info after fixing this issue.
Any help regarding this matter will be helpful.

[2020-09-08 18:30] lxndrblz commented on #65
If I look at the blog.rahulgadre.com repository it looks like you be just cloned the repository, but don't even have a Hugo site setup. You'll need a proper Hugo site first and then you can plugin any theme as a submodule or clone it.

Hope that helps.

[2020-09-08 19:26] rahulgadre commented on #65
Thank you for your reply. I will set up a Hugo site first before attempting to use a theme. Apologies if it was very basic. I am a newbie into this space so I am learning as I go along.

[2020-09-08 19:34] lxndrblz commented on #65
@rahulgadre Great! I'll go ahead and close the issue for the time being. Please reopen it if you have any more questions or if you encounter an issue related to the theme.

[2020-09-08 19:34] #65 closed

[2020-09-09 23:19] rsln-s commented on #59
+1 to this issue. Would love to see support for this, especially on the front page (i.e. having images in the short preview), like this:
<img width="1067" alt="image" src="https://user-images.githubusercontent.com/11508369/92664211-5c5e6c00-f2d1-11ea-8942-1773675769e7.png">

[2020-09-10 14:22] lxndrblz opened #66 "Post header images"
+1 to this issue. Would love to see support for this, especially on the front page (i.e. having images in the short preview), like this:
<img width="1067" alt="image" src="https://user-images.githubusercontent.com/11508369/92664211-5c5e6c00-f2d1-11ea-8942-1773675769e7.png">

_Originally posted by @rsln-s in https://github.com/lxndrblz/anatole/issues/59#issuecomment-689873799_

[2020-09-10 15:27] stel-dare commented on #63
Sorry for the late reply. Github didn't notify me. Your solution works but that was not what I was looking for. I don't want the whole site to be grouped. I only want the current node to be grouped.  I just don't know why this `{{ range .Data.Pages.GroupByParam "series" }}` doesn't work but when I group by `title`. eg `{{ range .Data.Pages.GroupByParam "title" }}` it works. What am I doing wrong?

[2020-09-12 19:23] lxndrblz commented on #64
@PiotrWachulec I tried it on GitHub pages with another account and didn't have any issues. I am slowly running out of ideas.

One last thing you could try, is to remove the submodule and clone the theme. It would be interesting to see if your issue persists.

[2020-09-13 08:34] PiotrWachulec commented on #64
Ok @lxndrblz , I'll try it. I'll come back to you.

[2020-09-15 21:31] jfmatth opened #73 "Always an about page?"
First, thank you for this Theme, I like it a lot.

Not sure how it's happening, but my menu always shows an about page.

I have an about.md defined in the content/ folder, but my config.toml doesn't specify one

[code]

Any help is appreciated

[2020-09-15 21:56] lxndrblz commented on #73
@jfmatth  Thanks for explaining your problem. I just tried to replicate your scenario (have an about.md but no entry in the config.toml). For me the about entry didn't come up (like it should). In the `navbar.html` partial, which is responsible for generating the menu are also no hard-coded entries. I, therefore, suspect that the error might come from your particular setup.

Here are a couple of q

[2020-09-15 22:05] jfmatth commented on #73
thanks for the quick response, no worries, nothing sensitive

[code]

I did switch themes from the ananke stock one to yours

if it matters, i'm serving it locally on my laptop for testing with this script
[code]

[2020-09-15 22:31] jfmatth commented on #73
I did just run the sample, and it doesn't show an About.

I think what I'll do is just start fresh and see what happens, I don't have that much content yet

[2020-09-16 00:12] #73 closed

[2020-09-16 01:35] jfmatth commented on #73
Well, I was able to find the issue.  For whatever reason, if there is an about.md file in my content folder, then the about menu item shows up, but doesn't point to the right file.

odd, seems like a HUGO bug

[2020-09-20 16:39] ivnvitx opened #75 "Could there be a limit for the content width? Thinking of ultrawide screens and so."

[2020-09-22 10:53] lxndrblz commented on #75
@ivnvitx Would you mind providing a screenshot or more detailed of the issue you are having? I assume it has to do with the fact, that the columns are stretched over the whole width of the screen.

[2020-09-24 16:41] ivnvitx commented on #75
![imagen](https://user-images.githubusercontent.com/61422591/94174069-4f6e7a80-fe84-11ea-9331-c09731d22a73.png)

Yes, basically this is what would happen with wider screens and so. I was thinking if maybe there could be a limit on how much the website stretches horizontally. Many other websites do this very thing, so that the content does not stretch to far and your eyes get tired of moving so muc

[2020-09-24 16:54] lxndrblz commented on #75
@ivnvitx  Gotcha, what we could do is to add a percentual margin for the content for high resolutions. This would look like the following:

![image](https://user-images.githubusercontent.com/12200062/94175604-cdd01a00-fe8e-11ea-9f88-3b4142fbba11.png)

[2020-09-25 18:35] rajganeshp opened #77 "Great template - few newbie questions."
1) Is there a example for Twitter social icon?
2) Is it possible to change the font?
3) Is it possible to change the width, so the left side is reduced a bit? it looks like profile takes a lot of space?

Thanks,
Raj

[2020-09-25 18:46] lxndrblz commented on #77
@rajganeshp
1) yes that's possible:

[code]

2) yes, you could change that using css. Simply include a custom CSS.
3) yes, you could change that easily using css too.

[2020-09-25 18:48] rajganeshp opened #78 "Site rendering properly in local machine but not in Netlify/Github"
My site is rendering correctly locally but it's not working properly online. I'm using Github/Netlify to deploy. I had similar issue with another TEMPLATE, and I had to set  cssIntegrity: false and jsIntegrity: false to make it work. I'm not sure if it will fix it, but I'm not sure where to place this to try. Any help will be appreciated. I like this Theme.. Look at my site at https://www.connectt

[2020-09-25 18:51] lxndrblz commented on #78
I assume your `baseURL` in the `config.toml` is wrong:

![image](https://user-images.githubusercontent.com/12200062/94305056-8453fd80-ff68-11ea-8d3b-b5edbd5b25bb.png)

[2020-09-25 18:56] rajganeshp commented on #78
You saved my day. Thanks. Can you give a sample CSS to change font?

On Fri, Sep 25, 2020 at 1:51 PM Alexander Bilz <notifications@github.com>
wrote:

[2020-09-25 19:02] rajganeshp commented on #78
Now when I render locally it's not working fine. Apologize for the
inconvenience. I even tried to change the base URL to 127.0.0.1
[image: image.png]

On Fri, Sep 25, 2020 at 1:51 PM Alexander Bilz <notifications@github.com>
wrote:

[2020-09-25 19:11] lxndrblz commented on #77
@rajganeshp you can change the font like this:

[code]

Place that snippet in a css file within the assets/css folder and include it as described in the `README.md`

[2020-09-25 19:12] rajganeshp commented on #77
Thank you so much.

On Fri, Sep 25, 2020 at 2:11 PM Alexander Bilz <notifications@github.com>
wrote:

[2020-09-25 19:13] lxndrblz commented on #78
What error are you getting? You should be fine by just going to localhost:1313 in your browser. Please do not try the IP (127.0.0.1) as this will result in a another CORS error.

[2020-09-25 19:15] rajganeshp commented on #78
Okay using localhost seems to work. It was working before 127.0.0.1

On Fri, Sep 25, 2020 at 2:13 PM Alexander Bilz <notifications@github.com>
wrote:

[2020-09-25 19:18] lxndrblz commented on #78
I just remembered, we had similar issue before. See #48

Honestly, I am always going through localhost and never had an issue. That's also the Hugo recommendations as far as I know.

Please go ahead and close the issue if it is working now. 👍

[2020-09-25 19:19] #78 closed

[2020-09-25 19:36] rajganeshp commented on #77
Is the above snippet changing the blog post font size. I see the date only in the location where it show the "date" in the blog post. Is there a way to change blog posts font. i would like it little bit bigger if possible.

[2020-09-25 19:41] lxndrblz commented on #77
It's changing the font but not necessarily the size. if you want to adjust the font size, then go like this:

[code]
You can easily see the results by using the inspector in your browser.

[2020-09-25 19:41] rajganeshp commented on #77
it actually changes some parts of the post like bullets and post.

[2020-09-25 19:48] lxndrblz commented on #77
Which part do you want to increase? Just your date or the whole content?

[2020-09-25 19:58] rajganeshp commented on #77
the whole content will be good. the default font is little bit small.

On Fri, Sep 25, 2020 at 2:48 PM Alexander Bilz <notifications@github.com>
wrote:

[2020-09-25 22:58] rajganeshp commented on #77
if you need, take a loot at my site, https://www.connectthoughts.com. I like the font of the post to be little bigger. I'm not sure which font offers the best readability. Again, you helped a lot, but this is something will be better to have. Thanks again.

[2020-09-26 11:28] lxndrblz commented on #77
Like I said earlier, this can all be done using a custom css script.

![image](https://user-images.githubusercontent.com/12200062/94339596-e9eccc00-fff2-11ea-8007-c7147ad3b485.png)

However, I won't be providing you with a snippet, as this is outside of the scope of these GitHub issues. Please see the available resources online and tinker a bit around yourself, and you'll should be able to achieve

[2020-09-26 11:28] #77 closed

[2020-09-30 10:25] ivnvitx commented on #75
Yes, thank you for your work.

The [picture you showed](https://github.com/lxndrblz/anatole/issues/75#issuecomment-698465174) is definitely better but at the same time, it would be better if no space was generated between the sidebar and the content.

I feel like maybe the best approach would be to somehow keep both sides kinda together in the center, leaving blank space on the sides, or pushing e

[2020-10-04 11:06] ivnvitx opened #79 "What about showing what section you are in in the top bar in mobile navigation, instead of just the menu button?"
Basically, where the cursor is. I think showing "Home", "About", and stuff would make it really cool for knowing where you are.
![imagen](https://user-images.githubusercontent.com/61422591/95013700-846f8f80-0631-11eb-9f87-23244928fa52.png)

[2020-10-05 07:45] lxndrblz commented on #79
@ivnvitx Thanks for bringing up this idea.

I had thought about it for a while and I can't (currently) see the need for it. However, if you want to submit a PR, I wouldn't mind reviewing it!

[2020-10-05 07:52] lxndrblz commented on #75
@ivnvitx I got an ultrawide screen the other day- so I'll be able to do some testing. I'm totally with you that centring the whole page would be the best approach. From what I've seen that's also the approach most other websites take.

[2020-10-16 17:20] LITUATUI commented on #79
The website name or logo would also look cool in that empty space.

[2020-10-16 17:22] LITUATUI commented on #75
The sidebar does look too big in most desktop screens.

[2020-10-16 21:24] lxndrblz commented on #75
@LITUATUI  Thanks for the feedback. I am working on the ultra-widescreen topic. For the time being you can also use a custom CSS file to shrink the column width.

[2020-10-17 10:32] LITUATUI commented on #75
Thanks @lxndrblz. Just did what you suggested to shrink the sidebar from 40 to 25 %, looks much better now.

[2020-10-25 11:14] #75 closed

[2020-10-25 11:16] lxndrblz commented on #64
Closing issue due to inactivity.

[2020-10-25 11:40] lxndrblz commented on #79
@LITUATUI I’m not building this feature at the moment, but it’s a vaid suggestion and contributions are always welcome!

[2020-10-25 22:34] ivnvitx opened #80 "FontAwesome's version update?"
I would like (need) to use Mastodon's icon, but it seems that in `head.html` the FontAwesome's version is simply not there. [Here's the link.](https://fontawesome.com/icons/mastodon).

From [here](https://github.com/FortAwesome/Font-Awesome/milestone/33?closed=1) you can tell it was added in 5.0.11 version.

I have tried to manually change the FontAwesome version in the link but it seems to be a h

[2020-10-26 08:34] lxndrblz commented on #80
@ivnvitx The FontAwesome version is controlled through the link in the head.html.

[code]

You would need to update this line with the [current Version of the CDN](https://cdnjs.com/libraries/font-awesome) and the correct hash.

Feel free to submit a PR after testing it, so we can roll it out to all users.

[2020-10-26 15:49] ivangjxyz commented on #80
I just released the pull request to solve this issue: #81

[2020-10-26 16:25] lxndrblz commented on #80
@ivangjxyz I'll have a look. Thanks guys!

[2020-10-27 19:39] #80 closed

[2020-10-28 13:40] tchao126 opened #82 "Failed to get JSON resource"
My hugo version is 0.76.5

![image](https://user-images.githubusercontent.com/73568330/97443485-09667400-1966-11eb-8634-33fd92e9ad76.png)

[2020-10-29 06:27] kalkayan opened #84 "Instagram Error while building site"
Hey, I was following the steps in the `README.md` and after cloning, and running `hugo server --themesDir ../.. `. I'm getting this error.

[code]

[2020-10-29 18:18] lxndrblz commented on #82
Thanks, I was able to replicate the error. I'll investigate what has caused it.

[2020-10-30 12:03] MakoReactor opened #85 "Social icon not showing"
Hello, My social icons is not showing. I Tried some tips on the others issues but, no success.
Localy they appear, but on Netlify not.

![icons-not-show](https://user-images.githubusercontent.com/368437/97702727-38780500-1a8e-11eb-9f8c-98b6f0cc598a.png)

This is my config.toml and is my link https://silly-payne-12666a.netlify.app/

baseURL = "https://silly-payne-12666a.netlify.app/"
languageCode =

[2020-10-30 12:10] lxndrblz commented on #85
Hi there, thanks for your issue.

Please note, that we had some [breaking changes](https://github.com/lxndrblz/anatole/releases/tag/v0.3.1) in FontAwesome recently.

You will now need to prefix your social icons:

[code]
Please let me know if that helped.

[2020-10-30 12:34] MakoReactor commented on #85
Thanks,  I'll check and report.

[2020-10-30 12:44] #82 closed

[2020-10-30 12:48] #84 closed

[2020-10-30 13:20] MakoReactor commented on #85
Yes, it's works thank you so much for your helping.

[2020-10-31 19:15] ivangjxyz opened #87 "Changing to a custom font"
I get that you will probably dismiss this. This is too personal of an issue. But anyway, I wanted to ask, just in case.

I've tried to copy what [the cupper theme guys do](https://github.com/zwbetz-gh/cupper-hugo-theme/tree/master/static/css/fonts) for having a **custom font**.
I added the fonts to `static/fonts/` and then I did this in my `assets/css/custom.css` (+ all the other font styles):
[co

[2020-10-31 19:38] lxndrblz commented on #87
I was able to get it working:

![image](https://user-images.githubusercontent.com/12200062/97788251-92bcb700-1baf-11eb-998a-bbab66f1b192.png)

## Steps:
- Copy the fonts into a separate fonts directory inside of the css static folder
- Create a new custom css (fonts.css) in the main static css folder
- Link the new css in your config.toml
- Add a css which looks like this:

[code]

[2020-10-31 20:41] ivangjxyz commented on #87
Well, that is amazing. Looks just how I wanted. Thank you very much, again. I'm learning a lot with this.

[2020-10-31 20:42] ivangjxyz commented on #87
Just a tiny stupid question, why WOFF and not WOFF2?

[2020-10-31 20:46] lxndrblz commented on #87
Just a habit. :) WOFF2 should also work.

[2020-11-01 12:55] kosii opened #88 "Inlined math is not rendered"
I'm having issues with inlined math expressions. I'd appreciate if you could have a look.

Hugo version: 0.77.0
Browsers: Chrome/Firefox/Safari

Reproduce:
1. Clone the latest version of anatole
[code]
2. Go to http://localhost:1313/post/math-typesetting/
3. The paragraph from the examples with the inlined math is missing

[2020-11-01 15:06] lxndrblz commented on #88
I assume this is caused by latest change in the default content provided by the Hugo authors.

Unfortunately the documentation surrounding this issue is a bit sparse.

For now you can use inline math like this:
`Inline math: \\(\varphi = \dfrac{1+\sqrt5}{2}= 1.6180339887…\\)`

[2020-11-01 15:08] #87 closed

[2020-11-01 15:08] lxndrblz commented on #85
@MakoReactor  Any update?

[2020-11-01 15:11] kosii commented on #88
It worked, thank you!

[2020-11-01 15:11] #88 closed

[2020-11-03 22:03] #85 closed

[2020-11-22 08:59] PiotrWachulec commented on #64
Hi @lxndrblz ,
Sorry for being not responsive for a long time. I didn't have time to continue to fight with it. But today I tested your proposition of the solution and the problem still exists. I removed the submodule and cloned the theme manually. I tested upgrading the used Hugo version in my build pipeline too, but nothing changed... What can we do more with it? Thanks in advance!

[2020-11-23 20:55] mattarnster opened #91 "Error in build after theme update"
I get the following after I tried to update the theme:
[code]

Can you see what's going wrong at all? I did the update the recommended way, as defined within the readme for the theme.

[2020-11-23 21:04] mattarnster commented on #91
Found the issue... It wasn't liking my customCSS[] decleration in config.toml.

I had:
[code]

[2020-11-23 21:10] lxndrblz commented on #91
I've just cloned your repository and have been able to reproduce the error. I'll have a look. Possibly it's even related to the other open issue, that we have. #64

[2020-11-23 21:33] lxndrblz commented on #91
@mattarnster  Your custom css now goes in the assets/css directory and no longer in the static/css directory. This was caused by a change how the Hugo gets these resources.

As a little heads up: Since the recent updates the font awesome prefixes have changed. In your config.toml, you'll have to prefix them now like this:
[code]

[2020-11-23 21:41] lxndrblz commented on #64
@PiotrWachulec  Thanks for your feedback. I am sorry to hear that your issue still exists.

Is this this your latest working version: https://devdiary.wachulec.me/ ?

Because I earlier had a similar case: Would you mind sharing in which folder your custom css files is located (static or assets)?

[2020-11-23 21:50] mattarnster commented on #91
Awesome, thanks for looking into that for me.

Much appreciated!

On Mon, Nov 23, 2020 at 4:34 PM Alexander Bilz <notifications@github.com>
wrote:

[2020-11-23 21:58] lxndrblz commented on #91
@mattarnster  No problem. I'll go ahead and close this issue. Feel free to reopen it if you have any further issues.

[2020-11-23 21:58] #91 closed

[2020-11-24 06:11] jakevossen5 opened #92 "Safari not showing icons, while chrome/firefox are"
I am having an issue with the safari on macOS and iOS not showing the icons for email / linkedin, while Firefox and Chrome are. This happens when I run locally and when I publish to S3/cloudfront. There are no errors in the console - any ideas?

Website is https://jake.vossen.dev.

Not sure if it will help, but the Safari dev tools seem to have `social-links` have the property `display: none;`

![

[2020-11-24 06:31] PiotrWachulec commented on #64
@lxndrblz in the assets folder.

In the meantime, I removed all files from the publishing folder and add them again, but this also did not work

[2020-11-24 21:38] lxndrblz commented on #64
@PiotrWachulec Access would certainly help.

[2020-11-24 22:19] lxndrblz commented on #92
@jakevossen5  Thanks for bringing this to my attention. Somehow
Would you mind sharing a screenshot of how it currently looks?

Unfortunately, I don't have access to an iOS or Apple device. However, it showed up correctly on browser stack.
![image](https://user-images.githubusercontent.com/12200062/100157687-dc44ad00-2ea2-11eb-866b-a732d04fc2cf.png)

This makes me think that it's probably only a c

[2020-11-25 16:28] jakevossen5 commented on #92
![Uploading 8BF0A146-F738-4D9C-A166-8B21AB376178.png…]()

[2020-11-25 16:32] jakevossen5 commented on #92
Here is the post on my iPhone XSMax
![8BF0A146-F738-4D9C-A166-8B21AB376178](https://user-images.githubusercontent.com/16298666/100255362-a1716200-2f00-11eb-9361-2b29e6b15c48.png)

Here is a side by side with Safari and Firefox
<img width="817" alt="Screen Shot 2020-11-25 at 9 25 47 AM" src="https://user-images.githubusercontent.com/16298666/100255432-b8b04f80-2f00-11eb-9041-a8d3faabff01.png">

Jus

[2020-11-25 18:17] lxndrblz commented on #92
Thanks for sharing the screenshots. Wow, this is really odd!

One more question: Do you see the social icons on other anatole websites such as mine: www.alexbilz.com ?

When I visited your site earlier, I'd noticed that there is a CSP warning. Please make sure you have a correct `_headers` file in the static folder (see the readme for the exact content).

[2020-11-25 19:05] jakevossen5 commented on #92
I do not see the icons on that site (at least on my phone, not at my Mac right now)

![image](https://user-images.githubusercontent.com/16298666/100271228-6417cf00-2f16-11eb-8b1d-9d9aaaab433a.png)

And yeah, I think I got CSP fixed, my CDN just hasn't updated everywhere yet.

[2020-11-26 15:16] PiotrWachulec commented on #64
Hi @lxndrblz , I granted access to my repo for you. Thanks a lot for your engagement!

[2020-11-26 19:05] lxndrblz commented on #64
@PiotrWachulec Got it. I'll have a look on the weekend.

[2020-11-26 19:07] lxndrblz commented on #92
@jakevossen5 Do you have any plugin in your browser enabled, which might explain this behavior?

I've checked today on another iPhone and couldn't reproduce the issue. 😔

[2020-11-26 23:41] jakevossen5 commented on #92
Ugh, I am sorry. I had [1blocker](https://1blocker.com/) installed on both my Phone and Mac and wasn't thinking about it, blocking social media buttons is an option in the settings.

[2020-11-26 23:41] #92 closed

[2020-11-29 17:34] ivangjxyz opened #93 "Is there any simple way to make the sidebar not refresh when navigating on the webpage?"
I find it specially irritating due to the profile pic having to reappear every time. It takes a split second, but you know... I'm being very very perfectionist here. Is there any way to tell the browser "just keep this here, update the rest"?

[2020-11-29 21:34] lxndrblz commented on #93
@ivangjxyz Thanks for your question. Unfortunately, this is not possible due to the static nature of Hugo. There is no way to dynamically load content like ajax sides would do.

[2020-11-29 21:37] ivangjxyz commented on #93
Perfect, then I'll try to minimize its weight as much as possible.

[2020-11-30 08:13] #93 closed

[2020-12-04 04:24] jhilker1 opened #95 "Math not showing up? (noob question)"
Hey there, I'm new to Hugo and I really like this theme - I'm using it on my [personal website](https://jhilker.gitlab.io). I've enabled math in my `config.toml`, however, I'm not seeing any LaTeX rendered (I've read over some of the documentation for katex). I copied the math.html from the layouts directory in the theme to the layouts folder in the base directory, but still no luck. Do you have a

[2020-12-04 20:59] lxndrblz commented on #95
@jhilker1 Glad you like the theme!

There is no need to copy the math.html file, as they will be included automatically. Would you mind sharing how your LaTeX function looks? Either way should work, once either the global math setting or the one per Post is enabled.

[code]

The page title is composed like this:
`<title> {{.Site.Params.author}}{{ with .Title }} | {{ . }}{{ end }} </title> `
All yo

[2020-12-04 21:12] jhilker1 commented on #95
Thanks! I got it figured out :)

Thanks,
Jacob Hilker

On Fri, Dec 4, 2020, 3:59 PM Alexander Bilz <notifications@github.com>
wrote:

[2020-12-04 22:01] #95 closed

[2020-12-09 18:07] PiotrWachulec commented on #64
Hi @lxndrblz :) Any updates from your side?

[2020-12-10 21:27] lxndrblz commented on #64
Hello @PiotrWachulec Thanks for your patience. I've checked the repository and everything looked correct. However, I've also changed the way custom css is handled in the meantime. Would you mind running a `git submodule update --remote --merge`?
I didn't want to trigger any builds myself.

[2020-12-10 21:49] #79 closed

[2020-12-12 20:45] PiotrWachulec commented on #64
Hi @lxndrblz !

I updated the theme to the newest version with the command which you indicated and... It works now! Thanks a lot for your time and engagement, you are the best! :)

[2020-12-12 20:45] #64 closed

[2020-12-14 16:25] lxndrblz commented on #64
@PiotrWachulec  Don't forget to remove me from your repo! 👍

[2020-12-14 16:38] PiotrWachulec commented on #64
Thanks @lxndrblz , of course I forgot 😂 But I already removed you :) Thanks again!

[2020-12-18 16:27] egealpay opened #99 "Having different list.html files"
Hi,

I would like to have two different list.html files. One for rendering list of tags, one for rendering list of posts related to selected tag. I want to apply different styles to these two lists, that's why I am trying to have two different files. However, I am failing to achieve it :/

Can someone help me?

[2020-12-18 23:46] lxndrblz commented on #99
@egealpay Would you mind sharing what you'd tried so far and where you got stuck?

[2020-12-22 08:08] egealpay commented on #99
I have created a folder called `tags` in `layouts` folder. In `tags` folder, I have created `list.html` file.

When I go to `localhost:1313/tags` endpoint, I can see that `tags/list.html` file is rendered. If I click a tag in that page (for example, 'shortcodes' is a tag) I was directed to `localhost:1313/tags/shortcodes` endpoint. However, `tags/list.html` file is rendered in this page too.

[2020-12-22 08:29] lxndrblz commented on #99
@egealpay  I'll have a look and will report back.

[2020-12-22 21:26] lxndrblz commented on #99
@egealpay It is quite simple. Create a `layouts/taxonomy/terms.html` for anything you want listed and create a separate `term.html` in the same folder for addressing the presentation of a single tag.

Please go ahead and close this issue, if this resolved your problem.

[2020-12-23 00:20] peihsunhsieh opened #100 "work with blogdown"
Dear Alexander,

I'm wondering if this theme could work with blogdown? I have used

blogdown::install_theme('lxndrblz/anatole', theme_example = TRUE, update_config = TRUE, force = TRUE)

to adopt this theme through blogdown, but it doesn't work.

Thanks,
Pei-Hsun

[2020-12-23 02:15] #100 closed

[2020-12-23 07:16] egealpay commented on #99
I guess I could not express what I want clearly. I am sorry for that, English is not my mother tongue :(

Let me start from beginning.

As you know, each post at homepage is rendered like:
![Screen Shot 2020-12-23 at 10 11 44](https://user-images.githubusercontent.com/25003254/102969730-446cca00-4507-11eb-9e1d-aed77de4fa03.png)

If I go to `http://localhost:1313/tags/` endpoint, tags will be rende

[2020-12-23 16:31] lxndrblz commented on #99
@egealpay Gotcha, this might help you.

The `terms.html` will give you something like this:
![image](https://user-images.githubusercontent.com/12200062/103017608-c2e35f00-453b-11eb-8181-68da6947ea5f.png)

The `term.html` will give you something like this:
![image](https://user-images.githubusercontent.com/12200062/103017648-d2fb3e80-453b-11eb-89a7-29f0ea1ff8a0.png)

The corresponding templates loo

[2020-12-23 19:27] egealpay commented on #99
It worked! Thanks a lot for your help :)

[2020-12-23 19:27] #99 closed

[2020-12-24 18:43] gaztelugatxe opened #101 "Submenus"
I cannot get the submenus to work as I think they should in Hugo, so I am thinking they are not supported in Anatole. Is it so?
Thanks in advance!

[2020-12-24 19:55] lxndrblz commented on #101
Regrettably that is currently not possible.On Dec 24, 2020 6:43 PM, gaztelugatxe <notifications@github.com> wrote:
I cannot get the submenus to work as I think they should in Hugo, so I am thinking they are not supported in Anatole. Is it so?
Thanks in advance!

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-12-31 15:28] #101 closed

[2021-01-02 16:04] sschizas opened #106 "Theme colors customization"
Hello and HNY!!

how I can customize the colors of the theme? I checked the read me file and I haven't seen any relevant information.

Kind regards,
Stavros

[2021-01-02 16:47] lxndrblz commented on #106
@sschizas  You can set the preferred theme mode through the `config.toml`. If you want to tweak a certain colour, you would have to overwrite them with a custom css file.

Hope that helps.

[2021-01-02 18:11] sschizas commented on #106
@lxndrblz so if I got right, I have to make a copy of https://github.com/lxndrblz/anatole/blob/master/assets/css/style.css and change the colors and set the path of the custom CSS file at the config file, right?

[2021-01-02 18:16] lxndrblz commented on #106
@sschizas no need to copy the whole file for minor tweaks. You Only need to add the things you want changed. Simply use the inspector in the Browser to find out the relevant css classes and overwrite the matching css variables.

If you have any technical issues, let me know.

[2021-01-06 08:50] #106 closed

[2021-01-08 13:07] #66 closed

[2021-01-08 18:46] skyoffc opened #110 "Error"
[code]
Solution please

[2021-01-08 19:12] skyoffc commented on #110
If that is another and it worked perfectly but with the update that you did it no longer works for me even I download the same repository and nothing until I tried with exapleSite and the same error appears

[2021-01-08 19:15] skyoffc commented on #110
Any solution?

[2021-01-08 19:15] lxndrblz commented on #110
@skyoffc  Which version did you try the latest?

[2021-01-08 20:00] skyoffc commented on #110
[code]

[2021-01-08 20:06] skyoffc commented on #110
And if I add the theme in the `config.toml`
pass this. ![error](https://imgur.com/RaCwQaN.png)

[2021-01-08 20:19] skyoffc commented on #110
fix it plz I really liked this topic

[2021-01-08 20:20] lxndrblz commented on #110
One last question, which version of Hugo do you have?

[2021-01-08 20:21] skyoffc commented on #110
Hugo Static Site Generator v0.54.0/extended

[2021-01-08 20:32] skyoffc commented on #110
Problem solved was hugo's version, thanks you can now close the issue

[2021-01-08 20:34] lxndrblz commented on #110
Thanks, for bringing this to my attention. I have found the issue. 💯 I've just updated the theme also, so it can still with run with older versions too. At a minimum I support v0.53.

[2021-01-08 20:42] skyoffc commented on #110
One last question, how to add an image to any post probe in various ways, save them in the `static` folder but they don't load to put them, I must upload them to img.gur

[2021-01-08 20:46] lxndrblz commented on #110
Where do you want to add them? Ass a thumbnail for post or inside the content of a post?

[2021-01-08 20:48] skyoffc commented on #110
both bro

[2021-01-08 20:49] skyoffc commented on #110
If you see the part of the cover of each publication instead of putting it inside I want to put them as the cover of each post

[2021-01-08 20:53] lxndrblz commented on #110
Within the content do like this:

![Test](/images/2018/05/Test.png)

This folder is stored in:
/static/images/2018/05/Test.png

For it's almost the same, also put the image into your /static/images directory and point the frontmatter to /images/foo..

[2021-01-08 20:55] skyoffc commented on #110
I tried that several times and it did not work but I will try and as a cover what would it be like?

[2021-01-08 20:59] lxndrblz commented on #110
That would be:

[code]

[2021-01-08 21:20] skyoffc commented on #110
Do I add that in every post?

[2021-01-08 21:35] lxndrblz commented on #110
Yes, because they should be specific for every post.

[2021-01-08 22:26] skyoffc commented on #110
In each post I put the description parameter but it is not added, do you know why the description does not appear?

[2021-01-09 00:40] skyoffc commented on #110
Create a folder inside `static/images/2021/01/coldd /` and inside add images but they don't load me, you know why? The cover loads me but not inside the new folder.

[2021-01-09 10:18] lxndrblz commented on #110
You need to use `summary` instead of `description`. Try like this:

[code]
Also make sure to use the recent version `Hugo`.
![image](https://user-images.githubusercontent.com/12200062/104089109-fcb6a400-5263-11eb-836a-f6f1df503d34.png)

The images didn't load because you added `blog` to the path, you would need to do like this:
[code]

![image](https://user-images.githubusercontent.com/12200062/10

[2021-01-09 10:18] #110 closed

[2021-01-09 18:03] cdichiara opened #111 "Contact form reCaptcha..."
Lovely hugo theme! I'm really enjoying putting my website together with it.

I believe I've implemented Formspree reCaptcha support ... wanted to share it with you in case you wanted to use it:

1. Do the needed setup in Google:
2. Do the needed setup in Formspree:

### In config.toml:
`contactFormReCaptchaSiteKey = "Google reCaptcha v2 site key here"`

### In contact.html:
[code]

Regards,

Carmi

[2021-01-09 23:09] lxndrblz commented on #111
@cdichiara Thanks for that. 👍  Would you mind making a PR for it? That way it would count as your contribution!

[2021-01-09 23:11] cdichiara commented on #111
Oh sure I’ll do that - thanks for letting me :)

Carmine

On Sat, Jan 9, 2021 at 6:09 PM Alexander Bilz <notifications@github.com>
wrote:

--
Carmine DiChiara, Psy.D.
ACT Therapist, Trainer
Clinical Psychologist, Licensed in MA & NH
163 Highland Ave. #1024
Needham, MA 02494
617-765-2080

[2021-01-10 04:30] cdichiara commented on #111
Hey @lxndrblz maybe you can help me here ... I'm trying to clean up the validation a bit, and I can't for the life of me get a submission event handler in place.

[code]

Can you see what I'm doing wrong? Neither handler is working ... not even in jsfiddle when I clear out the extra stuff. Weird, I must be doing something basic wrong.

[2021-01-10 04:44] cdichiara commented on #111
OK I got the JQuery one to work in jsFiddle, just my lack of experience with jsfiddle ... but still not working here for some reason.

ps. Caught the </input> error on the submit button.

[2021-01-10 05:20] cdichiara commented on #111
Ah ... it's order-sensitive. Sorry, I'm a server-side developer ... this is all a bit new to me. :)

I'll clean this up and get it ready for a PR.

Carmine

[2021-01-10 18:10] cdichiara commented on #111
Converting to new feature.

[2021-01-10 18:10] #111 closed

[2021-01-11 02:50] cdichiara opened #113 "Page load animation missing transparency; animation potentially overdone."
Pages jump down and gradually stop about 1-2 lines of text lower. Seen on Windows 10 x64/updated Chrome, reproducible by refreshing the page. Is this the FadeInDown animation? Do you want the website to jump down like that? I noticed it does it as well for your personal website @lxndrblz, so I suspect it's known to you and perhaps works as designed. It just seems a bit surprising to me.

Carmine

[2021-01-11 03:07] albilaga opened #114 "Failed to find a valid digest in the `integrity` attribute"
Hello. First of all thank you for this beautiful theme.

I have some issues when I try to deploy the theme to github pages. When I deploy I got error message `Failed to find a valid digest in the 'integrity' attribute for index.html:1 resource 'https://....' with computed SHA256 integrity '.....'. The resource has been blocked.`

Right now I am following this solution https://stackoverflow.com/a/6

[2021-01-11 09:12] lxndrblz commented on #113
Yes this animation is intended, but I can be switched off.  Simply disable the animation in the `config.toml`.

[code]

[2021-01-11 12:59] cdichiara commented on #113
Oh now I get it ... this is the animation FadeInDown? I think the issue is that it's not fading in.
https://www.alexbilz.com/

Does it look like it's fading in on your website to you? Perhaps it's my browser?

Carmine

[2021-01-11 13:04] lxndrblz commented on #113
@cdichiara it does for me. It's like a movement from top to bottom, not necessarily a fade (change of transperancy) despite the name. So I guess that might have caused some confusion.

[2021-01-11 13:12] cdichiara commented on #113
Ah OK so maybe this is your design choice. :) Thanks I'll close this issue. I'm going to re-add a fade to my fork, see what it's like ... if you don't like what it looks like we'll just get rid of it.

[2021-01-11 13:12] lxndrblz commented on #114
@albilaga Glad you like the theme. On the site [site](https://albilaga.id/) I can't see an integrity error.

It would be interesting to know, which script caused the error. Do you have a more complete log?

From a security point of view, it's not advisable to remove the integrity check, especially for content hosted on a CDN.

This error reminds me a lot of this issue #64, however, it seemed to be

[2021-01-11 13:14] lxndrblz commented on #113
@cdichiara I was never too satisfied with the animation, as I personally find it a bit distracting. This is mainly remnant from the original theme, this Hugo theme is based on. If you produce a better animation, I would be interested to see it. 👍

[2021-01-11 13:18] cdichiara commented on #113
Oh I just think there are two lines that are missing:

https://www.tutorialspoint.com/css/css_animation_fade_in_down.htm

opacity: 0

opacity: 1

Someone must have removed them at some point. So at least we can see what Fade In Down looks like before you decide. :)

I'd test it out but I'm having a real struggle getting my testbed website to pick up the changes I make in the forked theme. :-/

[2021-01-11 13:33] lxndrblz commented on #113
@cdichiara yeah I believe it existed before. :) I'll do some digging why it might have gotten removed. Let me know what your test yielded.

[2021-01-11 16:53] cdichiara commented on #113
Ah, it seems like the animation is what's messing up the initial render of the recaptcha. Note that I added the transparency back in here:
https://user-images.githubusercontent.com/13836864/104212463-3e318580-5403-11eb-8ad0-28fdbdbe47d2.mp4

So I could probably tell the recaptcha to go to the upper righthand corner, probably wouldn't change its location too much in the block ... though honestly th

[2021-01-11 21:40] belxc opened #115 "How can I remove the profile_picture?"
- I know this is a noob question, but how can I remove the `profile_picture` on the left page, :) , while I did not wrote the `profile picture`'s URL .the webpage will show  `profile picture` top the name .

- can I have a menu named `tags` , to show all of the tags that I have
sorry , I just a novice  . thanks

[2021-01-12 09:28] lxndrblz commented on #115
@belxc  There is no effortless way to remove the profile picture as it's a central part of the theme. If you would want to remove it, then I'd recommend cloning the theme and removing it in the html of the sidebar.

Yes you can. Simply add another menu entry that points to `/tags/` like this:
[code]
If you want to edit the presentation of the tags listing and the individual tags then, please see t

[2021-01-12 09:33] lxndrblz commented on #113
@cdichiara Can you please open a PR to this repository with all the changes you had made, and I will have a look what works best (disabling the animation/placing the captcha somewhere else.)?

[2021-01-12 09:50] belxc commented on #115
@lxndrblz  Thanks . I have to say , it is a great theme.

[2021-01-12 10:11] lxndrblz commented on #115
@belxc Great to hear that. I will close the issue. Feel free to open a new one, if more questions arise.

[2021-01-12 10:11] #115 closed

[2021-01-12 14:15] cdichiara opened #117 "New Feature Query: Netlify form integration"
My feeling is ... yes, people are probably using Netlify a lot to host, having an integrated form might be useful.

As compared to Formspree, there's no separate URL to send the form in - but we need a unique name for each contact form. So we'd need to figure out a way to indicate the unique name in the frontmatter of the page, or use the name of the page to generate the singular contact form allo

[2021-01-13 04:51] cdichiara opened #118 "New Feature Query: Parameterized profile pic mask"
Personally, I think it adds to the theme:

![Screenshot 2021-01-12 23 44 47](https://user-images.githubusercontent.com/13836864/104407928-c792a600-5530-11eb-8db6-2bcb43bc8edc.png)

[code]

Just let me know, implementation is already done but hiding behind my other pull request because I messed up my master branch over here. I'll make some more sample masks to put into the theme.

Carmine

[2021-01-13 05:23] cdichiara opened #119 "Query re: css pipeline tweaks..."
I'm wondering if you'd like to include Google font parameterization.

![Screenshot 2021-01-13 00 20 00](https://user-images.githubusercontent.com/13836864/104409945-5bff0780-5535-11eb-891b-a8d9d473f746.png)
![Screenshot 2021-01-13 00 21 29](https://user-images.githubusercontent.com/13836864/104409954-5e616180-5535-11eb-8301-031f6fd52b6d.png)

[code]

Already complete, just unfortunately sitting be

[2021-01-13 06:51] albilaga commented on #114
Yes. I don't have error now because I remove the integrity. This is the part where I remove the integrity
[code]
I changed the integrity to `integrity=""` and it is working now. Not sure how to fix if I enable integrity again. And yes I am using github pages

[2021-01-13 11:56] lxndrblz commented on #119
@cdichiara  Thanks for bringing up this idea! Font customisation is currently also possible, by using a custom CSS. In the past we had this issue #87 where I'd described how a certain font can be used. By taking the approach with a custom CSS, it's up to the user to decide what font, source, CDN they want to use, which is great as it gives a lot of flexibility. For me, as the maintainer of the the

[2021-01-13 12:01] lxndrblz commented on #118
@cdichiara  Thanks for bringing up this idea! Custom image shapes are even currently possible, by using a custom CSS.

I don't quite see the need for it, as in the past most users either had a round, or completely squared image. Both looked fine in my opinion. If someone really wants to go wild, then they could always use custom CSS to give it let's say a star shape. If you want, we could add a de

[2021-01-13 12:09] lxndrblz commented on #117
@cdichiara  Yes, that sounds like a good idea. I think we could use a parameter in the frontmatter to specify a certain contact form. Would you mind submitting a sperate PR for this feature once it is ready?

[2021-01-13 12:09] #118 closed

[2021-01-13 12:50] gofort commented on #114
I have the same issue
You can check it here: https://bogdi.xyz/

[2021-01-13 19:13] cdichiara commented on #118
@lxndrblz

Thanks for reviewing. I'll comment on the font idea more completely. What you say here makes sense to me.

Carmine

[2021-01-13 19:14] cdichiara commented on #117
Yes that's fine, it'll be subsequent to the other pull request. We can discuss whether we need to make the default backwards-compatible, it makes the logic much harder.

[2021-01-13 19:25] cdichiara commented on #119
@lxndrblz thanks for reviewing.

So I definitely feel like something needs to be programmed in this case or the mask case ... either the theme or the end user. I'm in agreement with you to program the end user instead. I'm quite new to the Hugo scene, but I didn't put two and two together and get to the Custom CSS portion of the readme.md ... I think other people will also find a pointer helpful t

[2021-01-13 19:31] cdichiara commented on #119
There may be a good reason not to include it in the pipeline ... I just couldn't think of it.

[2021-01-14 10:07] theinfosecguy opened #120 "Unable to add <meta> in the Head"
I've been trying to add a Meta Tag in the Head. I have added in params and in head.html as well but that didn't worked,

[2021-01-15 12:14] #120 closed

[2021-01-15 16:19] lxndrblz commented on #114
This is an issue commonly reported on other themes too. Basically, would you need to ensure the line endings stay the same. Check out this [documentation](https://help.github.com/en/github/using-git/configuring-git-to-handle-line-endings). Could you please give this a try?

Unfortunately, I can not reproduce the problem on my setup.

[2021-01-15 16:28] lxndrblz commented on #119
@cdichiara  Which part of the custom CSS explanation did you find troublesome? Do you think it would help if we added examples for how the custom CSS can be used (change colours, fonts, stencils...)?

Regarding your second question. `ExecuteAsTemplate` in something, that is in the making (Check out PR #90). Using parameters we wanted to give the user a better (and easier) control of how the site l

[2021-01-15 16:38] cdichiara commented on #119
Oh cool good luck on PR #90

Oh so basically what I'm saying is that I was guessing that people will probably want to change some basic things, like fonts, and when they don't find a solution they won't automatically look at the custom CSS explanation in the readme.md. I suspect your custom CSS explanation is fine ... it's just that I didn't think to look there, I just went searching for "how to i

[2021-01-15 17:31] lxndrblz commented on #119
@cdichiara I will add a more in-depth description to the Readme and possibly two samples.

[2021-01-15 17:33] cdichiara commented on #119
Cool man it's your thing, feel free. I'm going to be doing the mask and the font ones for myself, let me know if you want them as examples.

[2021-01-15 17:34] lxndrblz commented on #119
@cdichiara Sure, send them my way once you have these.

[2021-01-16 04:44] cdichiara commented on #119
@lxndrblz OK here's the changes I created for google fonts.

[googleFonts.zip](https://github.com/lxndrblz/anatole/files/5823847/googleFonts.zip)

You've got an alteration to `head.html` to support parameterization of the custom css and custom js files. Then you've got a css file and a js file. In `config.toml` you can use `bodyFont = "xxx"` to identify a font. A non-google font name will not brea

[2021-01-16 10:16] gofort commented on #114
Hmm, I completely remove theme, executed `git config --global core.autocrlf input` and added theme once again and it helped as I see.
Thank you!

[2021-01-16 11:22] #114 closed

[2021-01-16 11:23] lxndrblz commented on #117
Further discussions will be carried out in PR #121 .

[2021-01-16 11:24] #117 closed

[2021-01-16 11:29] lxndrblz commented on #119
@cdichiara Thanks I'd a look at your provided snippets. Something I couldn't understand is why you would load the fonts via JavaScript rather than from CSS. What is the reason behind this?

[2021-01-16 14:15] cdichiara commented on #119
@lxndrblz Yeah dude I'm an ex-software engineer turned clinical psychologist who always did the nitty gritty computational backend work. I recommend assuming going forward that some of my decisions are based on learning how to code HTML, in a vaccuum, in the present. :)

How do you load Google's style sheet from within a css file? I couldn't find a way to do that.

[2021-01-16 14:17] lxndrblz commented on #119
@cdichiara  You could do it simply like this:

[code]

[2021-01-16 14:19] cdichiara commented on #119
I rest my case. :)

[2021-01-16 14:23] cdichiara commented on #119
So here's what we're left with I think:

[code]

To be clear I'm not picking and choosing the weights because I don't want to get to a place where the distributed choices on weights will be changed and suddenly the weights I limited the load to will be less than optimal. If you know of that being a poor choice due to load time do let me know.

[2021-01-16 14:27] cdichiara commented on #119
Oh I"m sorry! "silly" is a flag that's hanging around when I wasn't parsing the css file properly and it wasn't showing up in the style sheets. :) That can be removed.

[2021-01-16 14:30] cdichiara commented on #119
Yes so ... I'm with you in your conclusion that individuals can program the font through custom css. I think our experience also supports my claim, that certain customizations like changing the font is popular enough, and for people are not as good web developers as you, that "unsupported" but preprepared examples will help them and, therefore you. So thanks for being willing to try this.

[2021-01-16 14:58] cdichiara commented on #119
Oh I know you're working on `head.html` elsewhere ... do you want me to submit the changes to `head.html` in a separate PR to allow for parameterization in custom CSS & JS? Minor changes you can do it as well:
Line 28:
[code]
Line 76:
[code]

Or just note the tricky shift in the inputs to the function due to the `{{ range }}`, you may know that already.

[2021-01-16 18:04] lxndrblz commented on #119
@cdichiara We could pick up the font idea in the PR #90 together with the other templating changes. Feel free to add the font commit to there. I know that @ivangjxyz  also had few good ideas, maybe we could make this both user friendly and not overly complicated. I wanted to work on that PR through the upcoming days anyways.

[2021-01-16 18:50] cdichiara commented on #119
OK I think we can close this now if we're going to combine this with PR #90 , sounds good?

[2021-01-17 02:53] albilaga commented on #114
@lxndrblz yes. Looks like that is the issue. Thank you...

[2021-01-21 13:24] #119 closed

[2021-01-21 21:51] #113 closed

[2021-01-24 14:15] Liam427 opened #125 "Thank you but..."
![jupyter](https://user-images.githubusercontent.com/75194319/105632839-a6b74280-5e98-11eb-81d5-73b7115f8be0.PNG)
Please read it considering that I am not good at English.
Ah! And I'm not good at computers.
I just started studying data science.
I'm sorry. :sob:
I want to post by converting to markdown using jupyter notebook.
So, the method I found is nb2hugo, which is a little inconvenient, but I

[2021-01-24 14:17] #125 closed

[2021-01-24 14:18] Liam427 opened #126 "So pretty theme so thank but..."
![jupyter](https://user-images.githubusercontent.com/75194319/105632839-a6b74280-5e98-11eb-81d5-73b7115f8be0.PNG)
Please read it considering that I am not good at English.
Ah! And I'm not good at computers.
I just started studying data science.
I'm sorry. :sob:
I want to post by converting to markdown using jupyter notebook.
So, the method I found is nb2hugo, which is a little inconvenient, but I

[2021-01-24 14:30] #126 closed

[2021-01-24 14:34] Liam427 opened #127 "Exporting Jupyter Notebooks to be used with Anatole in Hugo"
![jupyter](https://user-images.githubusercontent.com/75194319/105632839-a6b74280-5e98-11eb-81d5-73b7115f8be0.PNG)
Please read it considering that I am not good at English.
Ah! And I'm not good at computers.
I just started studying data science.
I'm sorry. :sob:
I want to post by converting to markdown using jupyter notebook.
So, the method I found is nb2hugo, which is a little inconvenient, but I

[2021-01-24 16:38] lxndrblz commented on #127
Hi @Liam427, I'm glad you like the theme!

Indeed, I had a little bit of trouble understanding what you meant. To me the marked area just looks like a code block of *CSS*. By default, this does not get interpreted by the theme. I imagine the data frame should be output as a table. Would you mind sharing what your *Jupyter* notebook looks like and what is in your generated *Markdown* file?

[2021-01-25 00:59] Liam427 commented on #127
![1](https://user-images.githubusercontent.com/75194319/105649523-f0814680-5ef3-11eb-9a8a-f6e68c43539b.PNG)
![2](https://user-images.githubusercontent.com/75194319/105649527-f37c3700-5ef3-11eb-9a38-107d26aeaf5f.PNG)
![3](https://user-images.githubusercontent.com/75194319/105649529-f545fa80-5ef3-11eb-9936-f428e790d23e.PNG)
![4](https://user-images.githubusercontent.com/75194319/105649535-f70fbe00-5

[2021-01-25 04:47] Liam427 commented on #127
I asked around and resolved it.
Thank you for caring me. 💯

[2021-01-25 04:47] #127 closed

[2021-01-25 13:07] yuma-m opened #128 "Modifying the order of page title"
Hi there, thank you for the great theme. I use this for my personal website.

**Is your feature request related to a problem? Please describe.**
It can be a matter of preference, the title of a web page is more likely to be `page title | site name` instead of `site name | page title`.

**Describe the solution you'd like**
The current page title is `author | page title`, but could you consider swap

[2021-01-26 10:23] lxndrblz commented on #128
@yuma-m  Glad you like the theme and thanks for reaching out! The reason why I chose this order originally is because the length of the text until the pipe symbol would be consistent on all pages. I understand that you might want to change this. In this case I would recommend forking the theme and applying the changes to your fork.

[2021-01-26 10:23] #128 closed

[2021-01-27 15:32] cwpearson opened #129 "Misaligned post dates with long title"
Hi, I'm experimenting with using this theme for a resume-style personal site. I have several published papers I'm modeling as posts, but some have quite long titles and it seems to cause the dates in the list to be misaligned at certain window widths.

**Describe the bug**
Long post titles cause dates to appear in the wrong spot.

**Expected behavior**
Perhaps the maximum width of the titles could

[2021-01-27 15:35] lxndrblz commented on #129
@cwpearson  Thanks for the in-depth description. I'll need to reproduce this and will report back. I am sure this problem can be solved with a bit of CSS.

[2021-01-27 15:52] cwpearson commented on #129
I did a quick fix with custom css

[code]

But this is the most CSS I have ever written :D so there may be a better way

[2021-01-27 15:54] lxndrblz commented on #129
@cwpearson  I just came up with the same solution, additionally we could specify the width for `post-time` to let say 10 % and make it allign right. I am currently testing if that would cause any new bugs.

[2021-01-27 15:59] cwpearson commented on #129
Thank you very much. [I sponsored this repo, hopefully anyone who stumbles across this issue will be inspired to do the same if you have helped them](https://Ko-fi.com/home/coffeeshop?txid=923fd7d2-4a54-4212-9aac-026d66ad6a5f&mode=public&img=ogiboughtsomeone).

[2021-01-27 16:06] lxndrblz commented on #129
@cwpearson Thanks very much. Highly appreciated. Few people realise the amount of time, learning and effort it takes to maintain this. 👍

Back to your issue. I will push an update tonight. There is still an edge case I want to resolve for the mobile view.

[2021-01-27 16:13] #129 closed

[2021-01-27 21:13] shariq1989 commented on #115
@lxndrblz, great work on the theme. I'd like to override and make some changes particular to my usecase. Is the process for cloning and pointing to that theme outlined anywhere?

[2021-01-27 21:40] lxndrblz commented on #115
@shariq1989 simply run a `git clone https://github.com/lxndrblz/anatole.git anatole` and make the necessary changes locally. Alternatively you can also fork it.

[2021-01-28 19:54] shariq1989 commented on #115
Makes sense, I'll fork it.

For anyone needing some documentation on this:
https://www.andrewhoog.com/post/git-submodule-for-hugo-themes/

[2021-01-29 02:21] shariq1989 opened #130 "Theme switching does not seem to work on mobile"
This does not bother me too much because I intend on removing the theme switcher and locking in the light theme but I noticed that my site on mobile when switched only switches the drop-down menu.

Steps to reproduce the behavior:
1. Go to https://themes.gohugo.io/theme/anatole/ on Firefox mobile
2. Click on the dropdown menu
3. Switch the theme
4. Your result should be similar to what I am seeing

[2021-01-29 03:52] lxndrblz commented on #130
@shariq1989 Thank you for reporting the issue. I couldn't fully reproduce the issue. When I click on the text/icon on FF it would switch, but not if I click besides it (on the blank space). Is that the same for you or does it not switch at all?

[2021-01-29 04:09] lxndrblz commented on #115
@shariq1989 That article is very helpful for understanding the different concepts of how themes can be added. We generally encourage submodules as they allow for a n easy update. Patching certain components is a bit more difficult. Other themes recommend cloning which makes it easy to adjust things but difficult to update. Obviously both approaches have there ups and downs. By forking and adding t

[2021-01-29 04:31] shariq1989 commented on #130
It won't switch if clicked beside, only when the icon is clicked. And it only ever switches the drop-down menu. The issue I brought up is only happening on my mobile browser FF, nowhere else. Working fine in mobile Chrome as well.

[2021-01-29 06:02] shariq1989 commented on #130
It seems like it is moreso the dark mode on my phone that was forcing the issue. Once I turned that off, the site started functioning as expected.

[2021-01-29 06:02] #130 closed

[2021-02-02 13:58] tlary opened #131 "Sticky Table of Contents to the right of Blogposts"
First of all a big compliment and thank you for the beauiful theme.

I recently saw [this blogpost](https://ma.ttias.be/adding-a-sticky-table-of-contents-in-hugo-to-posts/) and thought that the sticky ToC would be a good fit and nice addition to the theme. Especially on larger displays, there is much unused space to the right of the posts where such a ToC would look very nice imho.

I have almost

[2021-02-02 15:56] lxndrblz commented on #131
@tlary Yes that is technically possible.  It may look something like this:

![image](https://user-images.githubusercontent.com/12200062/106625692-d0dec380-656e-11eb-8c69-dc95d35adae5.png)

There are a couple of things, which you would need to change:

First of all you would need to add the ToC in the single.html of the template:

[code]

Add the following CSS to your custom CSS or change the main

[2021-02-02 17:18] tlary commented on #131
This works like a charm, thank you! :)

However, if I'm understanding this correctly, the floating ToC takes up some space which was previously allocated to the text body of the blog post, i.e. the total width (text + ToC) is identical to the text width before. Therefore, there is still some unused space to the right of the post, see the attached image.
Would it be possible to put the ToC next to

[2021-02-02 17:52] lxndrblz commented on #131
On an ultra-wide you could override the default behaviours using this query:

[code]

Just tested it on my ultrawide and I thought it looks quite decent.
![image](https://user-images.githubusercontent.com/12200062/106641649-57030600-657f-11eb-9d9a-41d40c172eb9.png)

[2021-02-02 18:50] lxndrblz commented on #131
@tlary I believe it's done using the  *ScrollSpy*. Lemme give it a try.

[2021-02-02 19:00] lxndrblz commented on #131
TYG

![image](https://user-images.githubusercontent.com/12200062/106649004-ea8d0480-6588-11eb-86b7-c8cae736f1d0.png)

[code]
[code]

[2021-02-02 19:03] tlary commented on #131
Awesome, works perfectly and looks amazing! Thanks again for your work and your help! :)

[2021-02-02 19:03] #131 closed

[2021-02-09 22:49] KourosZanbouri opened #135 "adding RTL to multilanguage websites"
First of all, Thank you @lxndrblz for this amazing theme...

I'm trying to create a multi-language website (I'm new to the whole Hugo ), Here are some issues :

1-adding multilanguage website ( ie. FA ( Persian-Farsi) & English ( EN ) ) does not change the RTL of posts ( Fa is RTL , the title and content is still LTR)

2-menus need to be RTL too and Align Right ( of course you can change the order

[2021-02-09 23:09] lxndrblz commented on #135
Hi there,

Thanks for bringing up this interesting issues.

I am aware that the Persian layout is quite different and could technically be realised with changes to the css.

However, the necessary changes are quite dramatic (it's almost like the changes necessary for the dark theme) and quite labour intensive. Honestly I don't see this coming any time soon. 😔

RTL support is something I can add to

[2021-02-10 16:48] KourosZanbouri commented on #135
thank you for your reply,

I'm looking forward to your next updates regard RTL support ;)

[2021-02-10 16:48] #135 closed

[2021-02-13 20:27] jhilker1 opened #136 "Unable to Switch From Dark to Light"
**Describe the bug**
I am unable to toggle between light and dark modes on my [website](https://jhilker.gitlab.io).

**To Reproduce**
Steps to reproduce the behavior:
1. Click the icon in the navbar for toggling themes.
2. The theme should swap to light mode.

**Expected behavior**
The theme should be able to be toggled between light and dark mode.

**Desktop (please complete the following informa

[2021-02-13 21:56] lxndrblz commented on #136
Hi there,

I just cloned your repo and tried it locally. I was able to reproduce the same problem.

Adjust your makefile from:
`hugo server -D --navigateToChanged --verbose --layoutDir=layouts/anatole`
to
`hugo server -D --navigateToChanged --verbose`

The layoutDir parameter shouldn't be necessary because you already defined the theme in the config.toml.

[2021-02-13 22:35] jhilker1 commented on #136
Thanks!

[2021-02-15 02:54] jhilker1 commented on #136
I was trying to fix the date formatting and such I used (since I have several custom layouts in the layouts/anatole dir) - while removing the `layoutDir=layouts/anatole` section from the Makefile fixed the theme switching issue, now I'm unable to use any of my custom layouts. Do you have any ideas?

[2021-02-15 18:34] jhilker1 commented on #136
For some reason the layouts directory had gotten deleted from the remote. Re-adding that fixed it. No idea why it had gotten deleted, but it did.

[2021-02-15 22:36] anthow opened #137 "git Dirty"
Hello, thanks for you very nice theme.

I use your theme for a little personnal page who will be hosted on Netlify.
But when i want to commit my site on Github i have this issue:

Subproject commit 05841e4ed0ac6f214cd9091ffcf3f9cd1fd3f4f6
Subproject commit 05841e4ed0ac6f214cd9091ffcf3f9cd1fd3f4f6-dirty

for the folder themes/anatole

do you have a solution ?
thanks !

[2021-02-16 08:41] lxndrblz commented on #137
@anthow This error usually happens if you edited files in the submodule (The anatole theme).

Do you want to keep the changes?

[2021-02-16 11:42] anthow commented on #137
@lxndrblz Hello, i just ad a custom.css file on this folder.
Do I have to put it back in another place?
my css file doesn't work when the folder is put at the root of my site

[2021-02-16 11:46] lxndrblz commented on #137
@anthow  You need to place the `custom.css` in your assets directory. I usually create a subdirectory named `css` in there and link it like `customCss = ["css/custom.css", "css/styles.css"]`. It's the assets directory of your site and not the theme.

[2021-02-16 12:16] anthow commented on #137
ok ! its working !
thank you very much for help

[2021-02-16 12:16] #137 closed

[2021-02-17 22:00] RRMaximiliano opened #138 "Differences between _index.md and mds within the content folder"
**Describe the bug**

Hi, I want to have a static page as my home page but it seems that there are differences between the _index.md file and, for example, my bio.md style. My website is: https://rrmaximiliano.github.io/

The _index.md has the title capitalized. In contrast the `md`s within the content folder have the title uppercased. The same happens for the hyperlink's colors. Below there are s

[2021-02-18 19:18] jhilker1 commented on #136
For some reason it's started acting up again - I have no idea why. I'm so sorry about the back and forth here.

[2021-02-19 00:16] jhilker1 commented on #136
For some reason it was somethingin my head.html file. No idea what could have caused it, but for some reason I fixed it. Sorry again!

[2021-02-19 00:16] #136 closed

[2021-02-19 17:02] lxndrblz commented on #138
Hi there,

I was able to reproduce the error locally, but I don’t have a solution for it yet.

It seems like the CSS does not apply to the content of the `_index.md` file. I will need to investigate it more in-depth.

From: Rony Rodrigo Maximiliano Rodriguez Ramirez <notifications@github.com>
Sent: Wednesday, February 17, 2021 10:00 PM
To: lxndrblz/anatole <anatole@noreply.github.com>
Cc: Subscrib

[2021-02-19 17:22] abraithwaite opened #139 "Is Google Analytics Functional?"
Maybe I don't understand how it was implemented, but I don't see an `_internal` directory with the analytics configuration:

https://github.com/lxndrblz/anatole/blob/05841e4ed0ac6f214cd9091ffcf3f9cd1fd3f4f6/layouts/partials/footer.html#L18

Is that a special directory provided by Hugo or something?  I didn't see any changes here which would indicate that it ever got added:

https://github.com/lxnd

[2021-02-19 17:25] lxndrblz commented on #139
Hi there,

it’s a snippet that comes with Hugo, therefore, there is no need to include it in the theme.

Internal Templates | Hugo (gohugo.io) <https://gohugo.io/templates/internal/>

Best regards,

Alex

From: Alan Braithwaite <notifications@github.com>
Sent: Friday, February 19, 2021 5:23 PM
To: lxndrblz/anatole <anatole@noreply.github.com>
Cc: Alexander Bilz <mail@alexbilz.com>; Assign <assign@

[2021-02-19 17:31] abraithwaite commented on #139
Thanks, I should have searched first.  I will do more debugging on my end then, as I'm not seeing it initializing correctly.

[2021-02-19 17:31] #139 closed

[2021-02-19 17:33] lxndrblz commented on #139
It is usually quite easy. Simply set the `googleAnalytics = "UA-123-45"` param in the `config`.

[2021-02-19 17:36] abraithwaite commented on #139
Yep, it was a dumb mistake on my end.  When I went to debug I stupidly assumed I knew more about hugo than I do, and wasn't aware of the internal feature.  Thanks!

[2021-03-03 02:01] Dicky1 opened #141 "Error building site: failed to render pages: render of "home" failed"
![photo_2021-03-03_08-59-31](https://user-images.githubusercontent.com/26633820/109741100-fb1fb180-7bfe-11eb-8053-3e8819f6c8a9.jpg)

[2021-03-03 07:47] #141 closed

[2021-03-03 07:53] Dicky1 opened #142 "Error: Error building site: failed to render pages: render of "page" failed"
After adding theme, I am getting following error.
I have tried with brand new site, without any content, facing the same issue.

➜  quickstart git:(master) ✗ hugo server -D
Error: Error building site: failed to render pages: render of "page" failed: execute of template failed: template: _default/single.html:3:4: executing "_default/single.html" at <partial "head.html" .>: error calling partial: ex

[2021-03-03 16:29] Gregory-Gelfond opened #143 "Unable to get MathJax working"
For some reason I am unable to get MathJax to work correctly when using the Hugo server in debug mode (a la `hugo server -D`. I could be missing something, but in my site directory, I have a partial under `layouts/partials/math.html` that is lifted from the example site:

[code]

In the plain markdown of a post, I have the following: "blah blah blah `\(A^{2} + B^{2} = C^{2}\)`" but on the page it

[2021-03-03 17:10] lxndrblz commented on #142
@Dicky1 Thanks for bringing this to my attention. The error comes from the Opengraph implementation, which expects a series configured in the `config.toml`. Simply add:

[code]

I will update the example config accordingly.

[2021-03-03 17:14] #142 closed

[2021-03-03 17:30] #143 closed

[2021-03-03 17:34] lxndrblz commented on #143
@Gregory-Gelfond  That's true you can either activate the math functions globally or per post.

I've just pushed an update because I realized that the global parameter could not work.

One other note use double backslashes and double dollar signs:

[code]

[2021-03-03 17:35] Gregory-Gelfond commented on #143
Thanks. Using a dollar sign works well too. I only wish Mathias could blend the font to match the rest of the style. LOL

Thank you for the quick fix!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Alexander Bilz <notifications@github.com>
Sent: Wednesday, March 3, 2021 11:34:25 AM
To: lxndrblz/anatole <anatole@noreply.github.com>
Cc: Gregory Gelfond <ggelfond@u

[2021-03-07 10:00] Corfucinas opened #145 "Profile picture gets blocked by ad-blocks"
**Describe the bug**
Profile Picture is getting blocked by ad trackers

**To Reproduce**
Steps to reproduce the behavior:
1. My website - https://corfucinas.github.io/
2. Profile picture will not be displayed and only show the accessibility tag "profile picture"
3. Allow ad trackers
4. Profile picture can be displayed

**Expected behavior**
The picture can be load with no problem

I tried using a

[2021-03-07 10:29] lxndrblz commented on #145
@Corfucinas  Which Adblocker are you using? uBlock Origin, displays the picture just fine for me.

I could imagine it might get blocked because it's loaded from a different origin. Personally, I would advise against loading from the LinkedIn CDN. Would you mind sharing where you'd tried to place the image locally (\static\images\profile.png)?

[2021-03-07 11:03] Corfucinas commented on #145
Hi @lxndrblz

The repo that generates the website is here

https://github.com/Corfucinas/blog

The please refer to the config.toml file, thanks for your time

(Ps. This error happends locally as well, I'm seeing now that I can't either load the favicon...on the console it tries to load it from

Localhost/static/favicon.ico and gets a 404)

[2021-03-07 12:07] lxndrblz commented on #145
There are two things you should change.

First of all in the `config.toml` set the the path of the `profilePicture` to `profilePicture = "/images/profile_picture.jpg"`.

And move the images folder inside of the static folder like this:
![image](https://user-images.githubusercontent.com/12200062/110239141-6d64fe80-7f3d-11eb-9ed6-83dec06a02c6.png)

For the favicon, leave the config blank, and it sho

[2021-03-07 12:43] Corfucinas commented on #145
That actually solves it!
Was I wrong in assuming that the image folder could just be any relative path inside the Hugo project?

Another question that comes now that I have pushed the new repo with the structure changes (once again, thanks).

The image I have selected now is 1364 x 1371

On the website, it renders quite small compared to the `welcome to my website` subtitle....I guess I can just w

[2021-03-07 12:49] lxndrblz commented on #145
What you would need to do is to add a custom css, as explained in the readme. That way no changes would get overwritten and you can make changes as needed. The current width is 127px, which might look small depending on the screen resolution. Feel free to adjust that as needed in your own custom css extension-file.

[2021-03-07 13:27] #145 closed

[2021-03-08 06:52] Corfucinas opened #146 "Inject JS/CSS into mainpage"
Hi, I want to create a modal for my profile picture (just add a simple animation)

How can I inject the modal into the main page?

Sorry if the question seems a bit simple...I mainly only do Python

The code will be adapted from here => https://www.w3schools.com/css/tryit.asp?filename=trycss_image_modal_js

In case you want to see a ref.

[2021-03-08 15:27] lxndrblz commented on #146
@Corfucinas  You can add these functionalities through custom css files and custom js files. Simply split the example accordingly (CSS into CSS file, JS into JS file).

If you are specifically after the image-zoom, then you shouldn't need to make any adjustments, as anatole ships with medium-zoom, which produces a similar effect.

[2021-03-10 12:58] Corfucinas commented on #146
Thanks for the answer @lxndrblz

Sorry for my late reply, too busy for my own taste this week.
Could you provide me a code example on Anatole zoom? I didn't seem to come across it.

[2021-03-10 16:03] lxndrblz commented on #146
The JavaScript is located in `assets/js/medium-zoom.js`, the css located in `assets/css/style.css`. You should notice it, when you click on an image (it should zoom in and increase).

The medium-zoom comes as a partial, which is linked in the `footer.html`.

[2021-03-10 19:54] Xen-Echo opened #148 "Support for google analytics gtag"
Hi, I'd like to add support for the google analytics gtag.

As far as I'm aware Hugo doesn't yet support the newer gtag method for analytics and Google actively discourages generating older UA style properties.

I've implemented this on my own site and wondering if it's something worth adding to the theme? I'm happy to do it or make any changes:

New Partial: `google-analytics-gtag-async.html`

[c

[2021-03-10 20:04] lxndrblz commented on #148
@Xen-Echo I am sure that could be a valuable contribution. Would you mind opening up a separate PR for it?

[2021-03-10 20:18] Xen-Echo commented on #148
@lxndrblz Yes, no worries.

[2021-03-10 20:37] #148 closed

[2021-03-11 13:07] Corfucinas commented on #146
Like I mentioned above...I do not have that much experience on anything related to front-end (doing my own website as an exercise to develop those skills).

https://corfucinas.github.io/

I can't seem to get that functionality working on my website, should I copy `assets/js/medium-zoom.js` to my project folder?

Also, seems the image on https://corfucinas.github.io/resume/resume.html is getting a

[2021-03-11 13:42] lxndrblz commented on #146
@Corfucinas No need to copy anything - it should work by default on any post. Unfortunately, when I go to your resume page, I get a lot  of 404:

![image](https://user-images.githubusercontent.com/12200062/110795031-458fd680-826e-11eb-93d7-b485bdc76256.png)

I, therefore, can't test the medium zoom. Could you please provide me with a link that works?

Regarding your resume: Is that done using the

[2021-03-12 03:05] xiangli2pro opened #151 "post tag and category link to 404 page"
Hello there,

Thank you for the beautiful theme. I have some problems with the 'tag' and 'category' features of the post, I appreciate it if you can help me with it.

In the demo, 'tag' and 'category' of each post are linked to the 'posts' page. However, when I run the theme on my local server, the 'tag' and 'category' point to the 404 page.

Here is what I did, in the terminal:
hugo new site quic

[2021-03-12 08:01] lxndrblz commented on #151
@xiangli2pro  Thanks for your description. I was able to reproduce the error locally and will report back once I have a solution.

[2021-03-12 16:43] egealpay opened #152 "Rendering matrix in katex"
**Describe the bug**
I cannot render any matrix in katex

**To Reproduce**
Steps to reproduce the behavior:
1. Create a markdown file which uses katex for math.
2. Copy any matrix in https://katex.org/docs/supported.html
3. Paste matrix formula in markdown as block formula

**Expected behavior**
<img width="89" alt="Screen Shot 2021-03-12 at 19 43 12" src="https://user-images.githubusercontent.com

[2021-03-12 17:08] lxndrblz commented on #152
@egealpay  Thanks for reporting this.

I think the issue has to do with escaping the double \\ in katex. If I try to run the following snippet I am getting a nicely formatted math function:

`
$$
\\begin{bmatrix}
   a & b
\\end{bmatrix}
$$
`
However, once there is a new line within the matrix it breaks. For example, I'd tried the following with mathjax enabled, and it didn't have any issues (note

[2021-03-12 17:47] Xen-Echo opened #153 "Meta description is always the same"
Currently, the meta description tag in the page head is always the description set in the config:

[code]

This results in all the pages having the same meta description, Google recommends they be differentiated from one another:
https://developers.google.com/search/docs/advanced/appearance/good-titles-snippets#meta-descriptions

I've got a proposal I can submit a PR for that uses the "description

[2021-03-12 18:19] egealpay commented on #152
Thanks a lot 👍

[2021-03-12 18:19] #152 closed

[2021-03-12 18:27] lxndrblz commented on #153
Another spot-on idea. Would you mind making a separate PR for it?

[2021-03-12 21:27] #151 closed

[2021-03-12 21:30] lxndrblz commented on #151
Hi there, please try again using the latest version. The problem is if a taxonomy is defined in the `config.toml`, Hugo was expecting that categories and tags are also defined there. It should be working now.

[2021-03-12 21:34] #153 closed

[2021-03-12 21:35] lxndrblz commented on #59
Reopened this issue upon request by @Gregory-Gelfond.

[2021-03-12 23:49] amaothree commented on #151
Hi lxndrblz, I have to report after this update my post tag page be 404 now :(

I build a multi-language blog. Before this update I can visit my Chinese posts and English posts in _https://amao.run/zh/posts_ and _https://amao.run/en/posts_ . Now they are 404. And I also found if I directly visit the link _https://amao.run/posts/_ , I can visit the default language posts page (Chinese in my blog) n

[2021-03-13 00:12] amaothree commented on #151
Hi @lxndrblz , I have to report after this update my post tag page be 404 now :(

I build a multi-language blog. Before this update I can visit my Chinese posts and English posts in https://amao.run/zh/posts and https://amao.run/en/posts . Now they are 404. And I also found if I directly visit the link https://amao.run/posts/ , I can visit the default language posts page (Chinese in my blog) norma

[2021-03-13 00:36] lxndrblz commented on #151
I'll have a look and report back, but the problem seems different from the one @xiangli2pro had.

[2021-03-13 03:15] xiangli2pro commented on #151
Thank you! That works for me.

I have two follow up questions. If necessary I can open up new issues for them.

1. I update the theme using the command `git submodule update --remote --merge` in the terminal, under the path '/quickstart/' (use the project example mentioned in my first question). However, I did not detect any changes on '/quickstart/themes/anatole/'. So I had to start a new site wi

[2021-03-13 08:53] lxndrblz opened #155 "Posts not showing up on multi-language blog (Posts page)"
Hi @lxndrblz , I have to report after this update my post tag page be 404 now :(

I build a multi-language blog. Before this update I can visit my Chinese posts and English posts in https://amao.run/zh/posts and https://amao.run/en/posts . Now they are 404. And I also found if I directly visit the link https://amao.run/posts/ , I can visit the default language posts page (Chinese in my blog) norma

[2021-03-13 08:54] lxndrblz commented on #151
@amaothree I've moved your message to a separate issue #155.

[2021-03-13 09:03] lxndrblz commented on #151
@xiangli2pro Regarding 1) That's the correct approach. I usually run the git submodule update in the directory where my .git file is. You should see a command output with the files and number of lines which have changed since the last version. Did you see that?

Regarding 2) The read more class is not used in this theme and I believe the original theme by Cai Cai didn't have that ability either. T

[2021-03-13 10:08] KHannibal opened #156 "Add Commento commenting system"
[Commento](https://commento.io/) is a commenting system that has no ads or tracking, is lightweight, fast.

I would appreciate if anatole could support it. Thank you !

[2021-03-13 12:26] #156 closed

[2021-03-13 17:00] Xen-Echo opened #157 "What's JQuery used for?"
Hi, Could you point me to what's actually using JQuery in the theme? It pulls in JQuery, JQuery Migrate, and JQuery Appear but I'm struggling to actually find anything that uses it.

Cheers.

[2021-03-13 17:04] xiangli2pro commented on #151
Thank you for the information!

[2021-03-13 17:47] lxndrblz commented on #157
@Xen-Echo  Good question! It should no be longer necessary to load the three scripts you are referring to, as everything else (Hamburger Menu, Theme Switcher and Medium Zoom) are implemented in vanilla JavaScript.

[2021-03-13 17:54] Xen-Echo commented on #157
Awesome I guess the question is: should I remove them? Could shave some loading time and the pages aren't bloated with unused scripts!

[2021-03-13 17:55] #157 closed

[2021-03-13 18:02] lxndrblz commented on #157
@Xen-Echo You were a bit faster commenting than I could push the update. I've removed them now, as it will help with the load times, maintainability and security.

[2021-03-13 18:06] Xen-Echo commented on #157
@lxndrblz Awesome thanks for that!

[2021-03-13 21:58] #59 closed

[2021-03-13 21:59] lxndrblz commented on #59
@Gregory-Gelfond  I've implemented the feature as requested. The shortcode code [example](https://github.com/lxndrblz/anatole/blob/master/exampleSite/content/post/figure-shortcode.md) will give you something like this:

![image](https://user-images.githubusercontent.com/12200062/111050913-52b3ed80-8447-11eb-81b1-23ec6b2661b4.png)

[2021-03-13 22:35] lxndrblz commented on #155
@amaothree  Could you please confirm that `http://localhost:1313/zh/posts/` worked for you before? I am currently trying to debug your site.  At least I am seeing the same error locally as on your website.

[2021-03-13 22:36] lxndrblz commented on #155
It seems like it is currently located under `http://localhost:1313/posts/`. I will check if its possible to show it under the zh directory again.

[2021-03-13 22:43] lxndrblz commented on #155
@amaothree add the following two lines to your `config.toml` and you should be good to go.

defaultContentLanguageInSubdir = true

[params]
mainSections = ["posts"]

Please let me know, if the issue still persists.

Btw. your english post didn't show up because it was a draft. :)

[2021-03-13 22:45] #155 closed

[2021-03-13 22:57] amaothree commented on #155
Thanks your support. These configs fix the problem !

[2021-03-13 23:36] xiangli2pro opened #158 "utterances comments not showing up"
Hello there,

I have been trying to set up the utterances comments for each post, I have downloaded the utterances app in the website repo and set the parameters in config.toml as below, but there is no comments showing up in local server or online web.

[code]

I only modified the `config.toml`,  added `customer.css`, and added .md files in the content folder.  I updated the anatole theme yesterd

[2021-03-13 23:49] Xen-Echo commented on #158
Might be wrong here but I ran into a similar block setting up comments on my site, comments only appear on "post" types and I have my content structured slightly differently.

Adding

[code]

to the markdown files [Font Matter](https://gohugo.io/content-management/front-matter/) fixed it for me.

[2021-03-13 23:55] lxndrblz commented on #158
@Xen-Echo is basically correct. The comments are only loaded for post types and if comments are not disabled globaly. Let me know if that fixed your issue, else I will have a look at your config/files.

[2021-03-14 15:16] xiangli2pro commented on #158
Thank you all! That works for me!

After I add `type: post` in `.md` file, the post has comment box now, but the post disappear from the home page. I fix it by adding `"post"` into parameter `mainSections` in the `config.toml`.

[2021-03-14 15:16] #158 closed

[2021-03-14 17:45] xiangli2pro opened #159 "add Read More feature"
Hello there,

I followed the idea from this link https://discourse.gohugo.io/t/read-more-links-in-paginated-posts/9163/2, and I was able to add the `read more` link on post listed on home page. I add the below code in anatole/layouts/index.html between code chunk 'post-content' and 'post-footer'.

[code]

[2021-03-14 17:47] lxndrblz commented on #159
@xiangli2pro Would you mind opening a PR so we can track this change?

[2021-03-14 17:52] lxndrblz commented on #159
Question regarding read-more functionality came up in issue #151

[2021-03-14 17:55] xiangli2pro commented on #159
Sure, I will open a separate PR. Thanks.

[2021-03-16 21:08] dgrevink opened #161 "Multi-line slogans"
**Is your feature request related to a problem? Please describe.**
I would like to be able to have multi-lined slogans on the sidebar.

**Describe the solution you'd like**
I would like to be able to specify a string with newlines in config.toml for the description field and when Hugo generates it have the sidebar display it properly.

I have a pull-request ready for this.

[2021-03-16 21:10] lxndrblz commented on #161
@dgrevink Feel free to send me a PR and I will review it. :)

[2021-03-18 17:03] snowfoxboots opened #162 "Partials Footer"
Hello. I get an error when trying to build on Netlify related to the partials/footer.html:
<hugo>: can't evaluate field IsProduction in type interface {}
Is there something I'm missing? I am new at working with Hugo.. Thanks.

[2021-03-18 17:16] lxndrblz commented on #162
@snowfoxboots Would you mind sharing what Hugo version you are using?

[2021-03-18 17:30] snowfoxboots commented on #162
hugo v0.81.0+extended darwin/amd64

[2021-03-18 17:49] Xen-Echo commented on #162
@lxndrblz Here's the version I use as I included that line a part of the GA4 analytics request:

hugo v0.81.0-59D15C97 windows/amd64 BuildDate=2021-02-19T17:07:12Z VendorInfo=gohugoio

Though I don't use Netlify

[2021-03-18 17:54] lxndrblz commented on #162
I imagine it's caused by the following if clause:
`
{{- if and (hugo.IsProduction) (.Site.Params.gtagId) -}}
`
Though, that shouldn't be an issue. I'll do some research and report back.

@snowfoxboots  Would you mind sharing the full error messaging you are seeing?

[2021-03-18 18:01] lxndrblz commented on #162
@snowfoxboots  Could you please also share your `netlify.toml`?

[2021-03-18 18:02] snowfoxboots commented on #162
Ah this is my mistake, I didn't update the newest version on the netlify.toml file. It does work.

[2021-03-18 18:06] lxndrblz commented on #162
@snowfoxboots That was a quick fix. Please let me know, if you are still running into another issue.

[2021-03-18 18:09] #162 closed

[2021-03-18 22:51] GhostBasenji opened #163 "Tag “C#” page show 404"
When I click on the C# tag, page 404 appears. How did I figure it out that the " # " symbol is specific. How is this resolved?

[2021-03-19 06:13] lxndrblz commented on #163
Thanks for bringing this up. I'll need to investigate this and report back!

[2021-03-19 18:55] lxndrblz commented on #163
@GhostBasenji I was doing some digging and it seems like certain characters don't work well with Hugo/YAML and it's unfortunately not just a limitation of this theme. The problem is that certain characters are reserved according to the [RFC Standard](https://tools.ietf.org/html/rfc3986)

https://discourse.gohugo.io/t/sanitizing-category-names/11087
https://github.com/gohugoio/hugo/issues/4519
http

[2021-03-19 19:11] #161 closed

[2021-03-20 06:19] GhostBasenji commented on #163
There are... For example, this... https://github.com/GhostBasenji/blog-src and https://github.com/GhostBasenji/blog-src/blob/master/themes/notepadium/layouts/partials/note-list.html (or https://github.com/cntrump/hugo-notepadium)

Or as a solution, you can leave C# in the tags, and in the address bar like this: /tag/c.

[2021-03-20 12:15] lxndrblz commented on #163
@GhostBasenji Thanks I will check how they circumvent the issue.

[2021-03-20 12:22] lxndrblz commented on #163
It appears as they simply replace the problematic characters:

https://github.com/cntrump/hugo-notepadium/blob/37a4b7215f4fb563035eb9c1b8f661defc7b9954/layouts/partials/note-labels.html

[code]

[2021-03-20 12:56] #163 closed

[2021-03-20 17:58] Xen-Echo opened #166 "Open graph meta tags won't output unless taxonomies "series" is specified"
This looks like it's by design but I'm curious as to why the internal open graph template only outputs if "series" is specified.

[code]

[2021-03-20 18:09] lxndrblz commented on #166
@Xen-Echo The reason I checked the series before loading the Open Graph, is because it must be set or else the template fails. The documentation [talks](https://gohugo.io/templates/internal/#configure-open-graph) about it but does not mention it specifically. One downside of using taxonomies is that you would have to set all of them (tags and categories as well) through the `config.toml`, or else

[2021-03-20 18:13] Xen-Echo commented on #166
Cheers @lxndrblz, I have the following config locally and it seems to work if I move the "_internal/opengraph.html" template outside of the conditional. Maybe it's fixed in the core project now:

[code]

[2021-03-20 18:40] lxndrblz commented on #166
@Xen-Echo Thanks for your feedback. I will need to check if issue #151  would come back.

[2021-03-20 19:43] Xen-Echo commented on #166
I was reading the docs and it seems 404s would be expected if you specified a taxonomy like below:

[code]

According to the docs: https://gohugo.io/content-management/taxonomies/#example-adding-a-custom-taxonomy-named-series

You also need to include the defaults as well if you want to keep them, like so:

[code]

[2021-03-20 19:44] Xen-Echo commented on #166
Ignore that last one I missed, the extra bit about the multi-language.

[2021-03-20 20:01] Xen-Echo commented on #166
The "series" taxonomy "should" only be needed to specify the see also open graph meta. According to the docs at least:

Here's the actual internal template: https://github.com/gohugoio/hugo/blob/master/tpl/tplimpl/embedded/templates/opengraph.html

[2021-03-20 20:15] Xen-Echo commented on #166
Testing locally the open graph template only fails to render if you have pages with "series" front matter and haven't also specified the corresponding "series" taxonomy. I personally don't think this should stop the open graph template rendering though as you lose the basic open graph fields like image etc. when you copy a page link somewhere that supports rich URLs.

[2021-03-20 20:18] Xen-Echo commented on #166
The only "good" potential fix ideas I have are:

* Document that you need the series taxonomy if you have pages that define it in the front matter
* Keep it the way it is but then you need the series to get any open graph properties
* Introduce a new open graph template into the theme based on the internal hugo one and wrap the fix around series specific code

[2021-03-21 10:47] #159 closed

[2021-03-23 10:31] lxndrblz commented on #166
@Xen-Echo Thanks for pointing out our options and doing a bit more research. I will review these and do some more digging as soon as I have a little bit more time.

[2021-03-27 11:48] ericswpark opened #169 "Better language dropdown"
Right now the language menus in the navigation bar redirect the user to the main page of the website. Would it be possible to implement the language switcher as a dropdown instead so the user can switch between the different languages of a given page? Preferably, the language switch should redirect to the same page instead of redirecting back to the main page.

Sort of like the language switcher a

[2021-03-27 11:53] lxndrblz commented on #169
@ericswpark Just to confirm you want this on a per-page basis rather than globally?

[2021-03-27 12:14] ericswpark commented on #169
@lxndrblz Yup! It would be great if anatole would stay on the same page, but change to the new language. The switcher should only default to the main page if the current page does not have a translation to the selected language.

[2021-03-29 11:58] ericswpark opened #173 "[FR] Smoother dark theme"
It would be great if the current dark mode implementation can be changed so that it follows the system (Windows/macOS) theme set in settings. This way, the website automatically follows the system theme as it changes (for example, on macOS the system theme changes depending on sunrise/sunset).

For reference, please see: https://web.dev/prefers-color-scheme/#the-prefers-color-scheme-media-query an

[2021-03-29 12:08] lxndrblz commented on #173
@ericswpark Regarding the automatic switching: That's already implemented if you check the [anatole-theme-switcher.js](https://github.com/lxndrblz/anatole/blob/master/assets/js/anatole-theme-switcher.js). However, it only checks upon first visit (when there are no settings set). Do you want the system settings always have priority over the last set setting?

We had the transition in the early days

[2021-03-29 19:27] ericswpark commented on #173
Hmm, I got this idea from sites that transition as the system changes from light to dark (or vice versa). I think the script should work as-is, but continuously check instead of checking once and transition as the system transitions. And then maybe we could disable the transition if the user has used the toggle before to force a specific mode.

The flashing thing sounds strange; does this issue oc

[2021-03-29 20:00] lxndrblz commented on #173
@ericswpark If you want, we could work on it in a separate PR.

I think the continuous check would be a decent idea or at least on every reload.
Yes, I believe it was on iOS.

[2021-04-02 02:27] xiangli2pro opened #174 "math not rendered properly"
Hello there,

I was trying to render the below math equation but failed, I think I am using the Katex supported functions and I can render other math symbols, could you please help me with the issue? Thank you.

[code]

The correct version should look like this.
<img width="166" alt="Screen Shot 2021-04-01 at 10 17 42 PM" src="https://user-images.githubusercontent.com/78754416/113373228-63fe6480-9

[2021-04-02 07:57] lxndrblz commented on #174
@xiangli2pro Thanks for reporting this. I was able to reproduce the problem but have no solution (yet). I will do a bit more digging. What I noticed so far is that the problem only seems to occur if there is more than one N.

[2021-04-02 15:50] xiangli2pro opened #175 "raw HTML <img> in markdown does not work"
Hello there,

I was trying to customize the size of images by using the css `<img>` in the markdown, somehow the image cannot show up in my local server. Could you please help me with it? `![](/images/profile.jpg)` works but not `<img>`

[code]

**Desktop (please complete the following information):**
 - OS: macOS Catalina
 - Browser: safari
 - Version of Hugo:  v0.81.0+extended

[2021-04-02 15:58] Ayan-Ali commented on #175
**img** tag is opened but never closed `<img src="/images/profile.jpg">`
_You Can Use:_
- **self closing tag:** `<img src="/images/profile.jpg"/>`
- **separate closing tag:** `<img src="/images/profile.jpg"></img>`

[2021-04-02 16:00] lxndrblz commented on #175
@xiangli2pro Hi there,

yes, there is a reason for that. It's because by default Hugo Markdown has `unsafe` mode turned off. If you turn it on:
[code]
It will work.

[2021-04-02 16:01] lxndrblz commented on #175
Instead of using raw HTML, I you should extend the figure shortcode for further options and customise those via CSS.

[2021-04-02 16:45] xiangli2pro commented on #175
Thank you for the reply. It works for me.

Now I am able to customize the image sizes using `<center><img src="/images/profile.jpg" width="800" height="100"></center>` in the markdown file.

It also works using figure shortcode `{{< figure src="/images/profile.jpg"  class="alignright" width="800" height="100" >}}` in markdown file.

One more question, could you please direct me to the files where

[2021-04-02 16:56] lxndrblz commented on #175
Yes, I forgot to mention, that figure comes with height and width [built-in](https://gohugo.io/content-management/shortcodes/). It's an easy option if you just want an image to appear a bit smaller.

If you want to find out how the left and right setup was created, check out this [commit](https://github.com/lxndrblz/anatole/commit/e0796f9afdc9c7dca00069dba659a516a2ba178d). You could basically writ

[2021-04-02 16:56] #175 closed

[2021-04-02 16:57] xiangli2pro commented on #174
Hello there,

I think I have figured out the issue. The equation can be rendered after I replace `_` by `\_` after `\underbrace{}`. Now the equation below can be rendered successfully.
[code]

I got the idea from the support post [here](https://discourse.gohugo.io/t/rendering-math-symbols-with-katex-in-hugo/4146).

[2021-04-02 17:00] lxndrblz commented on #174
Great @xiangli2pro to hear you were able to resolve the issue and thanks for sharing the solution with us.  👍

[2021-04-02 17:00] #174 closed

[2021-04-02 17:07] lxndrblz commented on #169
This [dicussion](https://discourse.gohugo.io/t/how-to-translate-only-a-subset-of-the-pages/14083/5) should be a good starting point. I hope to find some time to play around with it on the weekend.

[2021-04-02 17:10] lxndrblz commented on #173
The original issue was discussed in issue #21

[2021-04-07 15:19] plutov opened #176 "Unable to deploy to S3"
I used the following config to deploy my blog before:

[code]

Now I see the following error when deploying:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Apply the above config
2. Deploy using `hugo -v deploy --maxDeletes -1`

**Expected behavior**

No errors should be returned.

**Desktop (please complete the following information):**
 - OSX
 - Latest version of theme
 - Hugo v0.7

[2021-04-07 17:11] lxndrblz commented on #176
@plutov Thanks for bringing this issue up. The problem seems to do with the `IsProduction` check. According to the [documentation](https://gohugo.io/getting-started/configuration/) Hugo will set the environment to production if the hugo command is used so that should be good.

Out of curiosity, are you able to build the site without the deploy command?

[2021-04-07 17:21] lxndrblz commented on #176
Based on your latest [commit](https://github.com/plutov/pliutau.com/commit/eddc89049944348b11d63cd774662656d9a1fcfe#diff-87ee5504a3e25ac558b343724c905f2f7949e8cec3d92b9c4300bb922afa164f) it appears as the GitHub action succeeded. Were you able to get it resolved?

[2021-04-08 05:02] ericswpark commented on #173
@lxndrblz I just updated my website to the latest commit on master (without the PR added in #167) and for some reason I'm unable to get the automatic switching to work. I tried toggling the system preference a couple of times but the website only picks up the change after a refresh. (Localstorage was cleared out before testing)

For reference, here's my website next to an example site (clien.net)

[2021-04-08 05:56] plutov commented on #176
Exactly, I was aable to figure it out. The issue can be closed! The theme is cool and Live as you can see :)

[2021-04-08 05:56] #176 closed

[2021-04-08 13:15] lxndrblz commented on #173
@ericswpark It is not yet in the master branch. Before merging it I still wanted to get your opinion. Please check out the dark mode branch.

[2021-04-08 19:17] ericswpark commented on #173
@lxndrblz tried:
 - checking out `darkmode` branch
 - checking out `master` and merging `darkmode` on top

For both cases I wiped local storage, but the auto switcher still doesn't kick in for some reason. The color changes if I refresh the page.

As for the `darkmode` branch it looks nice! The color might be a bit too dark I think.

I noticed the transition implemented doesn't fade out the backgr

[2021-04-08 19:36] ericswpark commented on #173
@lxndrblz can you check out https://github.com/ericswpark/anatole/commit/aa3d70f999c541c92bdbdfac9e77318821ac7626? It's a dirty patch to make the auto switching work.

I copied the CSS file to two light/dark.css files and then loaded them both with the CSS media query set. Then the browser handles the transition automatically when the system theme changes. Unfortunately, I had to patch out the ent

[2021-04-09 23:06] lxndrblz commented on #173
@ericswpark  Thats one of the things I noticed too. The autoswitcher and switch don't play along nicely. I'll  have a look at your patch and see if I could merge into the PR somehow.

[2021-04-11 10:41] nicholascarey opened #177 "Thumbnail size and cropping"
It would be nice to be able control the size of the thumbnails as they appear at the top of posts, and also the size and cropping as they appear in the post list on the home page.

Maybe there is a way of doing this I haven't worked out yet?

[2021-04-11 19:38] lxndrblz commented on #177
@nicholascarey No you did not miss anything. The images right now have to be cropped and scaled manually right now.

Image processing is something I don't prioritise for static sites as I think it is not a major issue. It would also be hard to choose the correct section without a visual editor. If you have a working code to address this feature request, then feel free to open a PR.

[2021-04-11 21:31] nicholascarey commented on #177
Ok, no worries!

[2021-04-11 21:31] #177 closed

[2021-04-17 20:25] a0m0rajab commented on #169
this [discussion](https://discourse.gohugo.io/t/change-lang-verion-on-current-page/5817/3) could help too.

[2021-04-18 13:08] lxndrblz commented on #173
@ericswpark I wanted to report back on this issue. I'd tried to integrate a smooth transition between the modes. While I got it working, it was incredibly unevenly occurring across the site. Some portions would fade faster than others. I, therefore, decided to not implement this feature. What I added, however, is a listener for detecting the system preference change.

As soon as my dark mode branc

[2021-04-18 13:08] #173 closed

[2021-04-19 20:48] a0m0rajab opened #180 "Side Bar size option"
**Side Bar option in params**
Is there any possibility to set the sidebar size from the params of Hugo? this way the Theme user will be able to choose if the side bar would be only 40% or less! the thing is that it may offer more screen usage and have a bit clearer theme.

[2021-04-20 12:15] brinkabeler opened #181 "postSectionName = "blog" does nothing"
**Describe the bug**
I want to have my post section to be named "blog" and therefore set postSectionName = "blog" under [params]. All that does is to redirect links from /blog/ to /post/.

This happens when I build locally or in github pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://brinkabeler.github.io/
2. Click on Blog
3. arrive at https://brinkabeler.github.io/post/

[2021-04-20 12:22] brinkabeler opened #182 "mainSections = [] does not work when building on github"
**Describe the bug**
When building my site with the marketplace action linked below, I have to set mainSections = ["docs"] instead of mainSections = [] in the config in order to have content on the main page.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up page to have content on the start page with mainSections = [] as stated on the anatole github page
2. Build page with github actio

[2021-04-20 13:36] lxndrblz commented on #181
@brinkabeler  Hello Martin, you were on the right track. Only thing you missed, is renaming your post folder (inside of content) to blog. Once, that is done all posts will show up under your blog and will be linked accordingly.

![image](https://user-images.githubusercontent.com/12200062/115404982-bb7c4b80-a1e5-11eb-959c-8034ea826c02.png)

Hope that helps.

[2021-04-20 13:53] brinkabeler commented on #181
Great, thank you! It may be a good idea to document that in the readme for the next person ;)

[2021-04-20 14:20] brinkabeler commented on #181
Spoke too soon. This works on my machine, but not when I build on github, for some reason...

[2021-04-20 14:27] brinkabeler commented on #181
Apparently it took some time and now works... nevermind, I'll see myself out.

[2021-04-20 14:27] #181 closed

[2021-04-20 18:37] lxndrblz commented on #180
I have some code locally already for addressing this enhancement:

![image](https://user-images.githubusercontent.com/12200062/115446758-93a1dd80-a20f-11eb-93f6-04aecedc221f.png)

Basically, it allows to set the ratio (0.7) via the config. I only need to fix an issue with ultrawide screens, where the output is distorted.

[2021-04-20 22:24] a0m0rajab commented on #180
Tha'ts great to know!
For me I was thinking that to give the ability to change the full ration and play around with it, some users may want to set it for 0.5.

[2021-04-21 07:24] lxndrblz commented on #180
Yes, that is possible basically any meaningful value between 0 and 1 will do (0.5, 0.6, 0.8 etc.).

[2021-04-21 10:30] ericswpark commented on #173
That's fine, I think we had a bit of a miscommunication. The "transition" I was talking about was macOS/Firefox smoothly transitioning between light mode and dark mode, based on the prefers-color-scheme attribute.

I'll check out the latest commit and see if it still works. Thanks!

[2021-04-21 14:08] brinkabeler opened #184 "[params] author is actually the sites html title"
**Describe the bug**
I expected "title" to be the config field for the site title and noticed that actually, the "author" field is used for the html website title.

**To Reproduce**
Steps to reproduce the behavior:
1. Put sting A in [params] author field in config.yaml
2. Put sting B in title field in config.yaml
3. Build site
4. Find string A in the <title>-tag of the finished website

**Expected

[2021-04-21 14:29] lxndrblz commented on #184
@brinkabeler The behaviour you see is controlled via this piece of code:
https://github.com/lxndrblz/anatole/blob/2f0ff4dace953e870d2d2fbf1f9bd0d4da6a5651/layouts/partials/head.html#L2

As this site is intended for a single-author/personal site, the author's name gets pulled from the config, while the title gets pulled from the site/blog post. That is the case, because else all of your site would

[2021-04-21 19:30] brinkabeler commented on #184
Thank you for the explanation! Maybe in that case it would make sense to remove the title parameter from the config file in the example site in order to avoid confusion.

I don‘t exactly mind the way this works, from the example config I just expected it to work differently. Now I know how it is intended I can work with it.

Thanks again!

[2021-04-21 19:33] lxndrblz commented on #184
@brinkabeler Thanks for your feedback. Let me give you a bit more content, about the parameter in question. The title parameter you were tweaking doesn't adjust the html title, but the sidebar title. See this piece of code:

https://github.com/lxndrblz/anatole/blob/2f0ff4dace953e870d2d2fbf1f9bd0d4da6a5651/layouts/partials/sidebar.html#L5

Do you think the current documentation is not clear enough?

[2021-04-21 20:29] brinkabeler commented on #184
I was referring to the title parameter above the [params] section. The one you refer to I understood fine.

[2021-04-21 20:40] lxndrblz commented on #184
Oh gotcha. You mean this one right?

https://github.com/lxndrblz/anatole/blob/4beb92098a0c1565aca7e674c884992ee3723aad/exampleSite/config/_default/config.toml#L4

It is actually one of the default Hugo parameters. It is used through out various places, such as the rss feed.

[2021-04-22 07:34] brinkabeler commented on #184
Exactly. Since this is not quite self-explanatory, I think some comments in the config file for the lines in question would be helpful.

[2021-04-24 11:01] lxndrblz commented on #182
@brinkabeler Thanks for bringing this up!. I am sorry, but I could not follow why you changed the `publishDir`. The `publishDir` only changes the directory -to which the output (static site) is generated- from `public` to whatever you specify. This parameter is not theme specific and does not control the content on the front page.

Did I understand you correctly, that you simply wanted to show the

[2021-04-24 11:56] brinkabeler commented on #182
Sorry about the confusion, those thing are probably not related.

I want to show the content in my content/_index.md on the frontpage. This works locally by setting mainSections = [] in the config.

When I build my page on github I have to set mainSections = ["docs"] to get the same results. Otherwise github pages tries to load /posts/ instead of the main page. I did this because I saw this in an

[2021-04-25 09:45] bu4ak opened #185 "Invalid link in readme.md"
**Describe the bug**
Invalid link in readme

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://github.com/lxndrblz/anatole](https://github.com/lxndrblz/anatole)
2. Scroll down to `Modifying the config.toml`
3. Click on ` sample`
4. See error `404`

**Expected behavior**
The configuration example opens.

**Screenshots**
![image](https://user-images.githubusercontent.com/17143820/1

[2021-04-25 10:59] #185 closed

[2021-04-27 18:06] amaothree commented on #114
I have the same issue. And I am using Windows. I try the solution provided by @gofort , executed `git config --global core.autocrlf true` however it not work.
My blog is https://amao.run/en
[code]

[2021-04-27 18:13] amaothree commented on #114
I found this related issue.
https://github.com/alanorth/hugo-theme-bootstrap4-blog/issues/53

Whatever I will try to use WSL to generate the blog again to check is a Hugo-on-Windows bug.

[2021-04-27 23:31] kstrauser opened #187 "Formatting is different in bullet lists than other body text"
**Describe the bug**
Lists of bulleted items are more tightly spaced, and use a slightly larger font, than other text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://honeypot.net/post/review-hook-by-cogsci/ for an example.

**Expected behavior**
Bullet lists should have the same line-height and font size as other text.

**Screenshots**

The ul>li elements have the default dens

[2021-04-28 07:30] #146 closed

[2021-04-28 11:43] jbarnes opened #188 "exampleSite - Socials only work with [[params.socialIcons]] set if using config.toml only"
**Social icons would only load if config.toml has [[params.socialIcons]] set if using config.toml only**

**Warning** - I'm very green with Hugo,

I directly took the **exampleSite** `[[socialIcons]]` examples from the `params.toml` and placed it directly into my singular `config.toml` I only found out I needed to set `[[params.socialIcons]]` in the `config.toml` to get them to work checking anoth

[2021-04-28 12:08] lxndrblz commented on #187
@kstrauser  You are completely right. We are missing the following css styling for the ul of post-content.

[code]

[2021-04-28 12:21] #187 closed

[2021-04-28 12:29] lxndrblz commented on #188
@jbarnes Thanks for the feedback. It is true, that if the separate files are used then it is possible to omit the params prefix, but not for a single config file. I've just realised the readme doesn't state anything about social icons right now. I think I will include a separate paragraph that addresses this issue. If you have any suggestions, feel free to open a PR.

[2021-04-28 16:04] kstrauser commented on #187
Beautiful. Thanks, @lxndrblz!

[2021-04-28 18:09] kstrauser commented on #187
To follow up, this looks _so_ much nicer now. Thanks again!

<img width="759" alt="Screen Shot 2021-04-28 at 11 08 51 AM" src="https://user-images.githubusercontent.com/295674/116452057-234c1b00-a812-11eb-9775-0f27854aaef8.png">

[2021-04-28 20:19] amaothree commented on #114
Hi guys. If you are using your own domain name. I think I may have solved this problem.

Make a long story short, turn off Cloudflare's "Always Use HTTPS" function.

I was suffering from this problem for a long time. By checking everyone's solutions, neither my reinstallation of the theme nor changing the git related settings solved the problem.

So, I shifted my focus. I had always suspected that

[2021-04-29 01:24] jbarnes commented on #188
Pull Request raised to update readme - https://github.com/lxndrblz/anatole/pull/189

[2021-04-29 06:32] #188 closed

[2021-04-29 11:38] jbarnes opened #190 "Use of quotes (single or double) in posts causes weird text spacing issue"
**Describe the bug**
If single or double quotes are used in a Hugo post, the theme seems to render them with some very strange additional spacing after if single quotes or before if double quotes

**To Reproduce**
This post is has visible examples

https://effektd.dev/posts/github-name-squatting/

**Expected behavior**

Use of quotes with text should follow the same spacing as regular text

**Desk

[2021-04-29 12:14] lxndrblz commented on #190
@jbarnes  I have also noticed that on my own blog and it looks quite ugly, indeed.
I think it might has to do with the recent change of fonts, but I still need to confirm that.

[2021-04-29 12:20] lxndrblz commented on #190
The problem seems to come from the Microsoft Yahei and Sim Sun font.

[2021-05-03 00:53] chuk-yong opened #192 "Profile page vertical alignment issue"
Hi!  On the main page, the profile picture is centred but all the favicons are below and covered.  How do I move everything up?

<img width="958" alt="Screenshot 2021-05-03 084806" src="https://user-images.githubusercontent.com/18753521/116833582-aabbd480-abec-11eb-96ff-b6c7d9402098.png">

[2021-05-03 07:41] lxndrblz commented on #192
@chuk-yong You would need to adjust the spacing by lowering the padding top of this CSS class:
[code]

Out of curiosity, on which kind of oddly shaped device did you take this screenshot?

[2021-05-03 07:58] chuk-yong commented on #192
Thanks for the quick reply.

That's how the page appears on my chrome browser.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Alexander Bilz ***@***.***>
Sent: Monday, May 3, 2021 3:41:53 PM
To: lxndrblz/anatole ***@***.***>
Cc: Chuk Yong ***@***.***>; Mention ***@***.***>
Subject: Re: [lxndrblz/anatole] Profile page vertical alignment issue (#192)

@chuk-y

[2021-05-03 12:55] chuk-yong commented on #192
Viewing it with Edge is fine but somehow on Chrome the favicons got lost in the bottom.
```padding-top: 120px```
fixes the problem.  Thanks!

[2021-05-03 12:55] #192 closed

[2021-05-07 07:52] AyrtonRicardo commented on #180
@lxndrblz is this going to be release and documented or am I missing the docs related to this issue?

[2021-05-07 07:55] lxndrblz commented on #180
@AyrtonRicardo You didn't miss anything. It is still in the making. I hope to finish it within the next few days.

[2021-05-07 13:24] AyrtonRicardo opened #195 "[QUESTION] Missing css and medium-zoom js"
First of all, thanks for the template it's really clean, beautiful and easily implementable.
Recently I've added this template to my personal website, it's still under construction but I've faced missing CSS and JS when I added CloudFlare to proxy my website.

For reference: https://ayrtonricardo.me
--- the solutions are already applied, so you wont be able to see at the moment the errors in my pa

[2021-05-07 18:48] lxndrblz commented on #195
@AyrtonRicardo Thanks for the in-depth explanation of the problem you had been facing using the theme together with Cloudflare. I'd prefer option 2, because else it will come up over and over again.

Would you mind opening a PR, with the necessary changes?

Thanks.

[2021-05-07 18:59] #184 closed

[2021-05-07 19:06] AyrtonRicardo commented on #195
@lxndrblz sure, I can do the PR modifying the necessary files.

[2021-05-07 20:40] #180 closed

[2021-05-07 20:58] lxndrblz commented on #182
@brinkabeler Unfortunately, I am not able to reproduce this issue due to a lack of a GitHub pages setup.
I will, therefore, go ahead and close this issue.

[2021-05-07 20:58] #182 closed

[2021-05-08 16:04] AyrtonRicardo commented on #195
Here the PR: https://github.com/lxndrblz/anatole/pull/197
Once again, thanks for quickly replying :)

[2021-05-08 17:09] #195 closed

[2021-05-10 10:13] brinkabeler opened #199 "For German legal reasons, I need a copyright tag at the bottom of the mobile view"
**Is your feature request related to a problem? Please describe.**
In Gemany, every commercial website needs link to imprint and data protection declaration on every page. [I edited sidebar.html](https://github.com/brinkabeler/brinkabeler.github.io/blob/main/themes/anatole/layouts/partials/sidebar.html) in the theme folder to provide this on desktop view, but I am at a loss at how to display it on

[2021-05-10 11:08] lxndrblz commented on #199
@brinkabeler Thanks for bringing this to my attention. It's true that the footer is currently not displayed on mobile devices, as it currently lacks the appropriate CSS styling. Indeed, it's currently overlayed by the menu.

I will have a look and report back, how we could get the imprint/Impressum/copyright to stay at the bottom of the page.

[2021-05-22 11:09] ericswpark opened #203 "RSS support"
Can anatole add RSS support for posts?

[2021-05-23 08:29] lxndrblz commented on #203
@ericswpark  Thanks for bringing this up. RSS has been supported for quite a while:

https://github.com/lxndrblz/anatole/blob/3971e373205483aa7530cd2037dfaed644253628/layouts/partials/head.html#L60-L63

Did you have any issues using it?

[2021-05-23 10:08] lxndrblz opened #205 "Remove Code Duplication between LTR and RTL CSS"
The styles.css and styles.rtl.css currently have a significant code duplication, which makes maintenance error prone. The styles.css should be the master theme, while the RTL only overwrites the parts, that differ from the LTR version.

[2021-05-23 11:05] ericswpark commented on #203
Hi, I didn't know anatole already had support for RSS, sorry! I did check the README but didn't see anything about RSS so I assumed there was no support yet.

I noticed the RSS feed also includes pages for some reason, including hidden pages (pages not linked in the navbar). Is there a way to get the RSS feed to only show articles posted?

Also, can the RSS feed be added as an icon next to the soc

[2021-05-24 18:22] lxndrblz commented on #203
Thanks for making me aware that the Readme currently does not mention the RSS feed. It certainly makes sense to add it there as well.

Regarding your first question: With the default settings this is not possible. However, you can always override the default rss.xml template. Check out the [following link](https://gideonwolfe.com/posts/sysadmin/hugo/hugorss/), it will describe on how that's done.

[2021-05-25 03:34] ericswpark commented on #203
Hi @lxndrblz thanks for the reply. Just found an easier way of excluding pages from the RSS feed. It seems like the RSS feed is generated in subdirectories as well, so all I have to do to only have blog posts show up in the RSS feed is to use the URL:

    <website>.com/blog/index.xml

I'll submit a PR soon to add the information to the README.

[2021-05-25 17:59] #203 closed

[2021-05-25 19:06] #138 closed

[2021-05-31 03:47] #166 closed

[2021-06-09 23:17] tldrafael opened #211 "Disqus not showing comments."
First, thank you for this great hugo theme.

**Describe the bug**
I'm not being able to enable Disqus at all on my website. Followed #3 and #42 and tried many combinations of setting `type: post` or `type: posts`, and rechecked many times my disqus settings, everything seems fine.

**To Reproduce**
You can check more detail about my blog code [here](https://github.com/tldrafael/blog_professional)

[2021-06-10 06:06] lxndrblz commented on #211
@tldrafael You were almost there. Simply move the `disqusShortname`  from below `[params]` to the section above, where the `baseURL` or `theme` are defined.

[2021-06-10 14:11] tldrafael commented on #211
What a silly mistake haha.

It worked @lxndrblz. Thanks a lot.

[2021-06-10 14:12] #211 closed

[2021-06-19 00:03] HerminioSabino opened #214 "How can I add custom font icons (Academicons) to Anatole?"
I'm trying to add an icon from the academic package (https://jpswalsh.github.io/academicons/), but to no avail.

Even following the steps on the page and adding the css I did not get success
so my question
How can I add Academic icons to my hugo theme?
I know how to modify fa icons, but academic is ai icon.

I want to thank you for the excellent work..

Regards

Herminio Sabino

[2021-06-19 07:31] lxndrblz commented on #214
@HerminioSabino  I am glad you like the theme.

You can add these icons like any other custom CSS, with a minor catch. Firstly, see the description on custom CSS [here ](https://github.com/lxndrblz/anatole#custom-css) for any question.

The steps are as following:

1. Place the academicon.css in the `assets/css/` folder, you might have to manually create the css folde
2. Link the acadmeicon.css in

[2021-06-19 13:35] HerminioSabino commented on #214
I want to thank you for the quick response.

i am trying to reproduce the step by step but i am not having success.
I think the problem is in the allocation of .css files.

Is the assests folder I need to copy the files that already contains the style.css and markupHighlight.css files?

follow the attached images

![image](https://user-images.githubusercontent.com/27819904/122643896-c02b8600-d0e8-

[2021-06-19 17:06] lxndrblz commented on #214
@HerminioSabino Thanks for your feedback. A couple of notes:

I would create a new separate assets folder in the root directory of your Hugo site and place a subfolder called  css within the newly created folder.  I advise against placing it in the folder where thee `style.css` is located, as these are specific to your setup.

You don't need the .min.css version of the font as Hugo and Anatole wil

[2021-06-22 08:15] HerminioSabino commented on #214
Hi,
even though I performed all the suggested procedures and checked for any errors, I couldn't perform the procedure I want.

I'll try to build from scratch again to try to work around this problem.

thank you very much for your attention

[2021-06-22 14:22] lxndrblz commented on #214
@HerminioSabino Are you getting any errors in your browser developer tools?

[2021-06-22 20:42] #199 closed

[2021-06-22 20:42] #205 closed

[2021-06-23 08:57] HerminioSabino commented on #214
@lxndrblz  I'm not getting any error!

[2021-06-25 15:12] lxndrblz opened #221 "Create a publications/project page"
I am looking for a way to present my projects and publications in a clean and visually appealing way that is different form the blog.

[2021-06-29 11:20] ericswpark commented on #169
@lxndrblz can we re-open this issue?

I've tried implementing the dropdown myself, but I'm not really good with web development. So far I've managed to move the language dropdown to the right of the navbar, next to the theme switcher button. The dropdown now correctly moves back and forth between translated pages instead of redirecting to the homepage, and only shows up if the current page has a t

[2021-06-29 11:23] ericswpark commented on #169
<img width="1058" alt="image" src="https://user-images.githubusercontent.com/13326074/123789017-a6bfe080-d917-11eb-887f-d10dfb419d43.png">

Currently shows up like this (w/o CSS styling)

On a page with only one language version available:

<img width="1012" alt="image" src="https://user-images.githubusercontent.com/13326074/123789138-cb1bbd00-d917-11eb-93e1-f24069dce3a4.png">

[2021-06-29 11:23] lxndrblz commented on #169
@ericswpark  Would you mind doing a PR and I will have a look at it?

[2021-06-29 11:23] ericswpark commented on #169
Sure, will submit it right now.

[2021-06-29 12:41] lxndrblz commented on #169
@ericswpark I will check it out and report back. The CSS shouldn't be too tricky with the new setup. It might take me a few days until I can test it  as I am really swamped with work right now.

[2021-07-09 16:34] ryan1-chang opened #228 "GA 4 parameter does not work"
GA 4 parameter does not work
[code]

I added the following code to this file

[code]

[2021-07-09 17:24] lxndrblz commented on #228
@ryan1-chang  There is no need to include the partial in your `head.html` as it is included in the footer. Check out this line and make sure that both conditions are met:

https://github.com/lxndrblz/anatole/blob/5303fca371473037c783c6c45d778e5fd8be6bf4/layouts/partials/footer.html#L37

I've also checked your site and on there I could see the gtag code being loaded in the header, which you had add

[2021-07-09 20:23] morandan commented on #228
I can't seem to get this working either, even when manually setting HUGO_ENV = production
Using hugo v85 and the latest version of the theme.
Removing the IF AND statement and calling "partial "google-analytics-gtag-async.html" .context" on it's own seems to work.
I don't seem to be able to get any IF statements working in footer.html but copying the same code into header.html works fine.

[2021-07-09 21:18] lxndrblz commented on #228
@ryan1-chang I was able to reproduce the error. It seems to have to do with the if condition. However, I haven't found out what triggers the behaviour.

[2021-07-10 15:34] JackywithaWhiteDog commented on #228
Hi, I notice that the problem is related to the if condition. Since the site variables are passed with the key `context` in a dictionary, the if condition `.Site.Params.gtagId` cannot access anything, and it should be changed to

[code]

It seems to work for me with this modification, and I had sent a pull request #230.

Hope this helps.

[2021-07-10 15:47] morandan commented on #228
Good catch, just tested on mine and change works as expected

[2021-07-10 16:00] lxndrblz commented on #228
@JackywithaWhiteDog Well spotted and thanks for your explanation.
I'll review the your PR soon. Thanks!

[2021-07-10 16:07] #228 closed

[2021-07-11 12:05] ghost opened #231 "viewport larger than 1920px wide causes content overlaps with high content ratio"
**Describe the bug**
sidebar content overlaps main window when using a viewport larger than 1920px wide

**To Reproduce**
Steps to reproduce the behavior:

1. Set contentratio in params.toml to 0.8 or greater (or change in browser dev tools)
2. View website in a window more than 1920px wide

**Expected behavior**
Content automatically scales and doesn't overlap

**Screenshots**
content ratio set t

[2021-07-11 12:26] lxndrblz commented on #231
@lxndrblz Thanks for filing this bug. I can confirm that this issue occurs if a content ratio is chosen greater than 0.7. The problem appears to be the calculation of the sidebar width and the fixed padding left.

The way the content presentation should be optimised for large screens is by adding a padding of 20% to either site of the screen. It appears if that is not happening correctly. I'll hav

[2021-07-20 14:56] callagg1 opened #233 "Adding a fabform.io contact form to the template"
Adding a fabform.io contact form to the template

Hello
Since this a static hugo template and has no contact form or database hooked up.
I was wondering if you could add a contact form to the template to use with https://fabform.io the [google forms alternative](https://fabform.io)

It's just a few lines of code

I can update your template or you can if you like and push the changes to your reposi

[2021-07-20 15:06] lxndrblz commented on #233
@callagg1 Thanks for bringing this up.

I had played around with it a while ago, but couldn't find out how to embed it into a page? How would your changes resolve this issue? Let me know how, I might have missed something.

Unless you want a custom form, it might also be worth looking at Formspree, as it is already [implemented](https://github.com/lxndrblz/anatole#formspree-contact-form-on-the-con

[2021-07-27 14:25] SchabrechtsK opened #234 "Having a "Series" of posts"
**Is your feature request related to a problem? Please describe.**
I would like to add series to my blog posts. So I would like to group posts that have been broken up in Part I, II, III, ...

**Describe the solution you'd like**
I would like to set `series` in the front matter so when looking at the post you see a `See also` or `Related` or something like this.

**Describe alternatives you've con

[2021-07-27 14:48] lxndrblz commented on #234
@SchabrechtsK Did you try setting the series to a list in the front matter?

[code]

[2021-07-27 14:56] SchabrechtsK commented on #234
@lxndrblz That indeed fixes the error.
This also makes the `/series/<series_name>` url available.

But each blog post in that series is not linking to another?
Is that part a missing feature or am I missing something?

[2021-07-27 16:12] lxndrblz commented on #234
@SchabrechtsK That is indeed still a [todo](https://github.com/lxndrblz/anatole/projects/1).
Personally, I think this feature should be fairly easy to fix as there are numerous examples online.

Unfortunately, currently I am quite busy with my other projects and can not dedicate much time. However, if you are wanting to develop this feature and have it added to the theme then please send me a PR a

[2021-08-01 20:39] sirwhinesalot opened #235 "Removing author name from page title."
Is there a way to remove the author name from the page title?
I'm referring to this little bit:

[code]

I could just clone the theme and change this in the clone, but this seems to be something that should be a configuration option on the theme. It doesn't make sense to constantly show the author name on a single author blog.
Did I miss something?

[2021-08-07 12:51] franferri opened #236 "Having the option to move to the right part of the main nav menu options"
In the menus.en.toml we have

`
  [[main]]
  name = "Home"
  identifier = "home"
  weight = 100
  url = "/"

  [[main]]
  name = "Posts"
  weight = 200
  identifier = "posts"
  url = "/post/"

  ...
`

Adding a parameter to say:
`
  align = "Right" -> so it moves the option to the part were the icon about dark/day is, just near to it.
`

[2021-08-07 12:52] franferri opened #237 "The /posts endpoint shows a list (grouped per year) of posts. Having this as the home."
Will be possible (maybe it is, I'm new to Hugo) to have the /posts endpoint (the one that shows a list (grouped per year) of posts, just the titles, having  it this as the home?

[2021-08-07 17:48] sirwhinesalot opened #238 "Theme breaks at exactly 960px"
**Describe the bug**
There appears to be a conflict in the theme between styles set at max-width: 960px and min-width 960px.

**To Reproduce**
Steps to reproduce the behavior:

Set your browser width to 960px.

**Expected behavior**
There should only be either the "mobile" style (below 960px) and "desktop" style (above 960px). The style at 960px is a broken mix of both.

**Screenshots**
[glitch](h

[2021-08-07 19:40] lxndrblz commented on #235
@sirwhinesalot Currently there is no configurable way to change this.

As you already noted, one way would be to clone the theme and adjust that bit, as necessary.
A smarter way, would be to add the module as a submodule and in your "local" layouts folder create a partials folder and place a modified copy of the `head.html` in there. This will then have precedence over the one of the theme.

Perso

[2021-08-07 19:40] #235 closed

[2021-08-07 19:48] lxndrblz commented on #237
@franferri  I am sorry, but that is not possible by default. By default, this theme uses the `index.html` for the frontpage and the `list.html` for the archive page. If you want the compact view on the frontpage too, you would have to modify the `index.html`. You could do this either by cloning the theme or overriding the specific file locally.

Hope that helps.

[2021-08-07 19:48] #237 closed

[2021-08-07 20:01] lxndrblz commented on #236
Thanks for your question. In this case, I would like to encourage you to use a custom CSS to get the desired effect. You could do something like this:

[code]
It looks a bit cramped though. You may want to consider adding a bit of space before the theme switcher, if it is active on your site.

The reason, why I am not adding this directly is because I think it does not seem logical. Especially on

[2021-08-07 20:01] #236 closed

[2021-08-07 20:08] lxndrblz commented on #238
@sirwhinesalot Thanks for bringing this to my attention! I was able to reproduce it and I'll investigate how this could be resolved.

[2021-08-09 17:43] vidhi-mody opened #239 "Website url in the repository details is incorrect"
**Describe the bug**
The current url in the repository details is [themes.gohugo.io/theme/anatole/](https://themes.gohugo.io/theme/anatole/) which redirects to a 404 page.

**Expected behavior**

The url in the repository details should be changed to [themes.gohugo.io/themes/anatole/](https://themes.gohugo.io/themes/anatole/)

**Screenshots**
<img width="350" alt="Screenshot 2021-08-09 at 11 10 31

[2021-08-09 18:41] lxndrblz commented on #239
@vidhi-mody Thanks for flagging this up. It should be resolved now.

[2021-08-09 18:41] #239 closed

[2021-08-13 14:55] PursuitOfDataScience opened #240 "contact set-up"
Hi,

I used Anatole theme to build my website, and it looks great. One thing I haven't figured out is how I set up contact section. When I tentatively tried to input email and related info and then sent it, it showed me 404 as the picture attached shown. Could you please shed some light in this regard? Thanks!

![image](https://user-images.githubusercontent.com/54338793/129375864-98520714-cdb7-40f

[2021-08-13 15:01] lxndrblz commented on #240
@PursuitOfDataScience It looks, as if you haven't configured a Formspree URL in your `param.toml`. Make sure to properly set `contactFormAction` to your own Formspree URL.

This is required, as the form will post the information to that domain, where it will be further processed. The theme can't notify you of a comment without the Formspree integration.

Hope that clears things up.

[2021-08-13 15:18] PursuitOfDataScience commented on #240
Thanks for your response. Followed by your input, I created a Formspree URL, but it is still nebulous for me to know where the next steps are. Where is `contactFromAction` you mentioned? How can I input the URL to `params.toml`?

[2021-08-13 15:22] lxndrblz commented on #240
https://github.com/PursuitOfDataScience/personal-website/blob/master/config/_default/params.toml

In there, comment out the `contactFromAction` and add your own URL.

[2021-08-13 15:35] PursuitOfDataScience commented on #240
It worked! Thanks! I also have two minor questions. The first one is the top tab section fonts are kind of small. It would be nicer if it is bold and font size is a bit bigger. Where can I set it up? Also, the line that splits the two column is sort of in the middle. I'd like to shrink the area of the left side and leave more space for the right side. Is there a way to do it? Appreciate your help!

[2021-08-13 16:33] lxndrblz commented on #240
@PursuitOfDataScience  You can adjust the size of the navbar by creating a custom CSS. Let me know if you have any troubles doing so.

The content ratio of the sidebar to the content can be adjusted by modifying the `contentratio` variable, as explained here:
https://github.com/lxndrblz/anatole#changing-the-sidebarcontent-ratio

[2021-08-13 18:10] PursuitOfDataScience commented on #240
Thanks!

[2021-08-13 18:10] #240 closed

[2021-08-14 13:02] PursuitOfDataScience opened #241 "Questions regarding Rmarkdown and Font Faces"
Hi,

After playing around the theme for a while, I have few follow-up questions after your help yesterday.
1. Since all of my blog posts are generated by using Rmarkdown rather than markdown, how should I input tags and descriptions for each post?
2. All the blog titles are all caps, which would make viewers hard to read. Is it possible to switch them back to normal titles without all caps?
3. Reg

[2021-08-15 14:01] #234 closed

[2021-08-15 14:25] lxndrblz commented on #241
Hi @PursuitOfDataScience

Unfortunately, I am not too familiar with Rmarkdown, but you should still be able to add the tags and description manually to the frontmatter of your posts (similarly as you would do for a post written in normal markdown).

Yes, that could be changed, again using a custom CSS. You would need to create a custom css file and add the following code:

[code]
You can make the

[2021-08-15 22:31] #214 closed

[2021-08-16 13:18] PursuitOfDataScience commented on #241
Thank you so much for your instruction! I added a css folder inside of static folder and put the `.css` file with the code written by you. When I referenced it by `customCss = ["css/custom.css"]` in `parms.toml` file, it gave me an error and the website didn't get rendered. Could you please take a look for me?

[2021-08-16 13:47] lxndrblz commented on #241
@PursuitOfDataScience  Would you mind sharing the error that you got?

[2021-08-16 13:48] lxndrblz commented on #241
Ah, found the error: The CSS folder goes in the `assets` folder not the `static` folder.

[2021-08-16 14:06] PursuitOfDataScience commented on #241
Thanks! It worked!

Here is the follow-up question I have. As you can see, the blog text is sort of greyish, which does not have a stark contrast to the R code snippet. I guess the question is on the same line, which is how to make the text a tad larger and black rather than pale?

![image](https://user-images.githubusercontent.com/54338793/129575342-9299e569-90a8-44e2-8eba-ec15445c6c6c.png)

Rega

[2021-08-17 20:27] PursuitOfDataScience commented on #241
I changed the text color successfully, but the text size remains small.
I thought this snippet would change the text size, but it doesn't.
`.post .post-content h4 {
  /* color: var(--heading-color); */
  font-size: 3.0rem;
}`

[2021-08-17 21:40] lxndrblz commented on #241
@PursuitOfDataScience Sorry, I forgot responding.

There are two different ways for syntax highlighting. You can either use the one you are currently using or use the Chroma code highlighting. For the latter, please see the instructions [here](https://github.com/lxndrblz/anatole#syntax-highlighting).

For the former, you would need to adjust the css for the `code` element.

[code]

The colour of t

[2021-08-18 13:34] PursuitOfDataScience commented on #241
Thanks for your helpful input. When I input the following code, it only increases the font of the title, yet the actual content text in each blog does not change at all in terms of its size. I am wondering if there is any other parameters that control the actual text rather than title?
[code]

[2021-08-19 11:27] lxndrblz commented on #241
Yes, you would need to adjust the font-size of `p`. See this line:
https://github.com/lxndrblz/anatole/blob/e1bfb62880c7a5da85b3b24fe0f02078f17b90ba/assets/css/style.css#L62-L66

If you want all fonts to appear slightly bigger, then you would need to adjust only the `font-size`, as rem's are relative to the default font-size:

https://github.com/lxndrblz/anatole/blob/e1bfb62880c7a5da85b3b24fe0f020

[2021-08-20 22:09] PursuitOfDataScience commented on #241
Thanks for your help. All my questions are solved!

[2021-08-20 22:09] #241 closed

[2021-08-31 17:10] ericswpark commented on #169
Still active, replying so the bot won't close the issue.

[2021-09-07 12:57] SchabrechtsK opened #250 "Mark a post as outdated automatically after a period."
**Is your feature request related to a problem? Please describe.**
Not to a theme-related problem but related to a problem in my field of expertise. I use this theme for a development-related blog. Now, as you might know, in our dev world things can go stale really fast if we're talking about actual code posts. Frameworks change, best practices change, and so forth.
This means any post older than

[2021-09-10 03:03] ericswpark opened #251 "Remove stale bot from repository"
Hi @lxndrblz , I noticed a lot of the issues filed on this repository are being automatically closed by the GitHub stale bot. While the bot may look helpful as it closes down "inactive" issues, it creates a lot of confusion as duplicate issues may be filed by those not realizing the initial issue was closed, and it doesn't help as the issue still remains in the code after the bot closes them down.

[2021-09-10 07:45] lxndrblz commented on #251
@ericswpark Thanks for bringing this to my intention. Indeed, it's a nuisance that Stale bot closes valid issues that need attention. I can see that this can cause confusion.

My original intention was to implement the stale bot was to overcome the problem of issues that remain open because the original author did not reply. Due to the slow development progress on my end recently, however, the sta

[2021-09-10 07:52] ericswpark commented on #251
I think a viable solution would be to add a "waiting-for-reply" tag to issues/PRs that need a response from the original author. Then the bot can automatically close those after a while if the author doesn't reply. Fixes both problems!

[2021-09-10 08:24] rhjensen79 opened #252 "Images in frontmatter make the build fail"
**Describe the bug**
When adding
images: "images/andrew-neel-1-29wyvvLJA-unsplash.jpg"
to frontmatter, the build fails with the following error :

ERROR 2021/09/10 10:17:04 Failed to render pages: render of "page" failed: execute of template failed: template: _default/single.html:7:6: executing "_default/single.html" at <partial "head.html" .>: error calling partial: execute of template failed: te

[2021-09-10 12:05] lxndrblz commented on #252
@rhjensen79 Can you please confirm in which folder you'd copied the image?

[2021-09-10 12:05] lxndrblz commented on #251
@ericswpark Great idea. I will do that!

[2021-09-10 12:13] rhjensen79 commented on #252
Yes. So one example of my working blog today, has the following value

images: "images/ian-taylor-jOqJbvo1P9g-unsplash.jpg"

And the picture refered is in /static/images/

Note my folder structure, is /content/posts/blogname/index.md
And under each blogname, i also have a folder called images, where i put the images from the current post.

Hope that clarified it (i understand if it did the oppesit

[2021-09-11 14:00] lxndrblz commented on #252
Thanks for clarifying. I am currently away fromy computer. I'll try to reproduce it as soon as I get back.

[2021-09-11 14:01] lxndrblz commented on #250
@SchabrechtsK I can definitely see a need for such as a feature. Would you mind sending a PR once you are done?

[2021-09-11 14:02] rhjensen79 commented on #252
Nu rush, and thanks. Just wanted to register it, now that i was able to reproduce it.
The workaround is pretty simple. Just # all images frontmatter lines :-)