[2021-09-13 09:09] lxndrblz commented on #251
@ericswpark I've created a new tag called awaiting-reply which has to be present before stale bot closes an issue.

https://github.com/lxndrblz/anatole/blob/284736548ad97e5d84026ff982bca3aa92f5df0d/.github/stale.yml#L7-L8

[2021-09-13 09:09] #251 closed

[2021-09-13 09:27] lxndrblz commented on #252
@rhjensen79 Please apologize the wait. I was able to reproduce the error this morning. To fix this issue you have to define the image as a list, rather than assigning it directly to the variable. This is because in some scenarios multiple images may be used, such as Twitter cards where you can select the appropriate image to preview. The issue you encountered links the image to the schema.org meta

[2021-09-13 09:50] rhjensen79 commented on #252
Thanks @lxndrblz

I just changed all my images to lists, and it worked perfectly.
Also i was not aware, of the possibility, of having multiple images, so you just enhanced my blog, quite a bit.
Thanks a lot for your help (and your work on this theme) :-)

[2021-09-13 09:50] #252 closed

[2021-09-15 15:32] strangeglyph opened #253 "Subsection Headings on Home page"
**Is your feature request related to a problem? Please describe.**
I currently have a brief "About Me" section on my home page, followed by the auto-aggregated recent posts summary. However, I find the visual separation between the two sections not as distinct as I'd like it.

**Describe the solution you'd like**
I'd like to be able to configure subsection headings for the aggregated content and i

[2021-09-15 15:43] strangeglyph commented on #221
Love to see that you are working on this, I am very excited to see the result!

For me, the main feature that is missing is being able to declare co-authors, publication venue (+ link to publication) and maybe a direct download link, ideally from a posts front matter. Bonus points if it supports Academicons out of the box.

[2021-09-22 08:52] ericswpark commented on #169
@lxndrblz I've pushed another attempt at the dropdown, this time by using click instead of hover to address the previous concern of usability on mobile. So far it works OK, except for a visual bug on mobile where the dropdown triangle will show up until dismissed by clicking. I've experimented with the CSS values but I'm not sure how to fix this.

Other problems with the initial draft PR are outli

[2021-09-22 09:23] lxndrblz commented on #169
@ericswpark Thanks. I'll check it out and try to squash that bug!

[2021-09-24 13:35] lxndrblz commented on #253
@strangeglyph Please apologize my late reply. Somehow I must have missed your issue.

Thanks for your in-depth explanation which greatly helped me.

You have to set the `mainSectionsTitle` in the frontmatter of your `_index.md`; for example like this:
[code]

This will give you something like this (mind the headline named foo):
![image](https://user-images.githubusercontent.com/12200062/134683189-

[2021-09-27 11:22] strangeglyph commented on #253
Thank you, yes, that's exactly what I was looking for.

[2021-09-27 11:22] #253 closed

[2021-09-29 17:18] jakevossen5 opened #256 "Option to display only content when clicking on a post."
**Is your feature request related to a problem? Please describe.**

When reading a post on my site, I feel like it is a little obnoxious to have my portrait, socials, etc taking up a lot of the screen

**Describe the solution you'd like**

An option in `config.toml` that allows you to hide the left pane while looking at a post

**Describe alternatives you've considered**

I could just make the lef

[2021-09-30 19:02] lxndrblz commented on #256
@jakevossen5 Thanks for your comment. This topic has been requested quite often and is already on my todo list (See this [issue](https://github.com/lxndrblz/anatole/projects/1#card-42912119)).

Unfortunately, it is still  an open issue, as theme heavily relies on having the sidebar and major changes have to be implemented. Otherwise the menu and content appear in a weirdly squashed manner. I will

[2021-09-30 19:02] #256 closed

[2021-09-30 19:03] jakevossen5 commented on #256
Ah makes sense - thank you!

[2021-10-01 09:36] slav123 opened #257 "category links are not working correctly with slugs"
If you are using custom permalink to category:

`config.toml`

[code]

Links under the post aren't working correctly. They are still linking to `,categories/`

[2021-10-01 18:52] lxndrblz commented on #257
@slav123 Thanks for reporting it. I will have to look into it as I hadn't encountered that before

[2021-10-03 16:41] lxndrblz commented on #257
@slav123 Thanks for your question.

If you want to use a custom permalink for the taxonomies you would have to modify the `categories.html` inside of layouts/partials/taxonomy as following:
[code]

Note that last parameter that has changed from "categories" to "category". The reason why this works, is because the `template.html` will then take this option and construct a valid URL from it. To the

[2021-11-01 18:08] lxndrblz commented on #169
@ericswpark I've just updated the branch with a few more commits. The dropdown functionality is now at a stage I am happy with both in terms of looks and functionality. I would love to hear your feedback!

[2021-11-02 02:04] ericswpark commented on #169
@lxndrblz I just tried the updated branch and I really like the new implementation you made! Just two questions:

- Is the current language showing up in the dropdown intentional? In my implementation it only shows languages to switch to, to avoid confusion. Now the current language shows up as well which doesn't serve any function and takes up screen space on mobile.
- For the navbar, is there a

[2021-11-02 18:11] lxndrblz commented on #169
@ericswpark Thanks for testing it. 👍

Regarding your remarks:

1.  Yes that was intentional, because otherwise there is an occasion, where the language switcher occurs even the page only exists in a single language. Hence, no language can be selected even though the dropdown appears. Do you have a better idea of working around that problem?
2. Well caught! I'll move it to where the theme switcher

[2021-11-03 02:03] ericswpark commented on #169
@lxndrblz regarding point 1, my previous implementation just hid the entire language switching option if a given page did not have any translations. I checked your implementation and it was nearly there too but it was missing a `.IsTranslated` check, which was why the dropdown was showing even if the page was not translated.

Actually the `and` in this `if` statement doesn't make much sense withou

[2021-11-03 17:20] #169 closed

[2021-11-03 18:00] lxndrblz commented on #169
@ericswpark I'd merged the branch earlier and came back to thank you for your support!

If you want to support me with the portfolio issue, feel free to open a PR towards the portfolio branch, or comment on the issue.

[2021-11-11 17:08] #250 closed

[2021-11-25 04:44] AcademicusChamaeleon opened #267 "Error: executing "partials/head.html" at <resources>: wrong type for value; expected resources.ResourceTransformer; got resource.Resource"
Dear Alexander,

I use anatole theme with R blogdown, But I encounter some issues when I included custom CSS. The error message when I launched the website is the following.

Launching the server via the command:
  C:/Users/barry/AppData/Roaming/Hugo/0.89.4/hugo.exe server --bind 127.0.0.1 -p 4321 --themesDir themes -t anatole -D -F --navigateToChanged
Error: Error building site: failed to render

[2021-11-26 17:49] lxndrblz commented on #267
@AcademicusChamaeleon Thanks for reaching out - Just to confirm, would you mind sharing where you'd put your custom CSS file and the line you had added to your config?

[2021-12-02 13:22] Hermit12 opened #268 "Change images in dark mode"
**Is your feature request related to a problem? Please describe.**
I'd like to switch some pictures to their inverted form for better readability in dark mode.

**Describe the solution you'd like**
I tried this solution found [here](https://github.com/wowchemy/wowchemy-hugo-themes/discussions/1961#discussioncomment-696357) but I cant get it to work with this theme. Can you help me implementing it?

[2021-12-03 18:24] lxndrblz commented on #268
@Hermit12 Thanks for your feature request.

I did a little bit of digging and looked at the source you had linked.

A sensible approach would be to extend the current figure shortcode with a parameter for the mode.

One thing I have noticed though is that you would need to upload two versions of the same image (a dark one and a light one). Are you aware of that?

[2021-12-09 00:59] denis-or opened #269 "How could I move the thumbnail to the left?"
I don't know about update the picture of the thumbnail in css files. How could I move the thumbnail to the left, por example?

[2021-12-10 14:49] lxndrblz commented on #269
@denis-or Thanks for reaching out to me. Would you mind clarifying which thumbnail you are talking about? Preferably, include a screenshot. 👍

[2021-12-10 17:16] denis-or commented on #269
Hi Alexander. Sorry about that. So, I couldn't change the place of post thumbnails. This thumbnail is enabled in rmd, inside the post parameters:

`thumbnail: "images/new_image.png"`

Its necessary the picture be in `static/images`, right? Ok. let's to the "problem":

The picture is shown in top of the post list:

![image](https://user-images.githubusercontent.com/49842454/145613744-048cc78a-065f-

[2021-12-10 17:38] lxndrblz commented on #269
@denis-or Thanks for the clarification. This helps a lot. I'll have a look at it.

[2021-12-11 13:34] #257 closed

[2021-12-11 18:56] a0m0rajab opened #270 "Emoji Colors on Headers"
**Describe the bug**

The emojis usually come with their own colors yet when using them in the theme it gets black if it's in the header or the title.

**To Reproduce**

Just use an emoji in the header texts or titles.

**Expected behavior**

to have the same color of the emoji.

**Screenshots**

https://a0m0rajab.github.io/

I think there is a CSS tag that is changing the emoji color but could no

[2021-12-11 19:17] lxndrblz commented on #270
Hi there,

The emojis are controlled by your operating system and not by theme. Your website for example looks fine on Android, while Microsoft might use different emojis.

![Screenshot_2021-12-11-20-14-25-649_com.android.chrome.jpg](https://user-images.githubusercontent.com/12200062/145688810-51b3668f-80d7-48f1-a0db-1d58d39acffb.jpg)

Unfortunately, this behavior is not controlled by the theme an

[2021-12-11 19:24] #270 closed

[2021-12-13 06:18] ThisIsJeron opened #271 "Problem building example site"
**Describe the bug**
When trying to preview the exampleSite, I followed the exact instructions and I received this error:

`Start building sites …
hugo v0.84.0+extended darwin/amd64 BuildDate=unknown
Built in 53 ms
Error: Error building site: "/Users/jeron/projects/personalSite/anatole/exampleSite/content/english/post/rich-content.md:26:1": failed to render shortcode "tweet": failed to process sho

[2021-12-13 06:22] lxndrblz commented on #271
@ThisIsJeron I think you are getting the error due to an outdated hugo version. Would you mind trying to update to 0.89 and see if the issue persists?

[2021-12-13 12:19] #221 closed

[2021-12-17 15:30] Hermit12 commented on #268
Sorry for my late reply and thanks for your answer. I am aware of the fact that I need two kinds of images, the original and the invers one. An automatic conversion wouldn't always bring the right results and also not every image should be converted.
A workaround with shortcode would be nice. The approach in the source I linked should also work, but I couldn't find the name of the "dark" class.  I

[2021-12-23 06:32] xiangli2pro opened #277 "How to change the font size of Katex math symbol and backtick text?"
Hello there, thank you for the beautiful template. I want to ask if it's possible to change/reduce the font size of the Katex math symbols and backtick text (e.g. `text`)? It seems like on the website (see the screenshots), the math symbols and backtick texts are always larger than the regular text, it would be much better if their sizes can be reduced.

I have searched online and didn't get much

[2021-12-25 18:50] lxndrblz commented on #277
@xiangli2pro Hi there, the CSS identifiers you are looking for are code and Katex. You can override them as following in your custom CSS.
[code]
You would need to adjust the font-size of these according to your liking. However, note that the Katex uses a different font than the theme, therefore, the characters might still look slightly different.

Hope this helps. Going to close this issue. Feel f

[2021-12-25 18:50] #277 closed

[2021-12-25 19:20] lxndrblz commented on #269
@denis-or Hi there, I spend the holidays fiddling around your problem. Unfortunately, there is no easy solution to your problem, as the theme was never intended for this. The best that I could achieve was this:

![image](https://user-images.githubusercontent.com/12200062/147391916-52856257-d070-498c-9bf2-172538495ff1.png)

What I did is that I've wrapped the items on the left side in additional di

[2021-12-25 19:20] #269 closed

[2021-12-25 19:36] #271 closed

[2021-12-26 11:31] lxndrblz opened #279 "Restructure REAMDE.md to make it more accessible"
The README.md has been growing immensely over the past year, which might make it hard to locate the desired information.

[2021-12-26 11:36] lxndrblz opened #280 "Create contribution guidelines"
Create a contribution.md document that defines the contribution guidelines.

[2021-12-26 11:37] lxndrblz opened #281 "Create pull request guidelines"
Create a `PULL_REQUEST_TEMPLATE.md` that explains how pull requests should be made to the repository.

[2021-12-26 11:39] lxndrblz opened #282 "Migrate CSS to SCSS"
The current CSS is quite hard to maintain as it contains unused classes, lots of color definitions and the organization is fairly poor.

By refactoring the code to SCSS all these issues should be resolved.

[2021-12-30 00:53] gummigroda opened #285 "Move "outdated content" above TOC"
**Is your feature request related to a problem? Please describe.**
No, but a suggestion to make the design a bit clearer when TOC is enabled.

**Describe the solution you'd like**
Move the "outdated content" reminder above the TOC

**Current design**
![image](https://user-images.githubusercontent.com/15022172/147713264-ab890e9d-ad86-4400-bcd5-eecfbd5c9f22.png)

**Suggested design**
![image](https:

[2021-12-30 07:35] lxndrblz commented on #285
@gummigroda Thanks for your recommendation. I agree that the disclaimer should come before any other content.

[2021-12-30 18:37] #285 closed

[2022-01-02 02:31] jhlasnik commented on #231
Any update on when this might be fixed?  I'm hitting the same issue.

[2022-01-03 14:52] lxndrblz commented on #231
@jhlasnik Thanks for asking!

Unfortunately, I don't have any solution for this bug just yet. However, this issue is still on top of my to-do list, and I am expecting to find a solution within the next days.

[2022-01-05 15:52] #231 closed

[2022-01-05 17:04] Andrew-Schneider opened #288 "Separate the content of two menu items"
I want to have two different posts menu items listing different content in each. However when i create two items for this, all the posts in content subfolders is shown in both:
<img width="720" alt="Screen Shot 2022-01-05 at 11 52 40 AM" src="https://user-images.githubusercontent.com/47110721/148256831-2e3facb4-d3e4-4077-b383-c18298fbf65e.png">
<img width="720" alt="Screen Shot 2022-01-05 at 11 52

[2022-01-06 12:04] lxndrblz commented on #288
@Andrew-Schneider Thanks for your great explanation and providing access to the repository.

You could distinguish between those different subjects by linking them to the relevant categories.

Categories can be accessed via /categories/<category name> i.e. /categories/math/. If this page is called, only the posts from this category are shown. For this to work, you might need to update the `list.ht

[2022-01-14 23:07] Sh1Yo opened #294 "Add a feature to create unpublished posts"
First of all, thanks for the great theme. I've been searching for this feature, but it looks like it's impossible to create an unpublished/draft post that can only be accessible using url and cannot be seen in the main list.

[2022-01-16 15:35] lxndrblz commented on #294
@Sh1Yo Would you mind explaining a use case for this feature?

[2022-01-17 15:37] Sh1Yo commented on #294
A few things immediately come to mind:
 - seeing the result without exposing an article to the internet.
 - sharing an article in private before publishing or just an article that is supposed to be for a small circle of people.

[2022-01-20 20:11] Andrew-Schneider commented on #288
You were correct about updating to the newest anatole list.html. I was using a customized one that i hadn't realized was customized.
However, now the posts are sorted by date (which i know is intended functionality) and i'm curious how to get similar functionality to the [custom one](https://github.com/arjungandhi/arjungandhi.com/blob/master/layouts/_default/list.html), though that's just somethin

[2022-01-20 20:11] #288 closed

[2022-01-21 02:46] gokcinar commented on #59
the link no longer works. can you update it?

[2022-01-21 09:59] lxndrblz commented on #59
@gokcinar TYG:

https://github.com/lxndrblz/anatole/blob/master/exampleSite/content/english/post/figure-shortcode.md

[2022-01-28 12:34] #281 closed

[2022-02-05 10:08] lxndrblz opened #299 "No longer load Font Awesome through a CDN"
**Is your feature request related to a problem? Please describe.**
It would be best if resources, such as fonts could be served by the site itself rather than a CDN. As a court [in Germany](https://www.golem.de/news/landgericht-muenchen-einbindung-von-google-fonts-ist-rechtswidrig-2202-162826.html) has recently ruled that the usage of CDNs such as Google Fonts require the consent of the user, it w

[2022-02-07 03:06] An0nUD4Y opened #302 "Add Search Bar to Search through all blog posts."
Hey @lxndrblz , Thank you for awesome theme.
It would be great , if it's possible to add a search bar to search through all the blog posts , It will make it easy to quickly search for particular text/blog content, which will be very helpful if someone if using the blog as reference and wants to search a particular text/command/code in the blog posts.

Again,  Thank you for the theme and your work.

[2022-02-09 23:18] #267 closed

[2022-02-10 16:31] lxndrblz commented on #302
@An0nUD4Y Thanks for your suggestion.

For my other Hugo site, I've been quite successfully using lunr.js. I think this might also be an option for this theme.

The reason I haven't prioritized a search functionality until now, is because I think it hasn't been essential for small (personal) sites.

I have put your suggestion on the todo list. Feel free to send an PR, if you are going to implement

[2022-02-10 16:46] #294 closed

[2022-02-11 10:02] #280 closed

[2022-02-15 06:19] stark-zhang opened #306 "Help wanted: Use Single Dollar Symbol as inline formula delimiter"
Hey there, I am try switch my personal blog form `hexo` to `hugo` because there are some bugs in the support of LaTeX rendering.

I just want to use `$...$` as the delimiter of inline math formula rather than `\\(...\\)`, because I am accustomed with the former one. How to configure that?

For example:

[code]

After rendered:
![image](https://user-images.githubusercontent.com/17326718/154003839-5

[2022-02-16 06:46] lxndrblz commented on #306
@stark-zhang Hi there, that's unfortunately nothing that could be configured or easily changed thorough the theme.

If you want to configure Katex or Mathjax to use single dollar signs, you would need to configure the delimiters through some custom JavaScript code.

https://stackoverflow.com/questions/27375252/how-can-i-render-all-inline-formulas-in-with-katex

Please note that a single dollar sig

[2022-02-16 19:05] lxndrblz commented on #306
Unfortunately, I don't have a proper example. It might be worth playing around.

Hugo also supports subscript, highlight and strikethrough text. The syntax, however, is a bit different. Unfortunately, I am not sure if another markdown engine like Goldmark supports your hexo syntax.

I am sorry, I couldn't really help in this regard. Maybe it would be best to ask this Hugo specific questions over o

[2022-02-17 10:07] stark-zhang commented on #306
Thanks for your reply. I found the error of rendering of subscript and highlight occurs in you example site, too. And I think them should be fixed.

![image](https://user-images.githubusercontent.com/17326718/154453373-0bfac7fc-246d-4e7d-be2c-cd51d17b62cd.png)

[2022-02-17 18:22] lxndrblz commented on #306
I can't reproduce your view. If you check the demo site all the Markdown in rendered correctly.

https://anatole-demo.netlify.app/post/markdown-syntax/

[2022-02-18 03:14] stark-zhang commented on #306
thank you, it was caused by hugo configuration loading mechanism, it doesn't load configuration from `themes/anatole/exampleSite/config/*.toml` automatically. and it is solved by enabling unsafe mode for goldmark parser.

Now I meet new problem, complicated formula cannot be rendered with default `config.toml`. Here is my configs, with katex.
*I tried to update katex to `0.15.2`, but the complicat

[2022-02-19 16:04] lxndrblz commented on #306
@stark-zhang You need to use three backslash as you need to escape the backslash:

[code]

![image](https://user-images.githubusercontent.com/12200062/154808648-aed363ad-00ee-4d85-822b-48eb3950471a.png)

[2022-02-21 06:08] stark-zhang commented on #306
Thank you, it works.

the KaTeX seems to start working before HTML generation, the escape is done after this, so KaTeX cannot work well without some hacking method. I think it's an extra load for me, a new fish of HTML/CSS/JS. and I decide to stop switching to hugo because the maintainers of hugo is negative to support LaTeX rendering.

Thanks for all of your helps again!

[2022-02-21 06:08] #306 closed

[2022-02-21 18:13] #282 closed

[2022-02-24 01:39] wade1998 opened #308 "Move the button in the upper right corner of the mobile page to the lower left a little bit"
Would it be easier to click by moving the button in the upper right corner of the mobile page to the lower left? For example, the location of buttons on the github mobile site is a suitable example.

[2022-02-24 17:27] lxndrblz commented on #308
@wade1998  I think we could easily add some padding to move it out of the corner like this:

![image](https://user-images.githubusercontent.com/12200062/155575965-33a6a5a3-c93e-4936-9c08-92b5850721a2.png)

[2022-02-25 14:10] deining opened #309 "Produce valid html"
**Check of anatole demo with [W3C validation service](https://validator.w3.org/nu/?doc=https%3A%2F%2Fanatole-demo.netlify.app%2F):**

Two errors are reported:

[code]
Were great if those errors (and maybe also the warnings) could be fixed.

[2022-02-25 15:39] McPringle opened #310 "Separate profile picture for light/dark theme"
**Is your feature request related to a problem? Please describe.**
For my bikepacking blog, I have a black logo with a transparent background. It is great when the light theme is active but "invisible" when the dark is active.

**Describe the solution you'd like**
I would like to specify a white version of the logo (profile picture) when the dark theme is active. E.g.:

[code]

Or maybe with the t

[2022-02-26 10:04] McPringle opened #313 "Languages: Automatically redirect user based on browser language"
**Is your feature request related to a problem? Please describe.**
If a blog uses multiple languages and a visitor accesses the home page without a language in the URL (`/`), the visitor will get the language based on the configured "weight".

**Describe the solution you'd like**
When the home page is accessed without a language in the URL, the browser language should be read. If one of the browse

[2022-02-26 10:55] #299 closed

[2022-02-26 11:07] McPringle opened #315 "Fontawesome: Icon `fa-person-biking` not showing up in social icons"
**Describe the bug**
I'm searching for an icon to represent my Komoot profile and found `fa-person-biking` suitable, which was introduced with Fontawesome 5.9 ([link](https://fontawesome.com/search?q=bicycle&s=solid%2Cbrands)). If I use this icon as a social icon, it does not show up.

**To Reproduce**
The following snippet works in `config.toml`:
[code]

Using the `fa-person-biking` icon does not

[2022-02-26 11:31] lxndrblz commented on #310
@McPringle Thanks for bringing this up. Unfortunately, I think that is not possible, as we are not generating two different sites for light and dark mode but are switching the CSS classes.

For your approach to work, we would need to generate two different versions of the site, one that has the image source set to profile_light.png and one set to profile_dark.png.

One approach you could take is t

[2022-02-26 11:35] lxndrblz commented on #315
@McPringle Please update your version of the theme. About an hour ago, I have updated the theme to FontAwesome 6, which ships with the desired icon.

![image](https://user-images.githubusercontent.com/12200062/155841639-cc704919-89c6-4daa-bd9b-2a9fc172b221.png)

[2022-02-26 11:35] #315 closed

[2022-02-26 11:53] McPringle commented on #315
Thank you very much for updating FA, it works! I don't know why it was a problem before, because as far as I was checking the code, FA 5.15 was used and the icon was introduced in 5.9. But it doesn't matter now, with FA 6 and serving the fonts from the own server this problem is solved for me. :-)

[2022-02-26 11:59] McPringle commented on #310
Thanks for the explanation @lxndrblz, I understand. I have an idea which I want to try out. Maybe it works if I wrap the profile picture in an additional DIV, configure a transparent profile picture and add custom CSS to set the real profile picture as a background image to the surrounding DIV.

[2022-03-01 10:44] McPringle commented on #310
I found a solution that worked fine for me. Maybe someone else is interested. It is very easy. I created a 1x1 pixel image where the pixel itself is transparent. I set this as the profile picture. Next, I configured the "real" profile picture as a background using custom CSS:

[code]

It works perfectly for me and I have not found any problems so far.

[2022-03-01 10:44] #310 closed

[2022-03-01 18:33] lxndrblz commented on #310
@McPringle Thanks for reporting back!

[2022-03-04 08:57] cedricbonhomme opened #318 "Dark theme preference is not honored"
**Describe the bug**

When ```displayMode = "dark"``` is set in ```params``` the dark theme is still not the preferred.

**To Reproduce**

Set ```displayMode = "dark"``, delete your cookie, reload the web page. The dark theme is not used.

**Expected behavior**

The use of the dark theme.

[2022-03-04 19:01] #318 closed

[2022-03-04 20:06] cedricbonhomme commented on #318
thank you ;-)

[2022-03-05 09:54] ThanhPhanTiki commented on #256
that annoying when view the post but still see the sidebar(avatar, shortlink stuffs...)

[2022-03-20 12:06] vinhphm opened #333 "A brief flash of light theme when changing pages in dark mode"
Hi, firstly, thank you so much for your work on this incredible theme. Here is something I know notice during using the theme.

**Describe the bug**
When the page is in dark mode, changing to another page of the website could cause a brief flash of light theme before it set back to dark. It's like the flash light of a camera.

**To Reproduce**
Steps to reproduce the behavior:

1. Without the theme

[2022-03-20 18:56] lxndrblz commented on #333
@vinhphm Thanks for your report. Would you mind recording a short video that displays the issues?

[2022-03-21 01:16] vinhphm commented on #333
@lxndrblz Sure. I don’t have a computer right now but here is how it happens on mobile:

https://user-images.githubusercontent.com/75784849/159194536-c8b86d83-8eef-4e6b-8ad1-0a405bfeb683.MOV

[2022-03-24 15:52] lxndrblz commented on #333
@vinhphm Thanks for the video. I will need to investigate if there is a way this brief flicker good be resolved.

[2022-03-26 05:27] samuelmay commented on #114
Hi all,

I encountered this issue, building on Windows, and deploying to GitHub pages. The site displayed fine with the Hugo server locally, but would break with this error when published and viewed on github.io.

I believe it's due to the CR/LF line endings on Windows causing the checksums to be different. Specifically for me, I narrowed it down to the fontawesome css files in "assets\fontawesome

[2022-03-29 18:32] vladimirdoroch opened #339 "Google Analytics v4 requires different internal Template than currently used"
**Describe the bug**
GA client script does not send proper analytics metrics to Google.
This happens if one uses the anatole template and sets a Google Analytics v4 tracking Id in the config file.

<img width="1279" alt="image" src="https://user-images.githubusercontent.com/24272408/160679300-511623ac-43c9-4580-977d-8afacd8e3e49.png">

As shown in the picture, a client side script is run but does

[2022-03-29 19:06] vladimirdoroch commented on #339
Maybe one can load the appropriate template based on the prefix of the tracking Id.
As I understand v3 (`UA-XXXXXXX-X`) and v4 (`G-XXXXXXXX`) tracking Ids can by identified that way.

This could be catched by something like `{{ if hasPrefix . "G-"}}`. What do you think?

[2022-03-30 18:34] lxndrblz commented on #339
@vladimirdoroch That seems like a smart solution. Feel free to send a PR and I will go ahead and merge it for you.

[2022-03-30 19:35] alexanderdavide opened #340 "RSS item descriptions do not consider actual post descriptions"
**Describe the bug**
RSS considers content or summary as `<description></>` and ignores descriptions supplied in post front matters. Also, the content's or summary's HTML tags are added which make them hard to use anyway.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a post with description supplied in front matter.
2. See item's description on the RSS feed given on https://domain.

[2022-03-31 08:15] vladimirdoroch commented on #339
Created pull request #341

[2022-03-31 18:29] lxndrblz commented on #340
Hi @alexanderdavide, what you are describing is caused by this line in the rss.xml:

[        <description>{{ .Summary | html }}</description>](https://github.com/lxndrblz/anatole/blob/d3057a5a8e49e1dcddd71914fffd6e6685ba6aac/layouts/_default/rss.xml#L38)

As you can see the rss.xml file expects a summary. Personally, I always set up both a description and a summary. Both variables are default pag

[2022-03-31 18:42] #339 closed

[2022-03-31 19:59] alexanderdavide commented on #340
That's fine but what I'm asking is why isn't the `description` front matter used as RSS `<description>` element? I am setting `description` explicitly, I want it to be the description in RSS too. The summary should merely be a fallback.

[2022-03-31 20:21] lxndrblz commented on #340
I agree. As the description is also the default in the arch type, we should exchange the summary variable for the description.

[2022-04-05 18:04] #340 closed

[2022-04-10 01:05] fabformG opened #343 "Add fabform.io to the contact form"
Add fabform.io to the contact form

Can I create a pull request with a new contact form that uses https://fabform.io

[2022-04-10 18:03] demaya opened #345 "Double H1 tag on almost every page"
**Describe the bug**
First: I love the theme :) Please keep the good development going. As I moved some projects to the theme and Hugo I recognized, that there are double H1 tags on almost every page. The "params.title" is used on the left pane as H1 one and if you have an blog post you have a second H1 on the page. From SEO perspective this is not very good.

See [Seobility Report](https://freeto

[2022-04-11 18:11] lxndrblz commented on #345
@demaya Thanks for raising this issue. I agree, it is something that should be addressed. I think it would be best to assign a different tag to the text in the sidebar.

[2022-04-15 04:44] yujinyuz opened #346 "Weird output for code blocks with backticks on mobile"
**Describe the bug**

The code format for codeblocks looks weird when viewing on mobile. This can be found on the demo site as well

![image](https://user-images.githubusercontent.com/10972027/163519581-da90000c-be46-4de1-aa78-d0bbbb004c48.png)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

- OS: iOS
- Browse

[2022-04-16 10:20] #345 closed

[2022-04-24 13:33] Xiyinx opened #351 "Page doesn't pick up custom styling after being published to GitHub Pages"
Thank you so much for this beautiful theme. This is my first time coding and using git, and your documentation has been very detailed and helpful. However, I ran into a problem which I have not been able to solve after looking through related issues like [this](https://github.com/lxndrblz/anatole/issues/64) and [this](https://github.com/luizdepra/hugo-coder/issues/160), so I decided to open this i

[2022-04-24 15:03] lxndrblz commented on #351
Hi there,

I suspect you would need to set baseURL to https://xiyinx.github.io/xiyinsheng.github.io/ as this is where the site is currently located (the Git rep). Hop that helps.

[2022-04-24 20:36] Cathrineee opened #352 "Navigating dropdown menu displaying error"
**Describe the bug**
When having two dropdown menus in the navigating bar, clicking on the second menu displays the first dropdown menu.

**To Reproduce**

See [my website](http://student.cs.uwaterloo.ca/~z374zhou/), when clicking on the ```Projects``` tab, the dropdown menu of ```Notes``` appears.

My code is at <https://github.com/Cathrineee/CKive>.

**Desktop (please complete the following info

[2022-04-25 00:50] Xiyinx commented on #351
It worked! You are right, the problem was with the baseurl. I was confused about the difference between GitHub user pages and project pages, and thus didn't know which one to use in the `config.toml` file.

You brought good luck to me! Thank you for the super prompt reply and great help Alex. I really appreciate it.

[2022-04-25 00:50] #351 closed

[2022-04-25 21:23] guidemetothemoon commented on #352
I can look into it this week☺️

[2022-04-30 10:14] lxndrblz commented on #346
@yujinyuz Thanks for raising this error. I was able to reproduce it and I am currently trying to resolve it.

[2022-05-02 20:40] guidemetothemoon commented on #352
The issue has now been identified and will be resolved with the PR linked above.

[2022-05-13 18:46] #352 closed

[2022-05-15 09:29] JacksonK9 opened #356 "I cannot see my SocialIcon on github.io"
**Describe the bug**
Hello, I can see my SocialIcon on the localhost
But, when I upload to the github.io, I cannot see my SocialIcon

**To Reproduce**
Steps to reproduce the behavior:

This is my blog - https://github.com/JacksonK9/blog
Can you check my data?

**Screenshots**
this is my localhost
![image](https://user-images.githubusercontent.com/20558677/168466107-47eeeb47-09f5-47a5-9d92-bd10cc8c

[2022-05-17 05:56] A-d-r-i opened #357 "Failed to create static pages with custom css"
**Describe the bug**
After adding parameter `customCss=["css/custom.css"]` in `config/_default/params.toml`, hugo -D command failed

**To Reproduce**

- add `assets/css/custom.css` in root of site
- add/uncomment `customCss=["css/custom.css"]` in `config/_default/params.toml`
- hugo -D
- see error (*always the same with the 3 repetitions at the beginning*) :

[code]

**Expected behavior**
Build st

[2022-05-17 14:13] A-d-r-i commented on #357
All is good! Apparently I had incorrectly specified the access path to my .css file in `params.toml`. No more worries!

[2022-05-17 14:13] #357 closed

[2022-05-19 20:39] jforman opened #360 "Add Mermaid diagram support"
**Is your feature request related to a problem? Please describe.**
I love the anatole hugo template, and the ability to have a wide content area. I would like to include Mermaid diagrams (https://mermaid-js.github.io/mermaid/#/) as part of my posts which often contain technical information where a diagram is incredibly helpful to have.

**Describe the solution you'd like**
Ability to enable mermai

[2022-05-20 01:39] jforman commented on #360
I believe I have mermaid support correctly added with my updates to https://github.com/lxndrblz/anatole/pull/359. Thanks!

[2022-05-21 09:33] lxndrblz commented on #356
Hi there,

the reason why they do not appear correctly is because of an integrity error.

![image](https://user-images.githubusercontent.com/12200062/169645287-3575fcd4-d1ec-4c6d-8581-5cd6a7ba4555.png)

Which version of the theme are you currently using?
Additionally, you could check out this issue:

https://github.com/lxndrblz/anatole/issues/114

Hope that helps.

[2022-05-21 09:48] #360 closed

[2022-05-22 02:24] JacksonK9 commented on #356
After check your comment, I updated to the lastest version.
And I checked the line endings.
It works!

Thank you
I love your theme 👍

[2022-05-22 02:24] #356 closed

[2022-05-23 10:30] drainuzzo opened #362 "Got some errors in the last 2 versions (about after february'22)"
**Describe the bug**
From a couple of updates ago I got this error when starting Hugo from my local Windows:

Complete message is:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Updated local Anatole repo from vscode terminal
2. Started hugo server -D
3.  Got errors

**Expected behavior**
Hugo local server stared without errors

**Screenshots**
If applicable, add screenshots to help

[2022-05-25 09:15] WinOpsDBA opened #363 "Problem with Syntax Highlighting - white background"
**Describe the bug**
White highlight in a code section (see screenshot)

**To Reproduce**
Install the theme as per instruction.
Test with another theme and it is working fine

**Expected behaviour**
Code highlights without white bacground

**Screenshots**
![code_higlighting](https://user-images.githubusercontent.com/48262075/170225919-7d54f87a-98eb-4911-a86f-45b316f7214e.png)

**Desktop (please co

[2022-05-25 09:16] WinOpsDBA commented on #363
I am new to the Hugo, please help.

[2022-05-26 10:21] JacksonK9 opened #364 "How to use table in markdown"
**Describe the bug**
Hello
Thanks for your nice theme.
BTW, Can I use table in anatole?
When I upload to github, same markdown works well, but In anatole, It looks something weird.

![image](https://user-images.githubusercontent.com/20558677/170469243-0f5ef24e-0eb6-4113-8268-1a442b21eade.png)
![image](https://user-images.githubusercontent.com/20558677/170469266-d8807f43-da27-432b-96ab-78ca3ec0501d

[2022-05-26 15:44] lxndrblz commented on #364
Hi there,

the reason why your table looks different is because Anatole currently does not ship with a style for tables and therefore tables will be styled like default HTML tables.

You can either create a custom CSS for yourself or open a PR if you want to see a specific style being added.

[2022-05-26 15:46] lxndrblz commented on #363
@WinOpsDBA What's the snippet that you had used?

[2022-05-26 15:53] lxndrblz commented on #362
The error appears to be caused by the integration of opengraph.

Would you mind adding `series = "series"` to your taxonomy section as shown here?

https://github.com/lxndrblz/anatole/wiki/%F0%9F%93%84-Content-Settings#post-series

For further reading see:
https://github.com/lxndrblz/anatole/pull/327

[2022-05-26 17:50] WinOpsDBA commented on #363
I am using it for terraform code.

[2022-05-29 15:06] lxndrblz commented on #363
@WinOpsDBA  Hi there, I tried to reproduce your error, but only got this result:

![image](https://user-images.githubusercontent.com/12200062/170876347-df919adc-cec2-418b-9370-a73b29a81a95.png)

I had used the following snippet in the latest theme:
![image](https://user-images.githubusercontent.com/12200062/170876362-5491ffba-07ce-47ef-81d9-57e73dd24413.png)

I am wondering what you might have don

[2022-06-01 21:25] cedricbonhomme opened #366 "Trim the whitespace from the HTML meta tags"
Would you mind if I make a PR in order to trim the whitespaces from the HTML meta tags ?
Thanks to the hyphen feature:
https://gohugo.io/templates/introduction/#whitespace

For example lines 31 and 35 here:
https://github.com/lxndrblz/anatole/blob/master/layouts/partials/head.html#L28-L39=

I have tested it, it works well.

And maybe also here:
https://github.com/lxndrblz/anatole/blob/master/layou

[2022-06-03 14:52] JacksonK9 commented on #364
Hello there.

I tried to change the style of table, But I don't know where to change.

I tried with themes\anatole\assets\scss\partials\components\_post.scss

Is this file not correct for changing these table style?

or, Do I have to delete public folder and retry to build?

Could you give me some hints for me?

[2022-06-04 03:41] JacksonK9 commented on #364
I change my config.toml and head.html, so It works for my page.

But I don't know how to Pull Request these function.

please give me some hints for Pull Requests.

[2022-06-08 07:16] WinOpsDBA commented on #363
Good morning @lxndrblz,
Would you like to try it with monokailight, please?

my current config
[code]

When I look at the website generated by Hugo server I can see the following
![server](https://user-images.githubusercontent.com/48262075/172554716-d7d993fd-8713-405d-97cf-e620ae3c8a9c.png)

When I open a static website from the drive I ma getting this
![static](https://user-images.githubuserconte

[2022-06-10 15:10] lxndrblz commented on #366
@cedricbonhomme Would you mind opening a PR?

Thanks.

[2022-06-10 15:11] lxndrblz commented on #363
@WinOpsDBA It seems you are loading a custom css file. Did you try the code highlighting that [comes ](https://github.com/lxndrblz/anatole/blob/master/assets/css/markupHighlight.css) with Anatole?

[2022-06-12 07:41] cedricbonhomme commented on #366
Hello,
Yes, it's done #367 . Thanks !

[2022-06-12 16:35] martinolmos commented on #363
I have a similar issue. Bottom line is that the highlighting style is different than what is supposed to be.
I understand that the default Chroma style for Anatole is Monokailight. This is how this theme should look like according to [this Chroma style gallery](https://xyproto.github.io/splash/docs/all.html):

<img width="435" alt="image" src="https://user-images.githubusercontent.com/19807456/173

[2022-06-13 18:36] #366 closed, assigned to lxndrblz

[2022-06-13 19:20] martinolmos commented on #363
Ok, I see in the image that you provided that the colours are correct, but the font family is different, right?

[2022-06-14 10:25] JacksonK9 commented on #364
I didn't mean I don't know how to Pull Request.

I meant that I don't know where to update the anatole theme for update the css style for table.

[2022-06-16 10:43] McPringle opened #368 "Disable title capitalization"
**Is your feature request related to a problem? Please describe.**
In some languages using capitalization of titles looks awesome because they have strict rules and capitalization is not a style, but a meaning (e.g. capitalized words are nouns).

**Describe the solution you'd like**
Please don't use the "title" processor in the template file. Use CSS instead. That makes it much easier to change th

[2022-06-17 14:56] McPringle opened #369 "Missing translation on "series" page"
**Describe the bug**
Today I enabled the series taxonomy in my multi-language blog and recognized the heading "Posts in this Series" is not translated.

**To Reproduce**
Steps to reproduce the behavior:

1. Enabled the series taxonomy
2. Go to a blog post that is part of a series
3. Scroll down to the end of the page
4. See hard-coded text "Posts in this Series"

**Expected behavior**
I would expe

[2022-06-18 09:21] McPringle commented on #369
For now, I use a dirty hack that might be of interest to other users:

[code]

It's not nice but at least it works (for most users, if they have JavaScript enabled on my domain).

[2022-06-21 00:21] DonaldNA commented on #364
@JacksonK9

I'm pretty sure you don't need to modify the scss files. Just add a custom css as detailed in the documentation [here](https://github.com/lxndrblz/anatole/wiki/%E2%9E%95-Custom-JavaScript-and-CSS).

[2022-06-21 00:26] JacksonK9 commented on #364
@DonaldNA
Yeah, I'm already in use of custom css
I mean this is for enhancement of theme.
If not needed, I will close this issue.

[2022-06-21 10:50] lxndrblz commented on #369
@McPringle Thanks for pointing this out. I agree, this should be added to the translation files.

[2022-06-21 11:11] lxndrblz commented on #368
@McPringle Would you mind opening a PR with the proposed change?

[2022-06-28 16:46] lxndrblz commented on #364
@JacksonK9 The appropriate way of adding your changes would be to create a "_table.scss" file in the vendors folder. This file would then be linked within the main.scss.

[2022-06-28 16:51] lxndrblz commented on #363
@martinolmos Correct. This should be a serif/monospace font.

[2022-06-28 17:43] #369 closed, assigned to lxndrblz

[2022-06-29 07:19] McPringle commented on #369
Wow, that was quick! Thank you very much!

[2022-06-29 09:02] McPringle commented on #368
Next week we are doing a [Hackergarten in Lucerne](https://www.meetup.com/hackergarten-luzern/events/286786888/) and I'll suggest this issue as a topic.

[2022-07-04 03:16] omenos opened #374 "Add Font Awesome Regular variant"
Due to how Font Awesome is now bundled with the theme (I'm updating from 1.5), a number of glyphs are no longer available as the required fonts are not provided. Only the FA Brands (`fab`) and FA Solid (`fas`) assets are provided, leaving out the third primary asset of FA Regular (`far`).

[2022-07-24 08:19] #362 closed

[2022-08-07 16:17] JacksonK9 commented on #364
I am trying to update the table.scss file

By the way, Can you tell me where to find how to rebuild the theme?

I changed the table.scss file, but It does not update automatically, So I want to rebuild the theme for check.

[2022-08-09 10:54] lxndrblz commented on #364
@JacksonK9  Make sure to add it the `table.scss` to the `main.scss`. Afterwards, if you run it using hugo serve, all changes should be display automatically.

[2022-09-10 15:57] francisafu opened #378 "Race Condition Between highlight.js and mermaid.js"
**Describe the bug**
When enable syntax highlight and mermaid both, mermaid could not rendered correctly.

**To Reproduce**
Steps to reproduce the behavior:

1. Enable Syntax Highlight
2. Enable Mermaid
3. Use Code Blocks with Mermaid
4. See error, Mermaid Rendered as Normal Code

**Expected behavior**
Expected to be rendered correctly

![mermaid](https://user-images.githubusercontent.com/19246730

[2022-09-11 05:36] francisafu commented on #378
Well, after I updated to the latest version, I found that problem solved.

[2022-09-11 05:36] #378 closed

[2022-09-19 21:52] KourosZanbouri commented on #214
@lxndrblz I am having the same issue. Can you elaborate clearly on how I can add Academicons to my theme?

I added Anatole as a submodule; I forked your git and changed the submodule to my fork ( to push my changes to theme locally )
what should I do now ?! Please be specific

[2022-09-20 17:14] #363 closed

[2022-09-20 21:41] jaestevan opened #380 "Please create a partial for ToC"
**Is your feature request related to a problem? Please describe.**

Not having a partial for ToC it is impossible to customize the markup on my posts

**Describe the solution you'd like**

Change `single.html` file to use a `partial` template file for `.Params.toc`, as it's doing with series or related posts.

[2022-09-21 17:45] lxndrblz commented on #380
@jaestevan It is already implemented. You can activate by setting `.Params.toc` to true.

[2022-09-23 12:52] ericswpark commented on #368
I just realized what @McPringle meant by the capitalization problem and once I noticed it I really wish we could turn it off, as it mangles some of my blog post titles.

@lxndrblz could we make it an option to disable title capitalization in single pages?

[2022-09-23 13:21] McPringle commented on #368
Unfortunately, this issue was not picked up at the Hackergarten. But winter is coming with more evenings at home... ;-)

[2022-09-23 23:09] jaestevan commented on #380
What I mean is at file https://github.com/lxndrblz/anatole/blob/v1.9.0/layouts/_default/single.html, line 45

      {{- if (eq .Params.toc true) -}}
        <h3>Table of Contents</h3>
        {{ .TableOfContents }}

There is no use of a partial template, like for example at line 54

      {{- if isset .Params "series" -}}
        {{- partial "series.html" . -}}

And then there is no option to crea

[2022-09-27 20:22] jaestevan commented on #380
@lxndrblz I sent a pull request with a very small change to fix this issue.

I think I also included what I was expecting to be a different PR. Sorry about that, still new with GitHub. Still I think this second change is also simple but useful.

Thanks,
JA.

[2022-09-28 18:07] lxndrblz commented on #380
@jaestevan Hi there, I've opened a separate PR for your other adjustment. Please only do one topic at a time.

[2022-10-02 08:06] McPringle opened #384 "Broken language selector style after update to v1.11.0"
**Describe the bug**
After my update from v1.10.0 to v1.11.0 the language selector style is broken. It does not show a dropdown as expected. It is now shown as a (misaligned) list.

**To Reproduce**
Steps to reproduce the behavior:

1. Update theme to v1.11.0
2. Run `hugo server`

**Expected behavior**
The language selector should still be shown as a dropdown.

**Screenshots**
Screenshot with them

[2022-10-03 16:07] Sohn123 opened #387 "Broken print layout"
**Describe the bug**
The print version of the pages look broken. The sidebar interferes with the content.

**To Reproduce**
Go to the home page and press `ctrl+p` and take a look at the layout.

**Expected behavior**
A concise print layout.

**Screenshots**
![image](https://user-images.githubusercontent.com/39831045/193625585-71aff18e-7dd2-4d3e-b8bb-7424ce1fc925.png)

**Desktop (please complete th

[2022-10-12 09:14] Sohn123 commented on #387
I took a quick look today, and it seems like the root cause of the problem is that the desktop style gets partly applied to the print layout. By removing the mixedin `desktop_and_print` and just using `desktop` instead, the print layout appears to be fixed.

[2022-10-15 10:39] lxndrblz commented on #387
@Sohn123 Can you send me a PR with your changes?

[2022-10-15 10:41] lxndrblz commented on #384
@McPringle  Thanks for reporting this issue. I am having trouble reproducing it on any of my systems. Do you have a link which shows the issue in action?

[2022-10-17 09:44] McPringle commented on #384
The repository is private, I'll prepare a minimal example for you soon.

[2022-10-22 06:55] erbaafidotama opened #393 "Error when try to update"
Hello.
Thanks for make amazing hugo theme. I use anatole for my personal blog.

**Describe the bug**
I try to update my anatole theme with run this command in my terminal.
`hugo mod get -u github.com/lxndrblz/anatole`
but it showing error:
`go: go.mod file not found in current directory or any parent directory.
        'go get' is no longer supported outside a module.
        To build and install

[2022-10-22 14:11] lxndrblz commented on #393
@lxndrblz Can you please confirm that you executed the command in the correct directory? Based on the error message it sounds as the mod go.mod file could not be located.

[2022-10-23 00:24] erbaafidotama commented on #393
go.mod? Sorry, Am i must run `go mod init` before update?

[2022-10-23 03:50] erbaafidotama commented on #393
This problem solved, with run `go mod init`.
Thanks @lxndrblz

[2022-10-23 03:50] #393 closed

[2022-10-29 05:09] ericswpark opened #395 "Better theme switcher with dropdown"
**Is your feature request related to a problem? Please describe.**
The current theme switcher button just switches between light mode and dark mode, and saves the preference semi-permanently in the user's local storage. There's no way to get the website to follow the system theme.

**Describe the solution you'd like**
Change the theme switcher button into a theme switcher "dropdown" with the follo

[2022-11-10 17:36] joefutrelle commented on #346
I'm seeing this in non-mobile browsers as well. Here's a screenshot from the demo site showing that most of the syntax-colored code is not rendered in a fixed-width font.

![image](https://user-images.githubusercontent.com/2365298/201166730-d239b952-78c9-4ad0-a73f-9792e518c295.png)

[2022-11-13 07:58] v-glb opened #397 "Multilanguage for portfolio?"
**Is your feature request related to a problem? Please describe.**
Hi, I really love the theme so far!

I have a question regarding multilanguage feature: Can it also be applied to the portfolio page and if so, how? It seems like that it doesn't work for it, at least I have noticed on the example site that the language switch disappears when navigation to the portfolio and couldn't get it to work

[2022-11-18 15:34] #380 closed

[2022-11-19 12:51] McPringle opened #399 "In v1.11.0 social profile links are missing the "rel=me" attribute"
**Describe the bug**
Until v1.10.0 social profile links had the "rel=me" attribute:
![image](https://user-images.githubusercontent.com/1254039/202851260-4aa3804a-94a3-471e-8d90-ba84be64eff8.png)

In v1.11.0 this attribute is missing:
![image](https://user-images.githubusercontent.com/1254039/202851308-aeb0b814-1ad7-499d-a82f-cb13d43217b5.png)

This attribute is important for verification, e.g. Mas

[2022-11-19 13:21] McPringle commented on #384
I made the repository of my website public. There is nothing to hide in there. :-)

The repository URL is: https://github.com/McPringle/mcpringle.github.io
The website address (GitHub Pages) is: https://fihlon.swiss/en/

I guess it has to do with changes in `navbar.html`. There was a refactoring of the language selector on February 5th and 6th this year, right between the releases of v1.10.0 and v

[2022-11-19 14:11] McPringle commented on #313
I found a good solution for this: Create a file `layouts/alias.html` with the following content:

[code]

Modify the title, canonical URL, and language redirection/selection as needed.

[2022-11-19 14:11] #313 closed

[2022-11-19 16:22] lxndrblz commented on #399
@McPringle I have taken care of this bug yesterday in PR #394. I will soon be creating a new release.

[2022-11-25 17:38] gusper commented on #20
@lxndrblz This helped me understand why the highlighting wasn't working on my site. I tried to add a note to the wiki and push back but I'm either failing that IQ test or just don't have access to do so. Adding a note here instead in case you think adding a note about the trailing slash to the wiki is worthwhile.

[2022-11-25 18:57] lxndrblz commented on #20
@gusper Can you please send your note here? The wiki is not publicly writable.

[2022-11-25 21:05] gusper commented on #20
Sure. Was just going to add something along the lines of:

To this section of the [Essential Steps](https://github.com/lxndrblz/anatole/wiki/1%EF%B8%8F%E2%83%A3-Essential-Steps#setting-up-the-navigation-items) page.

[2022-11-26 15:30] lxndrblz commented on #399
@McPringle This attribute has been readded in 1.12.

https://github.com/lxndrblz/anatole/releases/tag/v1.12.0

[2022-11-26 15:30] #399 closed